<div class="tasks form">
<?php echo $this->Form->create('Task'); ?>
	<fieldset>
		<legend><?php echo __('Admin Add Task'); ?></legend>
	<?php
		echo $this->Form->input('description');
		echo $this->Form->input('employee_id');
		echo $this->Form->input('requestedby_employee_id');
		echo $this->Form->input('requestedby_cust_pers_id');
		echo $this->Form->input('requestedby_cust_acct_id');
		echo $this->Form->input('creation_date');
		echo $this->Form->input('requested_completion_date');
		echo $this->Form->input('completion_date');
		echo $this->Form->input('status');
		echo $this->Form->input('urgency');
		echo $this->Form->input('note');
		echo $this->Form->input('ms_access_creation_dt');
		echo $this->Form->input('ms_access_random_num');
		echo $this->Form->input('floor_id');
		echo $this->Form->input('area');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Tasks'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Employees'), array('controller' => 'employees', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Employee'), array('controller' => 'employees', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Floors'), array('controller' => 'floors', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Floor'), array('controller' => 'floors', 'action' => 'add')); ?> </li>
	</ul>
</div>
