<div class="moveoutCustomers view">
<h2><?= __('Moveout Customer'); ?></h2>
	<dl>
		<dt><?= __('Id'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['id']); ?>&nbsp;</dd>
		<dt><?= __('Customer Account'); ?></dt>
		<dd><?= $this->Html->link($moveoutCustomer['CustomerAccount']['name'], array('controller' => 'customer_accounts', 'action' => 'view', $moveoutCustomer['CustomerAccount']['id'])); ?>&nbsp;</dd>
		<dt><?= __('Move Out Date'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['move_out_date']); ?>&nbsp;</dd>
		<dt><?= __('Close Out Date'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['close_out_date']); ?>&nbsp;</dd>
		<dt><?= __('Security Deposit Address Line 1'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['security_deposit_address_line_1']); ?>&nbsp;</dd>
		<dt><?= __('Security Deposit Address Line 2'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['security_deposit_address_line_2']); ?>&nbsp;</dd>
		<dt><?= __('Security Deposit City'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['security_deposit_city']); ?>&nbsp;</dd>
		<dt><?= __('Security Deposit State'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['security_deposit_state']); ?>&nbsp;</dd>
		<dt><?= __('Security Deposity Zipcode'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['security_deposit_zipcode']); ?>&nbsp;</dd>
		<dt><?= __('Num Keycards Returned'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['num_keycards_returned']); ?>&nbsp;</dd>
		<dt><?= __('Num Metal Keys Returned'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['num_metal_keys_returned']); ?>&nbsp;</dd>
		<dt><?= __('Is Using Moving Company'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['is_using_moving_company']); ?>&nbsp;</dd>
		<dt><?= __('Move Out Requestor Id'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['move_out_requester_id']); ?>&nbsp;</dd>
		<dt><?= __('Created'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['created']); ?>&nbsp;</dd>
		<dt><?= __('Modified'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['modified']); ?>&nbsp;</dd>
		<dt><?= __('All Keycards Returned Dt'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['all_keycards_returned_dt']); ?>&nbsp;</dd>
		<dt><?= __('All Keycards Returned Employee Id'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['all_keycards_returned_employee_id']); ?>&nbsp;</dd>
		<dt><?= __('All Metalkeys Returned Dt'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['all_metalkeys_returned_dt']); ?>&nbsp;</dd>
		<dt><?= __('All Metalkeys Returned Employee Id'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['all_metalkeys_returned_employee_id']); ?>&nbsp;</dd>
		<dt><?= __('Coi Submitted Dt'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['coi_submitted_dt']); ?>&nbsp;</dd>
		<dt><?= __('Coi Submitted Employee Id'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['coi_submitted_employee_id']); ?>&nbsp;</dd>
		<dt><?= __('Coi Approved Dt'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['coi_approved_dt']); ?>&nbsp;</dd>
		<dt><?= __('Coi Approved Employee Id'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['coi_approved_employee_id']); ?>&nbsp;</dd>
		<dt><?= __('Moved Out Dt'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['moved_out_dt']); ?>&nbsp;</dd>
		<dt><?= __('Moved Out Employee Id'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['moved_out_employee_id']); ?>&nbsp;</dd>
		<dt><?= __('Security Deposit Sent Dt'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['security_deposit_sent_dt']); ?>&nbsp;</dd>
		<dt><?= __('Security Deposit Sent Employee Id'); ?></dt>
		<dd><?= h($moveoutCustomer['MoveoutCustomer']['security_deposit_sent_employee_id']); ?>&nbsp;</dd>
	</dl>
</div>
