<html>
  <head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style>
      .error_div {
      color: red;
      }

      .formWrap {
      border: solid 1px #c2c8cd;
      background-color: #fff;
      }
    </style>
  </head>

  <body>

    {% if errors %}
    {% for error in errors %}
    <div class='error_div'>{{ error }}</div>
    {% endfor %}
    {% endif %}


    <div class="outerWrap">
      <form action="{{ url_for('parse_coalition_form') }}" method="post" onsubmit="populate_hidden_referrer()">
	<div class="formWrap">
	  {{ form.hidden_tag() }}
	  <table>
	    {% macro render_field(field) -%}
	    <tr>
	      <td>{{ field.label }}</td>
	      <td>{{ field }}</td>
	    </tr>
	    {% if field.errors %}
	    {% for error in field.errors %}
	    <tr>
	      <td colspan='2' class='error_div'>{{ error }}</td>
	    </tr>
	    {% endfor %}
	    {% endif %}
	    {% endmacro %}

	    {{ render_field(form.name) }}
	    {{ render_field(form.email) }}
	    {{ render_field(form.phone) }}
	    {{ render_field(form.city) }}
	    {{ render_field(form.referrer) }}
	    {{ render_field(form.comments) }}
	    <tr>
	      <td colspan='2'><div class="g-recaptcha" data-sitekey="6LeQWwsUAAAAADmG77Tl1daAABcxO24opAlLyG_H"></div></td>
	    </tr>
	    <tr>
	      <td></td><td>{{ form.submit }}</td>
	    </tr>
	  </table>
	</div>
      </form>
      <button onclick='alert(get("referrer"))'>click</button>
      <script>
	function populate_hidden_referrer() {
	document.getElementById('http_referrer').value = get('referrer');
	document.getElementById('http_landing').value = get('landing');
	}
	function get(name){
	/** parses the value for a given request.GET argument **/
	if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
	return decodeURIComponent(name[1]);
	}
      </script>
    </body>
  </html>
