<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Customer submission display</title>
	</head>
	<body>
		<h3> You have successfully submitted yout information. We will reach you as soon as possible. </h3>
		<br></br>
		<h4>Here are your submission details:</h4>
		<table>
			{% for value in values %}
			<tr>
				<th>{{ value[0] }}</th>
				<td>{{ value[1] }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>