<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style>
      .container {
        margin: 10px auto 10px auto;
        text-align: center;
        max-width: 800px;
        border: 1px solid black;
      }
      .flash-error {
        color: #cc0000;
        border: 1px solid #a94442;
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
      }
      .flash-recent {
        color: #00cc00;
        border: 1px solid #44a942;
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #84ce83;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #84ce83;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #84ce83;
      }
      .flash {
        text-align: center;  
        outline-offset: -2px;
        padding: 20px;
        width: 50%;
        margin: 10px auto;
      }
    </style>
  </head>
  <body>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% for error in errors %}
      <div class="flash flash-error">Error: {{error|safe}}</div>
    {% endfor %}
    {% endwith %}
    {% with recents = get_flashed_messages(category_filter=["recent"]) %}
    {% for recent in recents %}
      <div class="flash flash-recent">{{recent|safe}}</div>
    {% endfor %}
    {% endwith %}
  </body>
</html>