<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style>
      .container {
        margin: 10px auto 10px auto;
        text-align: center;
        max-width: 800px;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      {% include 'contactform.html' %}
    </div>
  </body>
</html>
