<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
     <script>
     function populate_hidden_referer() {
       document.getElementById('http_referer').value = get('href');
       document.getElementById('http_landing').value = get('landing');
     }
     function get(name){
       /** parses the value for a given request.GET argument **/
       if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
        return decodeURIComponent(name[1]);
      }
      function onSubmit(token) {
        populate_hidden_referer();
        document.getElementById("contact-form").submit();
      }
      
     </script>
<style>
  .error_div {
    color: #cc0000;
    border: 1px solid #a94442;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  }
  
  .formWrap {
    text-align: center;
    padding: 15px;
  }

  input.form-control, textarea.form-control, input.form-control:focus, textarea.form-control:focus {
    padding: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    line-height: 24px;
    background: #f9f9f9;
    width: 100%;
    font-size: 14px;
    color: #48484A;
    border: solid 1px #ccc;
    padding: 10px 10px;
    box-shadow: inset 0 0 10px #EAEAEA;
  }
  .form-group {
    vertical-align: top;
  }
  
  .btn {
    height: 50px;
    width: 180px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    background-color: #00c3b5;
    color: white;
  }
  
  .btn:hover {
    background-color: #4B4B4B;
  }

</style>

{% macro render_field(field, class='') %}
{% if field.name == 'comments' or style == 'vertical' %}
{% set format_class = 'col-sm-12' %}
{% else %}
{% set format_class = 'col-sm-6' %}
{% endif %}
{% if field.errors %}
  <div class="form-group {{ class }} has-error has-feedback {{format_class}}" target="{{target}}">
{% else %}
  <div class="form-group {{ class }} {{format_class}}" target="{{target}}">
    <tr style="height: 42px;">
{% endif %}
  {{ field(class="form-control") }}
{% if field.errors %}
      <span class='glyphicon glyphicon-remove form-control-feedback' aria-hidden='true'></span>
{% endif %}
    </tr>
  </div>
{% if field.errors %}
  <div class="form-group has-error error-div {{format_class}}" style="display:table">
    <label class="form-control">
      {%- for error in field.errors %}
      <span>{{ error }}</span><br>
      {%- endfor %}
    </label>
  </div>
{% else %}
  <div class="form-group has-error error-div {{format_class}}" style="display:none;"></div>
{% endif %}
{% endmacro %}

<div class="formWrap"> 
  <form id='contact-form' action="{{ url_for('submit_form', _external=True) }}" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if not (field.type == "HiddenField" or field.name == "submitForm") %}
    {% if field.name != 'comments'%}
      {% if loop.index is odd %}
        <div class='form-row'>
          {{ render_field(field) }}
      {% else %}
          {{ render_field(field) }}
        </div>
      {% endif %}
    {% else %}
      {% if loop.index is odd %}
        <div class='form-row'>
          {{ render_field(field) }}
        </div>
      {% else %}
        </div>
        <div class='form-row'>
          {{ render_field(field) }}
        </div>
      {% endif %}
    {% endif %}
    {% endfor %}
    {% if form.fields|count is even %}
      </div>
      <div class='form-row'>
    {% endif %}
    {{ form.submitForm(class='btn btn-submit g-recaptcha', **{'data-sitekey':'6LcTImIUAAAAANQKAfzHxQnigKQpfA9Q09Pl8mrz','data-callback':'onSubmit'}) }}
    </div>
  </form>
</div>