
<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Error submitting form</title>
	</head>

	<body>
		<div padding="20px 20px 20px 20px">
		<h3 style = "color: red;">Error Message: </h3>
		<h4 style = "color: red;">{{ errorMes }}</h4>

		<h4><a href = "{{ webpage }}">Go back</a></h4>
		</div>
	</body>
</html>