<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
    form {
      margin: 30px;
    }
    
    form div {
      margin: 15px;
    }
    .field {
      font-weight: 800;
    }
    
    .error {
      color: red;
    }
    </style>
    <title>Micro Office - Generate Contact Form</title>
  </head>
  <body>
    {% macro render_field(field) %}
      <div class='field'>{{ field.label }}</br>
      {{ field }}</div>
      {% if field.errors %}
        <div class="field error">
          {%- for error in field.errors %}
          <span>{{ error }}</span><br>
          {%- endfor %}
        </div>
      {% endif %}
    {% endmacro %}
    <form method="POST" action="{{ url_for('form_creator') }}">
      <table>
      {{ form.hidden_tag()}}
      {{ render_field(form.fields) }}
      <div> 
        <p>A list of fields you wish to include in the form. First name, last name, email, and phone are always included and do not need to be specified. Referrer is "How Did You Hear About Us" as a dropdown of options, Referrer (Other) is a text field.</p>
      </div>
      {{ render_field(form.style) }}
      {{ render_field(form.dst_emails) }}
      <div>
      {{ form.submitForm }}
      </div>
      </table>
    </form>
  </body>
</html>