<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Customer submission display</title>
	</head>
	<body>
		<h3>お問い合わせいただき、誠にありがとうございます。</h3>
		<h3>ご入力いただいた情報は送信されました。担当者が追ってご連絡差し上げますので、しばらくお待ちください。</h3>
		<h3>Thank you for contacting us.</h3>
		<h3>You have successfully sumitted your information. We will reach you as soon as possible.</h3>
		<br></br>
		<h4>ご入力いただいた内容：</h4>
		<h4>Here are your submission details:</h4>
		<table style="padding:20px; text-align: left;">
			{% for value in values %}
			<tr>
				<th>{{ value[0] }}</th>
				<td>{{ value[1] }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>