<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Japan New Customer Form</title>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
		<script src='http://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js'></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>

	<body>
		<h3>Please fill in the information below. We will contact you as soon as possible</h3>
		<form action="{{ contact_base_url }}/parse_contact1" method="post" id="Japan_information">

			<label for="first_name">First Name: </label>
			<input type="text" id="first_name" name="first_name">
			<br></br>

			<label for="last_name">Last Name: </label>
			<input type="text" id="last_name" name="last_name">
			<br></br>

			<label for="company_name">Company Name: </label>
			<input type="text" id="company_name" name="company_name">
			<span>(optional)</span>
			<br></br>

			<label for="email_addr">Email Address: </label>
			<input type="text" id="email_addr" name="email_addr">
			<br></br>

			<label for="work_phone">Work Phone Number: </label>
			<input type="text" id="work_phone" name="work_phone">
			<span>(optional)</span>
			<br></br>

			<label for="desired_location">Desired Location: </label>
			<select id="desired_location" name="desired_location">
				<option value=""> -- select a location -- </option>
				<option value="New York">New York</option>
				<option value="Boston">Boston</option>
				<option value="Chicago">Chicago</option>
				<option value="BOS-101Arch F19">Boston - 101 Arch Street, Floor 19</option>
			</select>
			<span>(optional)</span>
			<br></br>

			<label for="message">message: </label>
			<textarea name="comment" rows="4" cols="40"></textarea>
			<span>(optional)</span>

			<div class="g-recaptcha" data-sitekey="6LeQWwsUAAAAADmG77Tl1daAABcxO24opAlLyG_H"></div>

			<input id="submitForm" type="submit", name="submitForm">
			<br></br>
		</form>

		<script type="text/javascript">
			// validate each field
			$("#Japan_information").validate({
				rules: {
					first_name: {
						required: true
					},
					last_name: {
						required: true
					},
					email_addr: {
						required: true,
						email: true
					}
				}
			});
		</script>
	</body>
</html>