table, td {
    border: 1px solid black;
}

table {
	text-align: center;
}

.info {
    float: left;
	width: 50%;
}	

.table {
	width: 100%;
	float: left;

}

.table2 {
	margin-right: 15%;
	margin-left: auto;
}		

.wrapper {
    width: 1111px;
	margin: auto;
}	
