{% macro render_integer_field(name, value) %}
<td>
  <input name="{{ name }}"
	 id="{{ name }}"
	 type="number"
	 min="0"
	 max="999"
	 step="1"
	 value="{{ value }}"/>
</td>
{% endmacro %}

{% macro render_custom_money_field(name, value) %}
{# Expects just a name and value. For use in custom-generated fields and not field objects #}
<td>
  <input name="{{ name }}"
	 id="{{ name }}"
	 value="{{ value }}"
	 type="number"
	 min="0.00"
	 max="99999.99"
	 step="0.01"/>
</td>
{% endmacro %}

{% macro render_money_field(field) %}
{# Expects an object #}
<tr>
  <td>{{ field.label }}</td>
  <td>{{ field(min=0, max=99999) }}</td>
</tr>
{% endmacro %}

{% macro render_date_field(name, value) %}
<td>
  <input name="{{ name }}"
	 id="{{ name }}"
	 value="{% if value %}{{ value }}{% endif %}"
	 type='date'/>
</td>
{% endmacro %}

{% macro render_row(label, value) %}
<tr>
  <td>{{ label }}</td>
  <td>{{ value }}</td>
</tr>
{% endmacro %}
