<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="https://operations.microoffice.com/1g/css/operations.css"/>
    <link href="{{ static_base_url }}/operations_flask/css/access_code.css" rel="stylesheet" />
    <script src="{{ static_base_url }}/operations_flask/js/access_code.js"></script>
    <title>Micro Office - Generate Network Access Code</title>
  </head>
  <body>
<div id="content">
<form action="{{ url_for('access_code') }}" method="POST">
<table>
{{ form.hidden_tag() }}
{% from '_formhelpers.html' import render_field, render_button %}
{{ render_field(form.first_name, required=False) }}
{{ render_field(form.last_name, required=False) }}
{{ render_field(form.company, required=False) }}
{{ render_field(form.email) }}
{{ render_field(form.phone, required=False) }}
{{ render_field(form.building) }}
<tr><td colspan="2" style='text-align: center;'><h4 class="centered">How long with the network access last?</h4></td></tr>
{{ render_field(form.duration, required=False, class="left") }}
<tr><td colspan="2" style='text-align: center;'><h4 class="required_field centered">OR</span></td></tr>
{{ render_field(form.rel_end, required=False) }}
<tr><td colspan="2" style='text-align: center;'><button type="button" class="btn" onClick="toggleAdvanced()">Advanced Fields</a></td></tr>
{% if form.not_before.errors or form.code_expire.errors or form.how_many_codes.errors %}
{{ render_field(form.not_before, required=False) }}
{{ render_field(form.code_expire, required=False) }}
{{ render_field(form.how_many_codes, required=False) }}
{% else %}
{{ render_field(form.not_before, required=False, rowClass="advanced") }}
{{ render_field(form.code_expire, required=False, rowClass="advanced") }}
{{ render_field(form.how_many_codes, required=False, rowClass="advanced") }}
{% endif %}
</table>
{{ form.submitForm(class='btn btn-submit') }}
</form>
</div>
  </body>
</html>
