<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="https://operations.microoffice.com/1g/css/operations.css"/>
    <title>Micro Office - Generate Network Access Code</title>
  </head>
  <body>
<div id="content">
<h3>Thank you! Below are the temporary user's network access code(s). They are each good for 
  {% if duration -%}
    {{ duration // 60 }} hours and {{ duration % 60 }} minutes.
  {% elif rel_end %}
    for one {{ rel_end }}.
  {% endif %}</h3>
  <p>
  {% for code in codes %}
  {{code}}</br>
  {% endfor %}
  </p>
  <p>
    They will be valid after {{ not_before.strftime("%b %d, %Y at %-I:%M %p, %Z") }} and will expire on {{ expire.strftime("%b %d, %Y at %-I:%M %p, %Z") }}.
  </p>
<a class="button" href="{{ url_for('access_code') }}">Back</a>
</div>
  </body>
</html>
