<html>
  <head>
    <title>Confirmation Page</title>
    {# This script automatically adds onsubmit to the form #}
    <script src="{{ static_base_url }}/forms/js/checkBeforeSubmit.js"></script>
    <style>
      table {
      border-collapse: collapse;
      }

      td, th {
      text-align: left;
      padding: 8px;
      }

      tr:nth-child(odd) {
      background-color: lightgrey;
      }
    </style>
  </head>
  <body>
    {# All errors cause pending_sales.html to be rendered. None displayed here #}
    <div><h1>Confirmation Page</h1></div>
    <p><a href='/1g/index.cgi'>Main Menu</a></p>
    <form action='{{url_for("confirm_submission")}}' method='post'>
      {{ form.hidden_tag() }}
      <mark>Please confirm the following payments</mark>
      <table>
	<thead>
	  <tr style='background-color:#F5B041'>
	    {% for header in column_names %}
	    <th> {{ header }} </th>
	    {% endfor %}
	  </tr>
	</thead>
	<tbody>
	  {% for pmt_vault in pmt_vault_list %}
	  <tr>
	  {% for header in columns %}
	  <td {% if header=='amount' %} style='text-align: right'{% endif %}> {% if pmt_vault[header] %}{{ pmt_vault[header] }}{% endif %}</td> {# only show item if it is not null #}
	  {% endfor %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      <br>
      {{ form.submit }}
    </form>
  </body>
</html>
