<html>
  <head>
    <title>Submission Page</title>
    <style>
      table {
      font-size: 100%;
      border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <div><h1>Submission received</h1></div>
    <p>
      <a href='/1g/index.cgi'>Main Menu</a>
      <br/>
      <a href="{{ url_for('pending_sales') }}">View more pending sales</a>
    </p>
    Attempted to process {{ pmt_vault_txn_list|length }} transactions.<br>
    {{ num_success }} preliminary successful transactions totaling ${{ subtotal }}.<br>
    {{ num_failed }} failed transactions totaling ${{ failed_subtotal }}.
    <p>Failed transactions are shown in <span style='color:red'>red.</span></p>

    {% for txn in pmt_vault_txn_list %}
    <dl>
      {% if txn['response'] != '1' %}
      <dt style='color: red;'> Transaction ID: <b> {{ txn['id'] }} </b> </dt>
      {% else %}
      <dt> Transaction ID: <b> {{ txn['id'] }} </b> </dt>
      {% endif %}
      <dd>
	<table>
	  <tr>
	    <td>Customer:</td>
	    <td>{{ txn['name'] }} (Account ID: {{txn['cust_acct_id']}})</td>
	  </tr>
	  <tr>
	    <td>Amount:</td>
	    <td>{{ txn['amount'] }}</td>
	  </tr>
	  <tr>
	    <td>Payment method:</td>
	    <td>{{ txn['pmt_method'] }}</td>
	  </tr>
	  <tr>
	    <td>Sched. TS UTC:</td>
	    <td>{{ txn['scheduled_ts_utc'].strftime('%Y-%m-%d %I:%M %p') }}</td>
	  </tr>
	  {% if txn['pmt_method'] == 'ach' %}
	  <tr>
	    <td>Routing Number:</td>
	    <td>{{ txn['routing_number'] }}</td>
	  </tr>
	  <tr>
	    <td>Account Number:</td>
	    <td>{{ txn['account_number'] }}</td>
	  </tr>
	  {% elif txn['pmt_method'] == 'card' %}
	  <tr>
	    <td>Card Number:</td>
	    <td>{{ txn['card_number'] }}</td>
	  </tr>
	  <tr>
	    <td>Exp. Date:</td>
	    <td>{{ txn['expire_date'].strftime('%m/%y') }}</td>
	  </tr>
	  {% else %}
	  <tr>
	    <td>Query:</td>
	    <td>{{ txn['request_body'] }}</td>
	  </tr>
	  <tr>
	    <td>NMI response:</td>
	    <td>{{ txn['response_body'] }}</td>
	  </tr>
	  {% endif %}
	  <tr>
	    <td>Note:</td>
	    <td>{% if txn['note'] %}{{ txn['note'] }}{% endif %}</td>
	  </tr>
	</table>
      </dd>
    </dl>
    {% endfor %}
  </body>
</html>
