{% if linked_desk_list %}
<tr>
  <td colspan='2'>
    <b>This account is also linked to space(s):</b>
    {% for desk in linked_desk_list -%}
    {# includes comma and space if next element exists #}
    <a href="{{ url_for('show_edit_desk', desk_id=desk['id']) }}">#{{ desk['assigned_number'] }}</a>{% if linked_desk_list[loop.index] %}, {% endif %}
    {%- endfor %}
  </td>
</tr>
{% endif %}
{% if desk_price_vw %}
<tr>
  <td>Licensee Acct</td>
  <td><b>{{ desk_price_vw['account_name'] }}</b></td>
</tr>
<tr>
  <td>Rent</td>
  <td><b>{{ desk_price_vw['price'] }}</b></td>
</tr>
<tr>
  <td>Internet</td>
  <td><b>{{ desk_price_vw['internet_revenue'] }}</b></td>
</tr>
<tr>
  <td>Phone</td>
  <td><b>{{ desk_price_vw['phone_revenue'] }}</b></td>
</tr>
<tr>
  <td>Contract Type</td>
  <td>{% if desk_price_vw['is_monthly'] %}Monthly{% else %}Lease{% endif %}</td>
</tr>
{% if desk_price_vw['increase_date'] %}
<tr>
  <td>Contract Change Date</td>
  <td>{{ desk_price_vw['increase_date'].strftime('%m/%d/%Y') }}</td>
</tr>
{% endif %}
{% else %}
<tr>
  <td colspan='2' style='text-align:center'><b>No active contract!</b></td>
</tr>
{% endif %}
