<html>
  <head>
    <style>
      div {
      padding:3px;
      }
      .alert {color:red;}
      .error {color:red;}
    </style>
    <style type='text/css'>
      .fieldset-auto-width {
      display: inline-block;
      }
    </style>
  </head>
  <body>
    <!-- Display errors with loop -->
    <div padding="20px 20px 20px 20px">
      {% for error in errors %}
      <div style="color:red;"> {{ error }} </div>
      {% endfor %}
    </div>
    <form action="{{ url_for('show_table') }}" method='POST'>
      <div>
      <fieldset class='fieldset-auto-width'>
      <legend> Display Table </legend>
                           {{ form.hidden_tag() }}
      <div> Table Name     {{ form.table_name }}    </div>
      <div> Column To Show {{ form.columns    }}    </div>
      <div> Filter         {{ form.filter_    }}
                           {{ form.filter_op  }}
                           {{ form.filter_val }}    </div>
      <div> Sort By        {{ form.sort_by    }}    </div>
      <div> Limit          {{ form.limit      }}    </div>
      <div>                {{ form.asc_desc   }}    </div>
      <div> Rows per Page  {{ form.rows_per_page }} </div>
      <div>                {{ form.submit     }}    </div>
      </fieldset>
      </div>
    </form>
  </body>
</html>
