<html>
  <head>
    <style>
      table {
      font-size: 75%;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      }

      td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      }

      th {
      white-space:nowrap;
      }

      tr:nth-child(even) {
      background-color: #dddddd;
      }
      .button {
      color: black;
      width: 125px;
      text-decoration: none;
      margin: 4px 2px;
      }
    </style>
  </head>
  <body>
    <div>Displaying <b> {{disp_tbl['tbl_name']}}</b></div>
    <div>Page:<b> {{disp_tbl['page']}}</b></div>

    <div class="content">
      <span><a href="{{ url_for('show_form') }}"> New Search</a> |
      <span><a href="{{ url_for('next_page', request_id=disp_tbl['id']) }}"> Next Page</a></span> |
      <span><a href="{{ url_for('prev_page', request_id=disp_tbl['id']) }}"> Prev Page</a></span> |
      <span><a href="{{ url_for('first_page', request_id=disp_tbl['id'])}}">First Page</a></span> |
      <span><a href="{{ url_for('last_page', request_id=disp_tbl['id']) }}"> Last Page</a></span>
    </div>
    <br>
    <div><button class="button" onclick='skipPages()'>Skip to page</button><input type='number' id='pages' value='1'></div>
    <div><button class="button" onclick='rowsPerPage()'>Rows per page</button><input type='number' id='rpp' value='10'></div>
    <div><button class="button" onclick='limit()'>Change Limit</button><input type='number' id='lim' value='10'></div>
    
    <table>
      <thead>
	{% for header in query.description %}
	<th>
	  <a href="{{ url_for('sort_table',request_id=disp_tbl['id'], argument=header[0]) }}">
	    {{header[0]}}
	  </a>
	  {% if header[0] == disp_tbl['order_by'] %}
	    {% if disp_tbl['asc_desc'] == 'asc ' %}
	      &uarr;
	    {% else %}
	      &darr;
	    {% endif %}
	  {% endif %}
	</th>
	{% endfor %}
      </thead>
      <tbody>
	{% for row in query %}
	  {# Unfortunately not sure how to discard rows so just loop through all of it and only display valid rows #}
	  {% if loop.index > (disp_tbl['rows_per_page'] * (disp_tbl['page']-1)) and loop.index <= (disp_tbl['rows_per_page'] * disp_tbl['page']) %}
	  <tr>
	    {% for header in query.description %}
	    <td>
	      {% if header[0]=='id' %}
	      <a href={{ url_for('edit_table', table=disp_tbl['tbl_name'], id=row[header[0]]) }}>
		{{ row[header[0]]|string|truncate(75) }}
	      </a>
	      {% else %}
	        {{ row[header[0]]|string|truncate(75) }}
	      {% endif %}
	    </td>
	    {% endfor %}
	  </tr>
	  {% endif %}
	{% endfor %}
      </tbody>
    </table>
    <script>
      function skipPages() {
      var page_num = document.getElementById('pages').value;
      if (page_num != null) {
      window.location.href = "{{ url_for('show_table2', request_id=disp_tbl['id']) }}skip/" + page_num;
      }
      }
      
      function rowsPerPage() {
      var rows = document.getElementById('rpp').value;
      if (rpp != null) {
      window.location.href = "{{ url_for('show_table2', request_id=disp_tbl['id']) }}rows/" + rows;
      }
      }
      
      function limit() {
      var num = document.getElementById('lim').value;
      if (num != null) {
      window.location.href = "{{ url_for('show_table2', request_id=disp_tbl['id']) }}limit/" + num;
      }
      }
    </script>
  </body>
</html>
