{% extends "operations_base.html" %}

{% block title %}Edit Desk Information {% endblock title %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ static_base_url }}/operations_flask/js/select2.min.js"></script>
<script src="{{ static_base_url }}/operations_flask/js/editDesk.js"></script>
{% endblock scripts %}

{% block css %}
<link href="{{ static_base_url }}/operations_flask/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://operations.microoffice.com/1g/css/operations.css"/>
{% endblock css %}


{% block menu %}
|
<a href="https://operations.microoffice.com/1g/space/show_desks.cgi?floor_id={{ floor_id }}">Back to Desk Map</a> |
<a href="https://operations.microoffice.com/1g/tenant/show_active_accounts.cgi">Show Active Accounts</a> |
<a href="{{ url_for('show_edit_desk', desk_id=desk_id, view='true') }}">Show View Desk Page</a> |
<a href="https://operations.microoffice.com/1g/space/edit_desk_info.cgi?desk_id={{ desk_id }}">Edit Desk Info (Legacy)</a>
{% endblock menu %}

{% block content %}
<form action="{{url_for('submit_edit_desk', desk_id=desk_id) }}" method="POST" onsubmit="return validateForm()">
  {% from '_formhelpers.html' import render_field, render_num_field, render_button %}
  {% from '_newformhelpers.html' import render_money_field %}
  <div padding="20px 20px 20px 20px">
    {% for error in errors %}
    <div style="color:red;"> {{ error }}</div>
    {% endfor %}
    {{form.hidden_tag() }}
    <div>
      <fieldset class="compact_fieldset">
	<legend> Edit Information for Desk Number {{ desk_assigned_number }}</legend>
	<table id="desk_table">
	  {% include "desk_info.html" %}
	  {% if desk_price_vw %}
	  {# hide the person field when there is no active contract... but make it hidden #}
	  {{ render_field(form.person, required=false) }}
	  {% else %}
	  {{ form.person(hidden=True) }}
	  {% endif %}
	  {{ render_field(form.num_people, required=false) }}
	  {{ render_field(form.is_enclosed, required=false) }}
	  {{ render_money_field(form.list_price) }}
	  {{ render_money_field(form.internet_list_price) }}
	  {{ render_money_field(form.phone_list_price) }}
	  {{ render_field(form.waiting_account, class='selectpicker', required=false) }}
	  {{ render_field(form.is_reviewed_by_manager, required=false) }}
	  {{ render_field(form.note, required=false) }}
	  <tr>
	    <td>Desk Area (sf)</td>
	    <td id="desk_area_sf">{{ desk_area_sf|round(4, 'floor') }}</td>
	  </tr>
	  <tr>
	    <td>Price Per Square Foot ($)</td>
	    <td id="price_per_sf">{{ (form.list_price.data|float / desk_area_sf)|round(2, 'floor') }}</td>
	  </tr>
	  {{ render_button(form.submit) }}
	</table>
      </fieldset>
    </div>
  </div>
  <div style='overflow-x:auto'>
    <table id='desk_price_table'>
      {% set headers = ['Rent ($)', '$ / SqFt', 'Rent Discount', 'Internet ($)', 'Internet Lines', 'Internet Discount',
      'Phone ($)', 'Phone Lines', 'Phone Discount', '# of Portal Fees', 'Contract Type', 'Start Date', 'End Date', 'Account', 'Notes', 'Delete'] %}
      {% from '_newformhelpers.html' import render_integer_field, render_date_field, render_custom_money_field %}
      <thead>
	<tr>
	  {% for header in headers %}
	  <th>{{ header }}</th>
	  {% endfor %}
	</tr>
      </thead>
      <tbody>
	{% for price in desk_prices %}
	{% set price_id = price['id']|string %}
	<tr id="price_row_{{ price_id }}">
	  {{ render_custom_money_field("price_rent_" + price_id, price['price']) }}
	  <td>{{ (price['price']|float / desk_area_sf) |round(2, 'floor') }}</td>
	  <td>{{ "%.1f%%"|format(( ( 1 - ( price['price'] / form.list_price.data ) ) * 100 ) | round(1, 'floor')) }}</td>
	  {{ render_custom_money_field("price_internet_" + price_id, price['internet_revenue']) }}
	  {{ render_integer_field("price_lines_internet_" + price_id, price['internet_lines']) }}
	  <td>{{ price['internet_discount'] }}</td>
	  {{ render_custom_money_field("price_phone_" + price_id, price['phone_revenue']) }}
	  {{ render_integer_field("price_lines_phone_" + price_id, price['phone_lines']) }}
	  <td>{{ price['phone_discount'] }}</td>
	  {{ render_integer_field("price_lines_portal_" + price_id, price['portal_lines']) }}
	  <td>
	    <select name="price_monthly_{{ price_id }}">
	      {% if price['is_monthly'] %}
	      <option>License</option>
	      <option selected>Monthly</option>
	      {% else %}
	      <option selected>License</option>
	      <option>Monthly</option>
	      {% endif %}
	    </select>
	  </td>
	  {{ render_date_field("price_start_" + price_id, price['start_date']) }}
	  {{ render_date_field("price_end_" + price_id, price['end_date']) }}
	  <td>
	    <select class='selectpicker' name="price_account_{{ price_id }}">
	      {% set account_id = price['account_id']|string %}
	      {% for value, text in form.waiting_account.choices %}
	      <option value="{{ value }}"
		      {% if value == account_id %}selected{% endif %}>
		{{ text }}
	      </option>
	      {% endfor %}
	    </select>
	  </td>
	  <td>
	    <textarea name="price_note_{{ price_id }}">{% if price['note'] %}{{ price['note'] }}{% endif %}</textarea>
	  </td>
	  <td>
	    <button
		type='button'
		onclick="if (window.confirm('Really delete this row?')) {delete_existing_price_row({{ price_id }}, {{ desk_id }});}">Delete This</button>
	  </td>
	</tr>
	<tr id="price_error_row_{{ price_id }}">
	  {# One td as container for error per input #}
	  {% for i in range(headers|length) %}
	  <td class='error_cell'/>
	  {% endfor %}
	</tr>
	{% endfor %}
	<tr id='add_price_row'>
	  <td colspan='100%'>
	    <button type='button' onclick="addPriceRow()">Add another price row</button>
	  </td>
	</tr>
	<tr>
	  <td>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
  <div>
    <table id='desk_sale_interaction_table'>
      <thead>
	<tr>
	  <th>Note</th>
	  <th>Employee</th>
	  <th>Date</th>
	  <th>Delete</th>
	</tr>
      </thead>
      <tbody>
	{% for interaction in desk_sale_interactions %}
	<tr id="interaction_row_{{ interaction['id'] }}">
	  <td><textarea name="interaction_note_{{ interaction['id'] }}">{{ interaction['note'] }}</textarea></td>
	  <td>
	    <select class='employee_selectpicker' name="interaction_employee_{{ interaction['id'] }}">
	      {% for employee in employee_list %}
	      <option value="{{ employee['id'] }}" {% if employee['id'] == interaction['employee_id'] %}selected{% endif %}>
		{{ employee['first_name'] }} {{ employee['last_name'] }}
	      </option>
	      {% endfor %}
	    </select>
	  </td>
	  <td><input type='date' name="interaction_date_{{ interaction['id'] }}" value="{{ interaction['date'] }}"/></td>
	  <td><button type='button' onclick="if (window.confirm('Really delete this interaction?')) { delete_existing_interaction_row({{ interaction['id'] }}, {{ desk_id }});}">Delete This</button></td>
	</tr>
	<tr id="interaction_error_row_{{ interaction['id'] }}">
	  <td class='error_cell'/>
	  <td class='error_cell'/>
	  <td class='error_cell'/>
	</tr>
	{% endfor %}
	<tr id='add_interaction_row'>
	  <td colspan='100%'>
	    <button type='button' onclick='addInteractionRow({{ employee.id }})'>Add Interaction</button>
	  </td>
	</tr>
	<tr>
	  <td>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
</form>
<select hidden id='employee_list_select_template'>
  {% for employee in employee_list %}
  <option value="{{ employee['id'] }}">{{ employee['first_name'] }} {{ employee['last_name'] }}</option>
  {% endfor %}
</select>
{% endblock content %}
