<html>
  <head>
    <title>Enqueue Recur Pmts</title>
    <style>
      div {
      padding-top:5px;
      }

      input, select {
      width: 150px;
      }

      .error-cell {
      color:red;
      }

      .required_field {
      font-weight:bold;
      }
    </style>
  </head>
  <body onload="startTime()">
    <h1>Enqueue Recurring Payments</h1>
    <p><a href='/1g/index.cgi'>Main Menu</a> | <a href='{{ url_for("pending_sales") }}'>View Pending Vault Sales</a></p>
    {#<h3>All time is in UTC! Please take care when specifying dates.</h3>#}
    <p>Required fields are <b>bolded</b>. All timestamps are in <b>military</b> time.</p>
    {% from '_formhelpers.html' import render_field, render_button %}
    {% for error in errors %}
    <div style='color:red'>{{ error }}</div>
    {% endfor %}
    <form action="{{ url_for('confirm_enqueue') }}" method='post'>
      {{ form.hidden_tag() }}
      <table>
	{{ render_field(form.start) }}
	{{ render_field(form.start_time, required=False) }}
	{{ render_field(form.end) }}
	{{ render_field(form.end_time, required=False) }}
	{{ render_field(form.allow_duplicates) }}
	{{ render_field(form.recur_id_field, required=False, min=1) }}
	{{ render_button(form.submit) }}
      </table>
    </form>
    <div><br/>For Example: payments scheduled on 8/31 in NY are ready at 8/31 4:00 AM UTC (beware of DST, refer to clock below for an absolute reference)</div>
    <div id="txt"/>

    <script>
      function startTime() {
      var now = new Date();
      var now_utc = new Date(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(),  now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds());

      var h = now.getHours();
      var m = now.getMinutes();
      var s = now.getSeconds();
      var h_utc = now_utc.getHours();
      var m_utc = now_utc.getMinutes();
      var s_utc = now_utc.getSeconds();

      h = checkTime(h);
      m = checkTime(m);
      s = checkTime(s);
      h_utc = checkTime(h_utc);
      m_utc = checkTime(m_utc);
      s_utc = checkTime(s_utc);

      document.getElementById('txt').innerHTML = "<br/>" +
      "Current Time: " + now.toDateString() + " " + h + ":" + m + ":" + s + "<br/>" +
      "Time in UTC:  " + now_utc.toDateString() + " " + h_utc + ":" + m_utc + ":" + s_utc;
      var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
      }
    </script>
  </body>
</html>
