<html>
  <head>
    <title>Enqueue Recur Pmts</title>
    <style>
      div {
      padding-top:5px;
      }

      .alert {
      color:red;
      padding-top:0px;
      padding-left:5px;
      }

      tbody tr:nth-child(odd) {
      background-color: lightgrey;
      }

      tbody tr:hover {
      background-color: #ffff99;
      }

      table {
      border-collapse: collapse;
      }

      td, th {
      text-align: left;
      padding: 8px;
      }
    </style>
    {# This script automatically adds onsubmit to the form #}
    <script src="{{ static_base_url }}/forms/js/checkBeforeSubmit.js"></script>
  </head>
  <body>
    <h1>Enqueue Recurring Payments</h1>
    <p><a href='/1g/index.cgi'>Main Menu</a> | <a href="{{ url_for('pending_sales') }}">View Pending Vault Sales</a> | <a href="{{ url_for('show_enqueue') }}">Pick a different range</a> </p>
    {% if dry_run %}<mark>Please confirm these transactions are valid before hitting submit</mark>{% endif %}
    {% if missing_txn_dict %}
    <table width='100%'>
      <thead style='border-bottom:1px solid'>
	<tr>
	  <th colspan="100%" style="text-align:center">
	    <mark style='color:red'>Warning! The following recurring transactions were NOT enqueued</mark>
	  </th>
	</tr>
	<tr>
	<th>Recur ID</th>
	<th>Cust Acct ID</th>
	<th>Max Amount</th>
	<th>Name</th>
	<th>Floor</th>
	<th>Active?</th>
	<th>Notes</th>
	</tr>
      </thead>
      <tbody>
	{% for txn in missing_txn_dict %}
	<tr>
	  <td>{{ txn['id'] }}</td>
	  <td>{{ txn['cust_acct_id'] }}</td>
	  <td>{{ txn['max_amount'] }}</td>
	  <td>{{ txn['name'] }}</td>
	  <td>{{ txn['floor_label'] }}</td>
	  <td>{{ txn['is_active'] }}</td>
	  <td>{% if txn['note'] %}{{ txn['note'] }}{% endif %}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% endif %}

    <table width='100%'>
      <thead style='border-bottom:1px solid'>
	<tr><th colspan="100%" style='text-align:center'>
	  {% if dry_run %}
	  Listing {{ num_added_rows }} transactions to be enqueued from <br/>{{ start_ts.strftime('%c') }} to {{ end_ts.strftime('%c') }}
	  {% else %}
	  <mark>The following transactions were successfully added ({{ num_added_rows}} total).</mark>
	  {% endif %}
	</th></tr>
	{% for header in recur_pmt_labels %}
	<th> {{ header }}</th>
	{% endfor %}
      </thead>
      <tbody>
	{% for row in pmt_recur_list_dict %}
	<tr>
	  {% for header in recur_pmt_headers %}
	  <td>
	    {% if row[header] %} {{ row[header] }} {% endif %}
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </tbody>
      {% if dup_pmt_vault_txn_list and dry_run %} {# do not display duplicates if transactions were submitted #}
      <thead>
	<tr>
	  <th colspan="100%" style='text-align:center'>
	    Duplicate Rows (Will not be added)
	  </th>
	</tr>
      </thead>
      <tbody>
      	{% for row in dup_pmt_vault_txn_list %}
	<tr>
	  {% for header in recur_pmt_headers %}
	  <td>
	    {% if row[header] %} {{ row[header] }} {% endif %}
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </tbody>
      {% endif %}
      {% if held_pmt_vault_txn_list and dry_run %} {# do not display held duplicates if transactions were submitted #}
      <thead>
	<tr>
	  <th colspan="100%" style='text-align:center'>
	    Duplicate Rows <b>with HOLD status</b>(Will not be added)
	  </th>
	</tr>
      </thead>
      <tbody>
      	{% for row in held_pmt_vault_txn_list %}
	<tr>
	  {% for header in recur_pmt_headers %}
	  <td>
	    {{ row[header] }}
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </tbody>
      {% endif %}
    </table>


    {% if dry_run %}
    <form action="{{ url_for('submit_enqueue') }}" method='post'>
      {{ form.hidden_tag() }}
      {{ form.start(hidden=True) }}
      {{ form.end(hidden=True) }}
      {{ form.recur_id_field(hidden=True) }}
      <div>{{ form.submit }}</div>
    </form>
    {% endif %}
  </body>
</html>
