<html>
  <head>
    <title>Financial Analysis</title>
    <script src="{{ static_base_url }}/operations_flask/js/jquery/jquery.js"></script>
    <script src="{{ static_base_url }}/operations_flask/js/financial_analysis.js"></script>
  </head>
  <body>
    <h1>Financial Analysis for {{ floor_label }}</h1>
    <p><a href='/1g/index.cgi'>Main Menu</a></p>
    <p>
      Financial Analysis Links:
      <a href="{{ url_for('show_financial_analysis', floor_id=4, date=request.args.get('date')) }}">122W27F10</a>
      &middot;
      <a href="{{ url_for('show_financial_analysis', floor_id=5, date=request.args.get('date')) }}">122W27F12</a>
      &middot;
      <a href="{{ url_for('show_financial_analysis', floor_id=10, date=request.args.get('date')) }}">902BwyF6</a>
      &middot;
      <a href="{{ url_for('show_financial_analysis', floor_id=12, date=request.args.get('date')) }}">902BwyF7</a>
      &middot;
      <a href="{{ url_for('show_financial_analysis', floor_id=32, date=request.args.get('date')) }}">535FifthF16</a>
      &middot;
      <a href="{{ url_for('show_financial_analysis', floor_id=33, date=request.args.get('date')) }}">68HarrisonF6</a>
      &middot;
      <a href="{{ url_for('show_financial_analysis', floor_id=18, date=request.args.get('date')) }}">18SMichFl12</a>
      &middot;
      <a href="{{ url_for('show_financial_analysis', floor_id=21, date=request.args.get('date')) }}">405WSupF3</a>
      &middot;
      <a href="{{ url_for('show_financial_analysis', floor_id=27, date=request.args.get('date')) }}">405WSupF5</a>
      &middot;
      <a href="{{ url_for('show_financial_analysis', floor_id=30, date=request.args.get('date')) }}">405WSupF7</a>
    </p>
    <input id='date' type='date' value="{{ date }}"/>
    <button onclick="jumpToDate();">Jump to date</button>
    {% from '_formhelpers.html' import render_field, render_button %}
    <table>
      <tr>
	<td>Total Revenue</td>
	<td id='total_revenue'></td>
      </tr>
      <tr>
	<td>Total Rent Revenue</td>
	<td id='total_rent_revenue'></td>
      </tr>
      <tr>
	<td title='Sum of list prices for unoccupied desks'>Lost Rent Revenue</td>
	<td>{{ lost_rent }}</td>
      </tr>
      <tr>
	<td>Total Internet Revenue</td>
	<td id='total_internet_revenue'></td>
      </tr>
      <tr>
	<td>Total Phone Revenue</td>
	<td id='total_phone_revenue'></td>
      </tr>
      <tr>
	<td>Available Square Feet</td>
	<td id='total_available_sf'>{{ total_sf | round(1) }}</td>
      </tr>
      <tr>
	<td>Occupied Square Feet</td>
	<td id='total_occupied_sf'></td>
      </tr>
      <tr>
	<td>Percent Occupied</td>
	<td id='percent_occupied'/>
      </tr>
      <tr>
	<td>Ignored Square Footage</td>
	<td id='total_ignored_sf'/>
      </tr>
    </table>
    <table id="account_table">
      <tr>
	<th>ID</th>
	<th>Name</th>
	<th>Rent</th>
	<th>Internet</th>
	<th>Phone</th>
	<th>Space</th>
	<th>Linked</th>
	<th>Toggle</th>
      </tr>
      {% for id in accounts %}
      <tr class='account_row' data-id="{{ id }}">
	<td>{{ id }}</td>
	<td>{{ accounts[id]['name'] }}</td>
	<td class='rent_revenue'>{{ accounts[id]['total_rent_revenue'] }}</td>
	<td class='internet_revenue'>{{ accounts[id]['total_internet_revenue'] }}</td>
	<td class='phone_revenue'>{{ accounts[id]['total_phone_revenue'] }}</td>
	<td class='occupied_sf'>{{ accounts[id]['total_occupied_sf'] | round(1)}}</td>
	<td>
	  {% for desk_id in accounts[id]['linked_desks'] %}
	  <a href="{{ url_for('show_edit_desk', desk_id=desk_id) }}">{{ accounts[id]['linked_desks'][desk_id] }}</a>
	  {% endfor %}
	</td>
	<td><button onclick="toggle_id($(this).parent().parent().data('id'))">Don't include me</button></td>
      </tr>
      {% endfor %}
    </table>
    <script type="text/javascript">
      function jumpToDate() {
      window.location.href = "{{ url_for('show_financial_analysis', floor_id=request.args.get('floor_id')) }}" + '&date=' + document.getElementById('date').value;
      }
    </script>
  </body>
</html>
