<!DOCTYPE html>
<html>
  <head>
    <title>Micro Office Solutions :: Operations Center :: Report Recipients</title>
    <script src="{{ static_base_url }}/operations_flask/js/jquery/jquery.js"></script>
    <script src="{{ static_base_url }}/operations_flask/js/select2.min.js"></script>
    <script src="{{ static_base_url }}/operations_flask/js/manage_report.js"></script>
    <link rel="stylesheet" type="text/css" href="https://operations.microoffice.com/1g/css/operations.css"/>
    <link href="{{ static_base_url }}/operations_flask/css/select2.min.css" rel="stylesheet" />
  </head>
  <body>
    <p>
      <a href="https://operations.microoffice.com/1g/index.cgi">Main menu</a>
    </p>
    <p>
      <a href="{{ url_for('show_report_recipients', building_id=3) }}">122W27</a>
      &middot;
      <a href="{{ url_for('show_report_recipients', building_id=6) }}">902Bwy</a>
      &middot;
      <a href="{{ url_for('show_report_recipients', building_id=27) }}">535Fifth</a>
      &middot;
      <a href="{{ url_for('show_report_recipients', building_id=26) }}">68Harrison</a>
      &middot;
      <a href="{{ url_for('show_report_recipients', building_id=14) }}">18SMich</a>
      &middot;
      <a href="{{ url_for('show_report_recipients', building_id=17) }}">405WSup</a>
      &middot;
      <a href="{{ url_for('show_report_recipients', building_id=28) }}">95CC</a>
      &middot;
      <a href="{{ url_for('show_report_recipients', building_id=32) }}">1EWacker</a>
    </p>
    <p>Information Reporting for {{ building_label }}</p>
    <p>Please note that emails can only be sent to the @coalitionspace or @microoffice domain!</p>
    <div>
      {% for report_id in report_types %}
      <table cellspacing="0" cellpadding="4px" border="0" class="standard_table">
	<thead>
	  <tr title="{{ report_types[report_id]['description'] }}"><td colspan="4" class="standard_table_title">{{ report_types[report_id]['name'] }}</td></tr>
	  <tr class="standard_table_column_heading_row">
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Email</th>
	    <th>Add/Remove</th>
	  </tr>
	</thead>
	<tbody>
	  {% for employee in report_types[report_id]['employees'] %}
	  <tr class="{{ loop.cycle('standard_table_row_odd', 'standard_table_row_even') }}" id="report-{{ report_id }}-employee-{{ employee['id'] }}">
	    <td>{{ employee['first_name'] }}</td>
	    <td>{{ employee['last_name'] }}</td>
	    <td>{{ employee['email'] }}</td>
	    <td><button type=button onclick="delete_recipient({{ report_id }}, {{ employee['id'] }})">Remove</button></td>
	  </tr>
	  {% endfor %}
	  <tr>
	    <td colspan='3'>
	      <select class='select2' id='select-{{ report_id }}'>
		{% for employee in employees %}
		<option value="{{ employee['id'] }}">{{ employee['first_name'] }} {{ employee['last_name'] }} ({{ employee['email'] }})</option>
		{% endfor %}
	      </select>
	    </td>
	    <td><button type="button" onclick="add_recipient({{ report_id }})">Add</button></td>
	  </tr>
	</tbody>
      </table>
      {% endfor %}
    </div>
    <div hidden id="csrf_token" value="{{ csrf_token }}" />
  </body>
</html>
