<!DOCTYPE html>
<html>
  <head>
    <title>Manage Daypasses</title>
    <script src='{{ static_base_url }}/operations_flask/js/jquery/jquery.js'></script>
    <script src='{{ static_base_url }}/operations_flask/js/manage_daypass.js'></script>
  </head>
  <body>
    <h1>Manage Daypasses</h1>
    <p><a href='/1g/index.cgi'>Main Menu</a></p>
    <p>
      Other maps:
      <a href="{{ url_for('manage_daypass_by_floor', floor_id=4) }}">122W27</a>&middot;
      <a href="{{ url_for('manage_daypass_by_floor', floor_id=10) }}">902Bwy</a>&middot;
      <a href="{{ url_for('manage_daypass_by_floor', floor_id=18) }}">18SMich</a>&middot;
      <a href="{{ url_for('manage_daypass_by_floor', floor_id=32) }}">535Fifth</a>&middot;
      <a href="{{ url_for('manage_daypass_by_floor', floor_id=30) }}">405WSup</a>&middot;
      <a href="{{ url_for('manage_daypass_by_floor', floor_id=33) }}">68Harrison</a>
    </p>
    <p>Viewing daypasses for <b>{{ floor_label }}</b>.</p>
    <table>
      <thead>
	<tr>
	  <th colspan='100%'>ACTIVE DAYPASSES</th>
	</tr>
	<tr>
	  <th>Name</th>
	  <th>Email Address</th>
	  <th>Date of Service</th>
	  <th># People</th>
	  <th>Note</th>
	  <th>Button</th>
	  <th>Redeem</th>
	</tr>
      </thead>
      <tbody>
	{% for pass in active_passes %}
	<tr>
	  <td>{{ pass['name'] }}</td>
	  <td>{{ pass['email'] }}</td>
	  <td>{{ pass['date_of_service'].strftime('%m/%d/%Y') }}</td>
	  <td>{{ pass['num_people'] }}</td>
	  <td><textarea id="note-{{ pass['id'] }}">{% if pass['note'] %}{{ pass['note'] }}{% endif %}</textarea></td>
	  <td><button type='button' onclick="update_daypass_note({{ pass['id'] }});">Update Note</button></td>
	  <td><button type='button' onclick="update_daypass_status({{ pass['id'] }}, 'TRUE');" id="update-btn-{{ pass['id'] }}">REDEEM</button></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    <table>
      <thead>
	<tr>
	  <th colspan='100%'>REDEEMED DAYPASSES</th>
	</tr>
	<tr>
	  <th>Name</th>
	  <th>Email Address</th>
	  <th>Date of Service</th>
	  <th># People</th>
	  <th>Note</th>
	  <th>Button</th>
	  <th>Redeem</th>
	</tr>
      </thead>
      <tbody>
	{% for pass in inactive_passes %}
	<tr>
	  <td>{{ pass['name'] }}</td>
	  <td>{{ pass['email'] }}</td>
	  <td>{{ pass['date_of_service'].strftime('%m/%d/%Y') }}</td>
	  <td>{{ pass['num_people'] }}</td>
	  <td><textarea id="note-{{ pass['id'] }}">{% if pass['note'] %}{{ pass['note'] }}{% endif %}</textarea></td>
	  <td><button type='button' onclick="update_daypass_note({{ pass['id'] }});">Update Note</button></td>
	  <td><button type='button' onclick="update_daypass_status({{ pass['id'] }}, 'FALSE');" id="update-btn-{{ pass['id'] }}">REACTIVATE</button></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    <div hidden id='csrf_token' value ='{{ csrf_token }}'/>
  </body>
</html>
