<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Micro Office Solutions :: Operations Center :: {% block title %}{% endblock title %}</title>
    {% block scripts %}{% endblock scripts %}
    <link rel="stylesheet" type="text/css" href="https://operations.microoffice.com/1g/css/operations.css"/>
    {% block css %}{% endblock css %}
  </head>
  <body>
    <p>
      <a href="https://operations.microoffice.com/1g/index.cgi">Main menu</a>
      {% block menu %}{% endblock menu %}
    </p>
    <div padding="20px 20px 20px 20px">
      {% block content %}{% endblock content %}
    </div>
    <p>
      <img src="https://operations.microoffice.com/1g/img/micro_office_logo_256x68.png" alt="Micro Office logo"/>
    </p>
  </body>
</html>
