<html>
  <head>
    <title>Pending Vault Sales</title>
    {# This script automatically adds onsubmit to the form #}
    <script src="{{ static_base_url }}/forms/js/checkBeforeSubmit.js"></script>
    <style>
      .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
      margin-bottom: 15px;
      }
      .closebtn {
      margin-left: 15px;
      color: white;
      font-weight:bold;
      float: right;
      font-size:22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
      }

      .closebtn:hover {
      color: black;
      }

      .hoverBody tr:hover {
      background-color: #ffff99;
      }

      table {
      border-collapse: collapse;
      }

      td, th {
      text-align: left;
      padding: 8px;
      }

      tr:nth-child(odd) {
      background-color: lightgrey;
      }
    </style>
  </head>
  <body>
      {%for error in errors %}
      <div class='alert'>
	<span class='closebtn' onclick='this.parentElement.style.display="none";'>&times;</span>
	<strong>Error: </strong> {{ error }}
      </div>
      {% endfor %}
    </div>
    <div><h1>Pending Vault Sales</h1></div>
    <p><a href='/1g/index.cgi'>Main Menu</a></p>
    <form action='{{url_for("submit_pending_sales")}}' method='post'>
      {{ form.hidden_tag() }}
      <table>
	<thead>
	  <tr style='background-color:lightblue'>
	    <th>{# Empty header for checkboxes #}</th>
	    {% for header in column_names %}
	    <th>{{ header }}</th>
	    {% endfor %}
	  </tr>
	</thead>
	<tbody class='hoverBody'>
	  {% for pmt_vault in pmt_vault_list %}
	  <tr>
	    <td><input type="checkbox" name="select_{{ pmt_vault['id'] }}"></td>
	    {% for header in columns %}
	    <td {% if header=='amount' %} style='text-align: right' {% endif %}>{% if pmt_vault[header] %}{{ pmt_vault[header] }}{% endif %}</td>
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      <br>
      {{form.submit}}
    </form>
  </body>
</html>
