<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Query NMI Transactions</title>
    <style>
      div.alert {
        color: red;
      }
      div.alert-error {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Query NMI Transactions</h1>
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
      {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
    <form action="{{ url_for('query_pmt_nmi_txn') }}" method="post">
      {{ form.hidden_tag() }}
      {{ form.floor_id.label }} {{ form.floor_id }}<br/>
      {{ form.start_date.label }} {{ form.start_date }} / {{ form.end_date.label }} {{ form.end_date }}<br/>
      {{ form.min_amount.label }} {{ form.min_amount }} / {{ form.max_amount.label }} {{ form.max_amount }}<br/>
      {{ form.pmt_method.label }} {{ form.pmt_method }}<br/>
      {{ form.status.label }} {{ form.status }}<br/>
      {{ form.txn_id.label }} {{ form.txn_id }}<br/>
      {{ form.limit.label }} {{ form.limit }}<br/>
      <input type="submit" value="Run Query"/>
    </form>
  </body>
</html>
  
