<!DOCTYPE html>
<html>
  <head>
    <title>Micro Office Solutions :: Operations Center :: Room Schedules</title>
    <script src="{{ static_base_url }}/operations_flask/js/jquery/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{{ static_base_url }}/operations_flask/js/jquery.ui.touchhold.min.js"></script>
    <script src="{{ static_base_url }}/operations_flask/js/jquery.ui.touch-punch.min.js"></script>
    <script src="{{ static_base_url }}/operations_flask/js/outside-events.min.js"></script>
    <script src="{{ static_base_url }}/operations_flask/js/reserve_room.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="{{ static_base_url }}/operations_flask/css/reserve_room.css"/>
  </head>
  <body>
    <div id="overlay"></div>
    <div>
      <p>Return to the <a href="https://operations.microoffice.com/1g">Main Menu</a></p>
      <p>Click <a href='#' onclick='go_to_legacy();'>here</a> to view this page on our legacy site.</p>
      <p>This floor is located in the {{ timezone }} timezone.</p>
    </div>
    <div id='room_reservation_div'>
    <table id='room_reservation_table' cellspacing="0" cellpadding="0" border="0">
      <tr>
	<td class="schedule_date_header" colspan="100%">
	  <a id='prev_date'></a> {{ form.time_start_date.strftime('%A %b %d, %Y (%Y-%m-%d)') }} <a id='next_date'></a>
	</td>
      </tr>
      <tr>
	<td class="schedule_upper_left_corner">Time</td>
	{% for room in rooms %}
	<td class="schedule_header_spacer_column"></td>
	<td class="schedule_room_name_header">{{ room['short_name'] }}</td>
	{% endfor %}
      </tr>
      <tr>
	<td class="schedule_time_header" colspan="100%" onclick="toggle_rows();">
	  Click me to show/hide rows
	</td>
      </tr>
      {# body generator, key parts are the data- attributes which drive the javascript #}
      {% for time in times %}
      <tr class="schedule_row">
	<td class="schedule_time" data-end-time="{{ time['local_end'] }}">{{ time['local'] }}</td>
	{% for room in rooms %}
	<td class="schedule_spacer_column"></td>
	<td class="schedule_reservation_available_slot" data-time-start="{{ time['utc'] }}" data-time-end = "{{ time['utc_end'] }}" data-room-id="{{ room['id'] }}"><div class='text-div'></div></td>
	{% endfor %}
      </tr>
      {% endfor %}
    </table>
    </div>
    <div id='table_datepicker_spacer'></div>
    <div id='datepicker_div'>
      <div id="dp"></div>
      <button onclick='jump_to_date();'>Go To Date</button>
    </div>
    <div hidden id="dialog">
      <form id='submit_reservation' action="{{ url_for('submit_reserve_room', floor_id=request.args.get('floor_id'), room_type = request.args.get('room_type'), date=request.args.get('date', None)) }}" onsubmit="return get_highlighted_time_slots();" method=POST>
	{{ form.hidden_tag() }}
	Account: {{ form.account }}<br/>
	Note: {{ form.new_note }}
      </form>
    </div>
    <div hidden id="note_dialog">
      <div id='reservation_info'>
      </div>
      <div>Edit Note: {{ form.edit_note }}</div>
    </div>

    {# These divs are required because the javascript is hosted on the static site, separate from operations. The javascript also removes these divs onload #}
    <div hidden id="link_helper">{{ url_for('show_reserve_room', floor_id=request.args.get('floor_id'), room_type=request.args.get('room_type')) }}</div>
  </body>
</html>
