<html>
  <head>
    <title>NMI Payment Vaults</title>
  </head>
  <body>
    <h1>NMI Payment Vaults</h1>
    <table>
      <tr>
	<th>id</th>
	<th>floor_label</th>
	<th>acct_id</th>
	<th>name</th>
	<th>meth</th>
	<th>bank acct/credit card</th>
      </tr>
      {% for pmt_vault in pmt_vault_list %}
      <tr>
	<td>{{ pmt_vault['id'] }}</td>
	<td>{{ pmt_vault['floor_label'] }}</td>
	<td>{{ pmt_vault['cust_acct_id'] }}</td>
	<td>{{ pmt_vault['name'] }}</td>
	<td>{{ pmt_vault['pmt_method'] }}</td>
	<td>
	  {% if pmt_vault['routing_number'] %}
	  routing: {{ pmt_vault['routing_number'] }}, account: {{ pmt_vault['account_number'] }}
	  {% endif %}
	  {% if pmt_vault['card_number'] %}
	  card number: {{ pmt_vault['card_number'] }}, expires: {{ pmt_vault['expire_date'] }}
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
