<html>
  <head>
    <title>NMI Payment Transactions</title>
    <style>
tr.standard_table_row_even {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: white;
}
tr.standard_table_row_odd {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightgrey;
}
td.txn_fail {
  background-color: tomato;
}
span.txn_fail {
  background-color: tomato;
}
span.negative_currency {
  color: red;
}
    </style>
  </head>
  <body>
    <h1>Past NMI Payment Transactions ({{ num_days_in_past }} days)</h1>
    <table>
      <tr valign="top">
	<th>id</th>
	<th>
	  floor<br/>
	  txn id<br/>
	  timestamp
	</th>
	<th>
	  name/email<br/>
	  method/bank acct/credit card<br/>
	  action/response<br/>
	  note
	</th>
	<th>
	  amount<br/>
	  conv. fee<br/>
	  net prefee
	</th>
      </tr>
      {% set row_class = cycler('odd', 'even') %}
      {% for pmt_nmi_txn in processed_pmt_nmi_txn_list %}
      <tr valign="top" class="standard_table_row_{{ row_class.current }}">
	<td align="right">{{ pmt_nmi_txn['id'] }}</td>
	<td>{{ pmt_nmi_txn['floor_label'] }}</td>
	<td>
	  {{ pmt_nmi_txn['name'] }} (#{{ pmt_nmi_txn['cust_acct_id'] }})
	  {% if pmt_nmi_txn['email'] %}/ email: {{ pmt_nmi_txn['email'] }}{% endif %}
	</td>
	<td align="right">
	  {{ pmt_nmi_txn['amount'] }}
	</td>
      </tr>
      <tr valign="top" class="standard_table_row_{{ row_class.current }}">
	<td></td>
	<td>{{ pmt_nmi_txn['transactionid'] }}</td>
	<td>
	  method: {{ pmt_nmi_txn['pmt_method'] }} / 
	  {% if pmt_nmi_txn['routing_number'] %}
	  routing: {{ pmt_nmi_txn['routing_number'] }}, account: {{ pmt_nmi_txn['account_number'] }}
	  {% endif %}
	  {% if pmt_nmi_txn['card_number'] %}
	  card number: {{ pmt_nmi_txn['card_number'] }}, expires: {{ pmt_nmi_txn['expire_date'] }}
	  {% endif %}
	</td>
	<td align="right">
	  {% if pmt_nmi_txn['convenience_fee'] -%}
	  <span class="negative_currency">({{ pmt_nmi_txn['convenience_fee'] }})</span>
	  {%- endif %}
	</td>
      </tr>
      <tr valign="top" class="standard_table_row_{{ row_class.current }}">
	<td></td>
	<td colspan="2">
	  {% if not pmt_nmi_txn['id'] in pmt_nmi_txn_action_list_by_pmt_nmi_txn_id %}
	  {% if pmt_nmi_txn['response'] != '1' %}
	  <span class="txn_fail">
	    {{ pmt_nmi_txn['request_posted_ts'].strftime('%Y-%m-%d %H:%M:%S') }} {{ pmt_nmi_txn['responsetext'] }}
	  </span>
	  {% else %}
	  {{ pmt_nmi_txn['request_posted_ts'].strftime('%Y-%m-%d %H:%M:%S') }} preliminary response: {{ pmt_nmi_txn['responsetext'] }}
	  {% endif %}
	  <br/>
	  {% endif %}
	  {% if pmt_nmi_txn['id'] in pmt_nmi_txn_action_list_by_pmt_nmi_txn_id %}
	  {% for r in pmt_nmi_txn_action_list_by_pmt_nmi_txn_id[pmt_nmi_txn['id']] %}
	  {% if pmt_nmi_txn['response'] != '1' or r['action_type'] == 'check_return' or r['action_type'] == 'check_late_return' %}
	  <span class="txn_fail">
	    {{ r['action_ts'].strftime('%Y-%m-%d %H:%M:%S') }} {{ r['action_type'] }} {{ r['amount'] }} {{ r['response_text'] or '' }}
	  </span>
	  {% else %}
	  {{ r['action_ts'].strftime('%Y-%m-%d %H:%M:%S') }} {{ r['action_type'] }} {{ r['amount'] }} {{ r['response_text'] or '' }}
	  {% endif %}
	  <br/>
	  {% endfor %}
	  {% endif %}
	</td>
	<td align="right">
	  {% if pmt_nmi_txn['convenience_fee'] -%}
	  {{ pmt_nmi_txn['prefee_amount'] }}
	  {%- endif %}
	</td>
      </tr>
      <tr valign="top" class="standard_table_row_{{ row_class.__next__() }}">
	<td></td>
	<td align="right">{% if pmt_nmi_txn['note'] %}Note:{% endif %}</td>
	<td>{{ pmt_nmi_txn['note'] or '' }}</td>
	<td>
	</td>
      </tr>
      {% endfor %}
    </table>
    <h1>Pending/Future NMI Payment Transactions</h1>
    {% if pending_pmt_nmi_txn_list %}
    <table>
      <tr valign="top">
	<th>id</th>
	<th>floor</th>
	<th>
	  name/email<br/>
	  bank acct/credit card<br/>
	  note
	</th>
	<th>
	  amount<br/>
	  conv. fee<br/>
	  net prefee
	</th>
	<th>scheduled</th>
      </tr>
      {% set row_class = cycler('odd', 'even') %}
      {% for pmt_nmi_txn in pending_pmt_nmi_txn_list %}
      <tr valign="top" class="standard_table_row_{{ row_class.current }}">
	<td align="right">{{ pmt_nmi_txn['id'] }}</td>
	<td>{{ pmt_nmi_txn['floor_label'] }}</td>
	<td>
	  {{ pmt_nmi_txn['name'] }} (#{{ pmt_nmi_txn['cust_acct_id'] }})
	  / email: {{ pmt_nmi_txn['email'] }}
	</td>
	<td align="right">{{ pmt_nmi_txn['amount'] }}</td>
	<td align="right">{{ pmt_nmi_txn['scheduled_date'] }}</td>
      </tr>
      <tr valign="top" class="standard_table_row_{{ row_class.current }}">
	<td></td>
	<td></td>
	<td>
	  {% if pmt_nmi_txn['routing_number'] %}
	  routing: {{ pmt_nmi_txn['routing_number'] }}, account: {{ pmt_nmi_txn['account_number'] }}
	  {% endif %}
	  {% if pmt_nmi_txn['card_number'] %}
	  card number: {{ pmt_nmi_txn['card_number'] }}, expires: {{ pmt_nmi_txn['expire_date'] }}
	  {% endif %}
	</td>
	<td align="right">
	  {% if pmt_nmi_txn['convenience_fee'] -%}
	  <span class="negative_currency">({{ pmt_nmi_txn['convenience_fee'] }})</span>
	  {%- endif %}
	</td>
	<td></td>
      </tr>
      <tr valign="top" class="standard_table_row_{{ row_class.__next__() }}">
	<td></td>
	<td></td>
	<td>
	  {{ pmt_nmi_txn['note'] or '' }}
	</td>
	<td align="right">
	  {% if pmt_nmi_txn['convenience_fee'] -%}
	  <span class="negative_currency">({{ pmt_nmi_txn['prefee_amount'] }})</span>
	  {%- endif %}
	</td>
	<td></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No pending/future transactions.</p>
    {% endif %}
    <h1>Failed NMI Payment Transactions ({{ num_days_in_past_failed }} days)</h1>
    <table>
      <tr valign="top">
	<th>id</th>
	<th>
	  floor<br/>
	  txn id<br/>
	  timestamp
	</th>
	<th>
	  name/email<br/>
	  method/bank acct/credit card<br/>
	  action/response<br/>
	  note
	</th>
	<th>
	  amount<br/>
	  conv. fee<br/>
	  net prefee
	</th>
      </tr>
      {% set row_class = cycler('odd', 'even') %}
      {% for pmt_nmi_txn in failed_pmt_nmi_txn_list %}
      <tr valign="top" class="standard_table_row_{{ row_class.current }}">
	<td align="right">{{ pmt_nmi_txn['id'] }}</td>
	<td>{{ pmt_nmi_txn['floor_label'] }}</td>
	<td>
	  {{ pmt_nmi_txn['name'] }} (#{{ pmt_nmi_txn['cust_acct_id'] }})
	  {% if pmt_nmi_txn['email'] %}/ email: {{ pmt_nmi_txn['email'] }}{% endif %}
	</td>
	<td align="right">{{ pmt_nmi_txn['amount'] }}</td>
      </tr>
      <tr valign="top" class="standard_table_row_{{ row_class.current }}">
	<td></td>
	<td>{{ pmt_nmi_txn['transactionid'] }}</td>
	<td>
	  method: {{ pmt_nmi_txn['pmt_method'] }} / 
	  {% if pmt_nmi_txn['routing_number'] %}
	  routing: {{ pmt_nmi_txn['routing_number'] }}, account: {{ pmt_nmi_txn['account_number'] }}
	  {% endif %}
	  {% if pmt_nmi_txn['card_number'] %}
	  card number: {{ pmt_nmi_txn['card_number'] }}, expires: {{ pmt_nmi_txn['expire_date'] }}
	  {% endif %}
	</td>
	<td align="right">
	  {% if pmt_nmi_txn['convenience_fee'] -%}
	  <span class="negative_currency">({{ pmt_nmi_txn['convenience_fee'] }})</span>
	  {%- endif %}
	</td>
      </tr>
      <tr valign="top" class="standard_table_row_{{ row_class.current }}">
	<td></td>
	<td colspan="2">
	  {% if not pmt_nmi_txn['id'] in pmt_nmi_txn_action_list_by_pmt_nmi_txn_id %}
	  {% if pmt_nmi_txn['response'] != '1' %}
	  <span class="txn_fail">
	    {{ pmt_nmi_txn['request_posted_ts'].strftime('%Y-%m-%d %H:%M:%S') }} {{ pmt_nmi_txn['responsetext'] }}
	  </span>
	  {% else %}
	  {{ pmt_nmi_txn['request_posted_ts'].strftime('%Y-%m-%d %H:%M:%S') }} preliminary response: {{ pmt_nmi_txn['responsetext'] }}
	  {% endif %}
	  <br/>
	  {% endif %}
	  {% if pmt_nmi_txn['id'] in pmt_nmi_txn_action_list_by_pmt_nmi_txn_id %}
	  {% for r in pmt_nmi_txn_action_list_by_pmt_nmi_txn_id[pmt_nmi_txn['id']] %}
	  {% if pmt_nmi_txn['response'] != '1' or r['action_type'] == 'check_return' or r['action_type'] == 'check_late_return' %}
	  <span class="txn_fail">
	    {{ r['action_ts'].strftime('%Y-%m-%d %H:%M:%S') }} {{ r['action_type'] }} {{ r['amount'] }} {{ r['response_text'] or '' }}
	  </span>
	  {% else %}
	  {{ r['action_ts'].strftime('%Y-%m-%d %H:%M:%S') }} {{ r['action_type'] }} {{ r['amount'] }} {{ r['response_text'] or '' }}
	  {% endif %}
	  <br/>
	  {% endfor %}
	  {% endif %}
	</td>
	<td align="right">
	  {% if pmt_nmi_txn['convenience_fee'] -%}
	  {{ pmt_nmi_txn['prefee_amount'] }}
	  {%- endif %}
	</td>
      </tr>
      <tr valign="top" class="standard_table_row_{{ row_class.__next__() }}">
	<td></td>
	<td align="right">{% if pmt_nmi_txn['note'] %}Note:{% endif %}</td>
	<td>{{ pmt_nmi_txn['note'] or '' }}</td>
	<td></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
