{% extends "operations_base.html" %}

{% block title %}Desk Info{% endblock title %}

{% block menu %}
| <a href="https://operations.microoffice.com/1g/space/show_desks.cgi?floor_id={{ floor_id }}">Back to Desk Map</a> |
<a href="https://operations.microoffice.com/1g/tenant/show_active_accounts.cgi">Show Active Accounts</a> |
<a href="{{ url_for('show_edit_desk', desk_id=desk_id) }}">Show Edit Desk Page</a> |
<a href="https://operations.microoffice.com/1g/space/edit_desk_info.cgi?desk_id={{ desk_id }}">Edit Desk Info (Legacy)</a>
{% endblock menu %}

{% block content %}
{% for error in errors %}
<div style="color:red;"> {{ error }}</div>
{% endfor %}
{% from "_newformhelpers.html" import render_row %}
<div>
  <fieldset class="compact_fieldset">
    <legend>Information for Desk Number {{ desk.assigned_number }}</legend>
    <table id="desk_table">
      {% include "desk_info.html" %}
      {% if person %}
      <tr>
	<td>Person</td>
	<td>{{ person.first_name }} {{ person.last_name }}</td>
      </tr>
      {% endif %}
      {{ render_row("Number of People", desk.num_people) }}
      {{ render_row("Enclosed?", desk.is_enclosed) }}
      {{ render_row("List Price", desk.list_price) }}
      {{ render_row("Internet List Price", internet_list_price) }}
      {{ render_row("Phone List Price", phone_list_price) }}
      {% if desk.waiting_account %}
      <tr>
	<td>Waiting Account</td>
	<td>{{ desk.waiting_account }}</td>
      </tr>
      {% endif %}
      {% if desk.note %}
      <tr>
	<td>Note</td>
	<td>{{ desk.note }}</td>
      </tr>
      {% endif %}
      <tr>
	<td>Desk Area (sf)</td>
	<td>{{ desk_area_sf|round(4, 'floor') }}</td>
      </tr>
    </table>
  </fieldset>
</div>
<div>
  <table cellspacing="0" cellpadding="0" border="0" class='standard_table'>
    <thead>
      <tr>
	<td colspan='100' class='standard_table_title'>All Contracts</td>
      </tr>
      <tr class='standard_table_column_heading_row'>
	{% for header in ['Rent ($)', '$ / SqFt', 'Discount Given',
	'Internet ($)', 'Internet Lines', 'Internet Discount', 'Phone ($)', 'Phone Lines', 'Phone Discount', '# of Portal Fees',
	'Contract Type', 'Start Date','End Date', 'Account', 'Notes'] %}
	<th>{{ header }}</th>
	{% if not loop.last %}
	<td class="standard_table_spacer_column"/>
	{% endif %}
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% from "_formhelpers.html" import render_desk_row %}
      {% for price in desk_prices %}
      <tr class="{{ loop.cycle('standard_table_row_odd', 'standard_table_row_even') }}">
	{{ render_desk_row(price['price']) }}
	{{ render_desk_row((price['price']|float / desk_area_sf) |round(2, 'floor')) }}
	{{ render_desk_row("%.1f%%"|format(( ( 1 - ( price['price'] / desk.list_price ) ) * 100 ) | round(1, 'floor'))) }}
	{{ render_desk_row(price['internet_revenue']) }}
	{{ render_desk_row(price['internet_lines']) }}
	{{ render_desk_row(price['internet_discount']) }}
	{{ render_desk_row(price['phone_revenue']) }}
	{{ render_desk_row(price['phone_lines']) }}
	{{ render_desk_row(price['phone_discount']) }}
	{{ render_desk_row(price['portal_lines']) }}
	{{ render_desk_row(price['type']) }}
	{{ render_desk_row(price['start_date'].strftime('%m/%d/%Y')) }}
	{{ render_desk_row(price['end_date'].strftime('%m/%d/%Y')) }}
	{{ render_desk_row(price['account']) }}
	<td>{{ price['note'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div>
  <table cellspacing="0" cellpadding="0" border="0" class='standard_table'>
    <thead>
      <tr>
	<td colspan='100' class='standard_table_title'>Interactions</td>
      </tr>
      <tr class="standard_table_column_heading_row">
	<th>Note</th>
	<td class="standard_table_spacer_column"/>
	<th>Employee</th>
	<td class="standard_table_spacer_column"/>
	<th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for interaction in interactions %}
      <tr class="{{ loop.cycle('standard_table_row_odd', 'standard_table_row_even') }}">
	<td>{{ interaction['note'] }}</td>
	<td class="standard_table_spacer_column"/>
	<td>{{ interaction['name'] }}</td>
	<td class="standard_table_spacer_column"/>
	<td>{{ interaction['date'].strftime('%m/%d/%Y') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="{{url_for('submit_desk_sale_interaction', desk_id=desk_id) }}" method="POST" onsubmit="return document.getElementById('note').value != ''">
    {{ form.hidden_tag() }}
    {{ form.note }}
    {{ form.submit }}
  </form>
</div>
{% endblock content %}
