input {
  line-height: 1.7;
  padding: 5px;
  width: 100%;
}

form {
  margin: 20px;
  width: 500px;
}

td {
  width: 100%;
}

select {
  margin: 5px;
}

.centered {
  text-align: center;
}

/* special two inputs per row class */
.left {
	float: left;
}

.advanced {
  display: none;
}

label.error {
  color: red;
}

/* only put this max width when it's needed, otherwise let it fill the row */
@media (min-width: 487px) {
	.half {
		max-width: 200px;
	}
}

.btn {
  height: 50px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid black;
  border-radius: 4px;
}

.btn-submit {
  background: palegreen;
}