body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.error-cell {
    color: red;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#room_reservation_table, #table_datepicker_spacer, #datepicker_div {
    float: left;
}


/** Table **/
#room_reservation_table {
    touch-action: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    white-space: nowrap;
    border-collapse: collapse;
    table-layout: fixed;
}

.hoverBody tr:hover {
    background-color: #ffff99;
}

td {
    border: 1px dashed transparent;
    box-sizing: border-box;
}

td.schedule_date_header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
    padding: 4px;
    colspan: 100%;
}

td.schedule_date_header a {text-decoration: none; color:white; }
td.schedule_date_header a:visited { text-decoration: none; color:white; }
td.schedule_date_header a:hover { text-decoration: underline; color:white; }
td.schedule_date_header a:focus { text-decoration: underline; color:white; }

td.schedule_time_header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: left;
    background-color: orange;
    colspan: 100%;
}

td.schedule_upper_left_corner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    background-color: orange;
}

td.schedule_room_name_header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    background-color: orange;
    width: 150px;
}
div.schedule_room_name_header_div {
    width: 150px;
}

td.schedule_time {
    font-family: Courier New, Courier, monospace;
    font-size: 10pt;
    background-color: lightblue;
}

td.schedule_header_spacer_column {
    padding: 4px;
    background-color: orange;
}

td.schedule_spacer_column {
    padding: 4px;
    background-color: lightblue;
}

td.schedule_reservation_available_slot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    background-color: lightblue;
    color: gray;
}

td.schedule_reservation_occupied_slot_middle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    background-color: yellow;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color:transparent;
}

td.schedule_reservation_occupied_slot_end {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    background-color: yellow;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: transparent;
}

td.schedule_reservation_occupied_slot_start {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
    background-color: yellow;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    color: black;
    cursor: default;
    max-width:150px;
}

div.text-div {
    overflow: hidden;
    text-overflow: ellipsis;
}

td.schedule_reservation_occupied_slot_time_range {
    color:black;
}
/** Dialogs **/
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left; /* left/center/right */
}

.delete-button {

}
.submit-button, .submit-button:hover {
    background-color: #4d90fe;
    color: white;
		}
td.highlighted {
    background-color: orange;
    color:black;
}

div.resize-div {
    position: relative;
    bottom: 0;
    background-color: transparent;
    height: 10px;
    width: 100%;
    background-color: purple;

}

div.resize-div:hover {
    cursor:s-resize;
    background-color: green;
}

/** Date Picker **/
#table_datepicker_spacer {
    width: 50px;
    height: 1px;
}

/** error messages **/
div.response-div {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
span.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
span.closebtn:hover {
    color: black;
}