<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Virtual Office Space, Furnished Office New York City, Serviced Office For Rent</title>
    <meta name="description" content="Offers fully furnished office space in Manhattan, New York City for lease, rent, sublet, and sublease. Month to month lease of affordable offices in Manhattan, NYC complete with services such as mail, telephones, high speed internet." />
    <meta name="keywords" content="cheap office space in nyc, small office sublets in new york city, sublet small office space in new york city, offices to share in new york city, share office in nyc, new york office space, manhattan office space for rent, office space for lease nyc, find nyc office space, share office and services in nyc, office space in manhattan, office space nyc, nyc office space, manhattan office space, new york city office space, office space new york, shared office ny, shared office nyc, office lease manhattan, share office nyc, office lease new york, shared office manhattan, shared office new york, cheap office new york, cheap office manhattan, share office ny, low-cost office, low cost office, office lease nyc, office lease ny, office sublease new york, office sublease manhattan, office sublease ny, office space ny, office space manhattan, small business office, office sublease nyc, office sublet nyc, share office manhattan, share office new york" />
    <meta name="copyright" content="&copy; 2004 - 2018 Micro Office Management L.L.C." />
<link href="{{ static_base_url }}/apply/css/style.css" rel="stylesheet" type="text/css" />
<link href="{{ static_base_url }}/forms/css/alerts.css" rel="stylesheet" type="text/css" />
<script src="{{ static_base_url }}/apply/js/jquery/jquery.js"></script>
<script src="{{ static_base_url }}/apply/js/jquery-val/dist/jquery.validate.min.js"></script>
<script src="{{ static_base_url }}/apply/js/validators.js"></script>
<script src="{{ static_base_url }}/apply/js/daypass_validators.js"></script>
<script src="{{ static_base_url }}/apply/js/scripts.js"></script>

<body>
  <div id="header_wrap">
    <div id="header">
      <h1><img src="{{ static_base_url }}/apply/img/microoffice-work-cowork-network.png" alt="Micro Office" border="0" /></h1>
      <div id="callBox">
        Tel: (646) 201-5508<br />
        <a href="mailto:Sales@MicroOffice.com">Sales@MicroOffice.com</a>
      </div>
    </div><!-- end #header -->
  </div><!-- end #header_wrap -->
  <div id="wrapper">
    {% for message in get_flashed_messages() if message != 'This field is required.' %}
    {# Don't show the error if it's a InputRequired() error... render_field displays it #}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Error!</strong> {{ message }}
    </div>
    {% endfor %}
    <div id="content_box">
      {% block content %}{% endblock content %}
    </div><!-- end #content_box -->
  </div><!-- end #wrapper -->
  <div id="footer">
    <div class="copyright">
      &copy; 2003 - 2018 Micro Office Solutions
    </div>
  </div>
  <script>
    // switch state status based on country choices
    function changeState(location) {
    var state = document.getElementById(location+"_state");
    var province = document.getElementById(location+"_province");
    var country = document.getElementById(location+"_country");

    if (country.value == 'US') {
    province.parentElement.parentElement.style.display = 'none';
    province.value = '';
    state.parentElement.parentElement.style.display = 'table-row';
    }
    else {
    state.parentElement.parentElement.style.display = 'none';
    state.value = '';
    province.parentElement.parentElement.style.display = 'table-row';
    }
    }
  </script>
</body>
</html>
