{% extends "base.html" %}
{% block content %}
<div class="mainContent">
  <div class="rightContent">
    <h1>Daypass Form</h1>
    <h2>Fill out the form to receive a day pass</h2>
    <form id='daypassForm' method="post" action="/daypass/main{% if request.args.get('building') %}?building={{ request.args.get('building') }}{% endif %}">
      {{ form.hidden_tag() }}
      {% from "_formhelpers.html" import render_field, render_button, render_header %}
      <table class="contact_form_table" border="0">
	<tr>
	  <td width="23%"><span class="required_field">Required fields in Red</span></td>
	  <td width="77%"></td>
	</tr>
	{{ render_header('Company Information') }}
	{{ render_field(form.email) }}
	{{ render_field(form.num_people) }}
	{% if form.building_floor.hidden %}
	{# form.building_floor.hidden is true if building GET arg is specified and valid. #}
	<tr>
	  <td>{{ form.building_floor.label(class='required_field') }}</td>
	  <td><b>{{ request.args.get('building')|title }}</b> - {{ form.building_floor.choices[0][1] }}{{ form.building_floor(hidden='True') }}</td>
	</tr>
	{% else %}
	{{ render_field(form.building_floor) }}
	{% endif %}
	<tr id='daypass_price_row'>
	  <td><label class="required_field">Price</label></td>
	  <td id='daypass_price_td'/>
	</tr>
	<tr id='cc_fee_row'>
	  <td></td>
	  <td style="font-size:85%; padding-left:2em;">includes 3% credit card fee</td>
	</tr>
	{{ render_field(form.date) }}
	{{ render_field(form.phone_number, required=False) }}

	{{ render_header('Payment Details') }}
	{{ render_field(form.billing_first_name) }}
	{{ render_field(form.billing_last_name) }}
	{{ render_field(form.card_number) }}
	{{ render_field(form.expire_month) }}
	{{ render_field(form.expire_year) }}
	{{ render_field(form.cvv) }}

	{{ render_header('Billing Address') }}
	{{ render_field(form.billing_address_1) }}
	{{ render_field(form.billing_address_2, required=False) }}
	{{ render_field(form.billing_city) }}
	{{ render_field(form.billing_state) }}
	{{ render_field(form.billing_province) }}
	{{ render_field(form.billing_zip_code) }}
	{{ render_field(form.billing_country) }}

	{{ render_header('Miscellaneous') }}
	{{ render_field(form.billing_company, required=False) }}
	{{ render_field(form.note, required=False) }}

	{{ render_button(form.submit) }}
      </table>
    </form>
  </div>
  <div hidden id='link_helper' data-pricing-dict='{{ form.address_pricing_json|safe }}' data-cc-fee='{{ form.pay_card_convenience_pct }}'/>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/> <!-- style for calendar -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="{{ static_base_url }}/apply/js/daypass.js"></script>
{% endblock content %}
