{% extends "base.html" %}
{% block content %}
<div class="mainContent">
  <div class="rightContent">
    <h1>Successfully purchased daypass!</h1>
    <h4>{% for m in mes %}<div>{{ m }}</div>{% endfor %}</h4>
    <br/>
    {% from "_formhelpers.html" import render_header, render_as_row %}
    <table>

      {{ render_header('Submission details') }}
      {% for value in values %}
      {# this is the list of txn details in from [[label, value], [label,value]] #}
      {% if value[1] %}
      <tr><td>{{ value[0] }}</td><td>{{ value[1] }}</td></tr>
      {% endif %}
      {% endfor %}

      {{ render_as_row('First Name', card.billing_first_name) }}
      {{ render_as_row('Last Name', card.billing_last_name) }}
      {{ render_as_row('Company', card.billing_company) }}
      {{ render_as_row('Phone', phone_number) }}

      {{ render_header('Daypass Details') }}

      {{ render_as_row('Email', email) }}
      {{ render_as_row('Chosen Building & Floor', location) }}
      {{ render_as_row('Date of Service', date_of_service) }}

      {{ render_header('Billing Address') }}
      <tr>
	<td>Billing Address</td>
	<td>
	  {{ card.billing_address_1 }}<br/>
	  {% if card.billing_address_2 %}{{ card.billing_address_2 }}<br/>{% endif %}
	  {{ card.billing_city }}, {{ card.billing_state }}, {{ card.billing_zip_code }}<br/>
	  {{ card.billing_country }}
	</td>
      </tr>

      {{ render_header('Payment Details') }}
      <tr>
	<td>Customer Account ID</td>
	<td>{{ pmt_nmi_txn['cust_acct_id'] }}</td>
      </tr>
      <tr>
	<td>Customer Account Name</td>
	<td>{{ pmt_nmi_txn['name'] }}</td>
      </tr>
      <tr>
	<td>Location</td>
	<td>{{ pmt_nmi_txn['floor_label'] }}</td>
      </tr>
      <tr>
	<td>Credit Card Number</td>
	<td>{{ pmt_nmi_txn['card_number'] }}</td>
      </tr>
      <tr>
	<td>Expire Date</td>
	<td>{{ pmt_nmi_txn['expire_mmyyyy'] }}</td>
      </tr>
      <tr>
	<td>Amount</td>
	<td>${{ pmt_nmi_txn['prefee_amount'] }} + {{ pmt_nmi_txn['convenience_pct'] }}% convenience fee of {{ pmt_nmi_txn['convenience_fee'] }} = total of {{ pmt_nmi_txn['amount'] }}</td>
      </tr>
      <tr>
	<td>Scheduled Date</td>
	<td>{{ pmt_nmi_txn['scheduled_date'] }}</td>
      </tr>
      {% if pmt_nmi_txn['note'] %}
      <tr>
	<td>Note</td>
	<td>{{ pmt_nmi_txn['note'] }}</td>
      </tr>
      {% endif %}
      <tr>
	<td>Transaction Response</td>
	<td>{{ pmt_nmi_txn['responsetext'] }}</td>
      </tr>
      <tr>
	<td>Transaction ID</td>
	<td>{{ pmt_nmi_txn['transactionid'] }}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock content %}
