{% extends "base.html" %}
{% block content %}
<div class="mainContent">
  <div class="rightContent">
    <h1>Manage Account Details</h1>
    <form method="post" action="{{ url_for('send_email') }}">
      {{ form.hidden_tag() }}
      {% from "_formhelpers.html" import render_field, render_button %}
      <table class="contact_form_table" border="0">
        <tr class="odd">
          <td colspan="2"><strong>Use this form to request an email to access the account management page.</strong></td>
        </tr>
        {{ render_field(form.email) }}
        {{ render_button(form.submitForm) }}
      </table>
    </form>
  </div>
</div>
  <!--end #main content-->
{% endblock content %}
