{% extends "base.html" %}
{% block content %}
<div class="mainContent">
  <div class="rightContent">
    <h1>Please fill out the form to complete your registration.</h1>
    <form method="post" action="/register/result">
      {{ form.hidden_tag() }}
      {% from "_formhelpers.html" import render_field, render_button %}
      <table class="contact_form_table" border="0">
        <tr>
          <td width="23%"><span class="required_field">Required Fields in Red</span></td>
          <td width="77%"></td>
        </tr>
        <tr class="odd">
          <td colspan="2"><strong>Name and Description</strong></td>
        </tr>
        {{ render_field(form.title, required=False) }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
	{% if form.is_primary_contact %}
        {{ render_field(form.company, required=False) }}
        {{ render_field(form.biz_desc, required=False) }}
	{% endif %}
        <tr class="odd">
          <td colspan="2"><strong>Home Address</strong></td>
        </tr>
        {{ render_field(form.home_address_1) }}
        {{ render_field(form.home_address_2, required=False) }}
        {{ render_field(form.home_city) }}
        {{ render_field(form.home_state) }}
        {{ render_field(form.home_province, required=False, aftertext="(leave blank if in US)") }}
        {{ render_field(form.home_zip_code) }}
        {{ render_field(form.home_country) }}
	{{ render_field(form.has_work_addr, required=False) }}
	<tbody id='work_address_fields'>
        <tr class="odd">
          <td colspan="2"><strong>Work Address</strong></td>
        </tr>
        {{ render_field(form.work_address_1) }}
        {{ render_field(form.work_address_2, required=False) }}
        {{ render_field(form.work_city) }}
        {{ render_field(form.work_state) }}
        {{ render_field(form.work_province, required=False, aftertext="(leave blank if in US)") }}
        {{ render_field(form.work_zip_code) }}
        {{ render_field(form.work_country) }}
	</tbody>
        <tr class="odd">
          <td colspan="2"><strong>Other Details</strong></td>
        </tr>
        {{ render_field(form.phone) }}
        {{ render_field(form.intl_phone, required=False, aftertext="(check if using a non-US phone number, and include the + country code)") }}
	{% if form.is_primary_contact %}
        {{ render_field(form.website, required=False) }}
	{% endif %}

        {{ render_button(form.submitForm) }}
      </table>
    </form>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  document.getElementById("home_province").parentElement.parentElement.style.display = 'none';
  document.getElementById("work_province").parentElement.parentElement.style.display = 'none';
  toggle_work_address();
  }, false);

  // switch state status based on country choices
  function changeState(place) {
  var home_state1 = document.getElementById("home_state");
  var home_state2 = document.getElementById("home_province");

  if (home_country.value == 'US') {
  state2.parentElement.parentElement.style.display = 'none';
  state2.value = '';
  state1.parentElement.parentElement.style.display = 'table-row';
  }
  else {
  state1.parentElement.parentElement.style.display = 'none';
  state2.parentElement.parentElement.style.display = 'table-row';
  }
  }

  function toggle_work_address() {
  var work_addr = document.getElementById('work_address_fields');
  if (document.getElementById('has_work_addr').checked) {
  work_addr.style.display = '';
  } else {
  work_addr.style.display = 'none';
  }
  }
  document.getElementById("has_work_addr").addEventListener('change', toggle_work_address);

  var home_country = document.getElementById("home_country");
  home_country.addEventListener('change', function(){changeState('home')});

  var work_country = document.getElementById("work_country");
  work_country.addEventListener('change', function(){changeState('work')});
</script>
  <!--end #main content-->
{% endblock content %}
