{% extends "base.html" %}
{% block content %}
<div class="mainContent">
  <div class="rightContent">
    <h1>Registration complete!</h1>
    <h4>If there are any mistakes, please visit <a href={{ url_for('request_email') }}>this</a> page to amend them.</h4>
      <table>
        <tr class="odd">
          <td colspan="2"><strong>Name and Description</strong></td>
        </tr>
        {% if person.salutation %}
        <tr>
          <td>Title:</td>
          <td>{{ person.salutation }}</td>
        <tr>
        {% endif %}
        <tr>
          <td>First Name:</td>
          <td>{{ person.first_name }}</td>
        <tr>
        <tr>
          <td>Last Name:</td>
          <td>{{ person.last_name }}</td>
        <tr>
        <tr>
          <td>Company Name:</td>
          <td>{{ account.name }}</td>
        <tr>
        {% if account.description %}
        <tr>
          <td>Brief Business Description:</td>
          <td>{{ account.biz_desc }}</td>
        <tr>
        {% endif %}
        <tr class="odd">
          <td colspan="2"><strong>Home and Work Address</strong></td>
        </tr>
	<tr>
	  <td>Home Address:</td>
          <td>{% if person.salutation %}{{ person.salutation }}{% endif %} {{ person.first_name }} {{ person.last_name }}</br>
          {{ person.home_address_1 }}</br>
          {%- if person.home_address_2 %}{{ person.home_address_2 }}</br>{% endif -%}
          {{ person.home_city }}, {{ person.home_state }} {{ person.home_zip_code }}</br>
          {{ person.home_country }}
          </td>
	</tr>
	{% if person.work_address_1 and person.work_city and person.work_state and person.work_zip_code %}
        <tr>
          <td>Work Address:</td>
          <td>{% if person.salutation %}{{ person.salutation }}{% endif %} {{ person.first_name }} {{ person.last_name }}</br>
          {{ person.work_address_1 }}</br>
          {%- if person.work_address_2 %}{{ person.work_address_2 }}</br>{% endif -%}
          {{ person.work_city }}, {{ person.work_state }} {{ person.work_zip_code }}</br>
          {{ person.work_country }}
          </td>
        </tr>
	{% endif %}
        <tr class="odd">
          <td colspan="2"><strong>Phone, Email, and Web</strong></td>
        </tr>
        <tr>
          <td>Main Phone:</td>
          <td>{{ person.cell_phone_number }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ person.email }}</td>
        </tr>
        {% if account.web_site %}
        <tr>
          <td>Website:</td>
          <td>{{ account.web_site }}</td>
        </tr>
          {% endif %}
	<tr class="odd">
          <td colspan="2"><strong>Service Details</strong></td>
        </tr>
	<tr>
          <td>Virtual Office Service Plan:</td>
          <td>{{ plan }}</td>
        <tr>
        <tr>
          <td>Building:</td>
          <td>{{ floor.building_label }}</td>
        <tr>
        <tr>
          <td>Location</td>
          <td>{{ floor.label }}</td>
        </tr>
        <tr>
          <td>Customer Account ID</td>
          <td>{{ account.id }}</td>
        </tr>
      </table>
  </div>
</div><!--end #main content-->
{% endblock content %}
