{% extends "base.html" %}
{% block content %}
<div class="mainContent">
  <div class="rightContent">
    <h1>Email Sent!</h1>
    <h3>Please allow up to 5 minutes for the email to arrive in your inbox.</h3>
  </div>
</div><!--end #main content-->
{% endblock content %}
