{% extends "base.html" %}
{% block content %}
<p> Congratulations! You've successfully set your password for our <a href=https://pay.microoffice.com>payment site</a>, as well as many others. However, you will not be able to access these sites until your application has been approved, at which time you will receive an email to that effect.</p>  
{% endblock content %}