{% extends "base.html" %}
{% block content %}
<p>Please enter and confirm a new password. This will be your password for our <a href=https://pay.microoffice.com>payment site</a>, as well as many others. However, you will not be able to access these sites until your application has been approved, at which time you will receive an email to that effect.</p>  
<form method='post' id='set_password' action='/submit_password'>
  <table>
    {% from "_formhelpers.html" import render_field, render_button %}
    {{ form.hidden_tag() }}
    {{ form.token }}
    {{ render_field(form.password)}}
    {{ render_field(form.confirm)}}
    {{ render_button(form.submitForm)}}
  </table>
</form>
{% endblock content %}