<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Micro Office Solutions: Virtual Office Terms of Service</title>
    <meta name="keywords" content="office space, individual offices, leasing, rentals, New York City, Manhattan, New York, mail services, flexible, telephones, data, voice, NY, NYC, Micro Office Solutions, short term space, businesses, SoHo, high speed internet, business center, business sublease, business sublet, NY, NYC, cheap, cube space, cubicle, cubicles, economy office sublets, field workspace, freelancers, furnished offices, individual, instant, lease, leased, to let, low cost, low-cost, managed, Manhattan, month to month, monthly, month-to-month, New York, New York City offices, rent, sharing, rental, shared, office space, suites, part time, part-time, plug play, plug-and-play office, plug-and-play, plug-n-play, prefurnished, pre-furnished, rent, rentable, renting, satellite, share, shared, short term, short-term, small biz, small business, space lease, sublease, temp, temporary, metro area, metro areas, entrepreneurs, flatiron, flat iron, turnkey, plug and play, ready to use, office sublets, broadband, sublets, leasing, subleases, a la carte, startups, startup, early stage, consultants, discount, discounts, businesses, individuals, affordable, conferencing, meeting rooms, executive suites, Mail boxes, conference rooms, secretarial services, audio conference, T1, full service, high speed internet, administration, reception, mobile professionals, wireless, wi-fi, emerging companies, mobile professionals" />
    <meta name="description" content="Fully furnished New York City small business office space for rent. Month to month lease of affordable offices in Manhattan complete with services such as mail, telephones, high speed internet, etc." />
    <meta name="copyright" content="&copy; 2018 Micro Office Management L.L.C." />
    <link rel="Stylesheet" type="text/css" href="{{ static_base_url }}/apply/css/style.css" />
  </head>
  <body>
    <p class="page_title"><a href="#NYC">New York City</a> | <a href="#Chicago">Chicago</a> | <a href="#Boston">Boston</a></p>
    <p class="page_title"><a name="NYC" id="NYC"></a><strong>Micro Office / Coalition Space Virtual Office Terms of Service - NYC</strong></p>
    <ol>
      <li>
        <span class="paragraph_caption">Agreement</span>. This Terms
        of Service document may hereinafter be referenced as
        "Agreement", "Terms of Service", or "TOS". Such references
        shall refer to this Terms of Service document.
      </li>
      <li>
        <span class="paragraph_caption">Signup Form</span>. Completing
        the virtual office signup form at the www.microoffice.com web
        site ("Signup Form") is Customer's acknowledgement that he has
        read this Agreement in its entirety and agrees with this
        Agreement in its entirety.
      </li>
      <li>
        <span class="paragraph_caption">Customer</span>. The person
        whose name appears on the Signup Form is the Customer.
      </li>
      <li>
        <span class="paragraph_caption">Service Address</span>. The
      Service Address may be one of the following office locations<br />
      902 Broadway, Floor 6, New York, NY 10010<br />
      122 W 27th Street, Floor 10, New York, NY 10001<br />
      535 5th Ave, Floor 16, New York, NY 10017<br />
      </li>
      <li>
        <span class="paragraph_caption">Services
        Provided</span>. Service Provider agrees to accept mail and
        packages addressed to Customer at the Service
        Address. Customer may use the Service Address as his business
        address solely for the purpose of receiving mail, subject
        further to the exceptions specified in the Agreement and
        limited to activities permissible by law in the state of New
        York. Customer may pick up his mail and packages during the
        Hours of Operation, as defined elsewhere in this
        Agreement. Service Provider agrees to provide four (4) hours
        of conference room usage during the Hours of Operation per
        calendar month to Customer. Unused conference room usage in
        one month does not carry over into the following
        month. Additional conference room usage may be requested by
        Customer and, if conference room time is available, shall be
        billed at a published rate available on Service Provider's web
        site. If Customer has signed up for the Basic package, Service
        Provider agrees to provide a 646 Manhattan phone number for
        incoming phone calls with remotely accessible voicemail and
        call forwarding capability. The mail and package acceptance,
        conference room usage, and (if applicable) phone number
        together comprise the "Services Provided."
      </li>
      <li>
        <span class="paragraph_caption">Hours of
        Operation</span>. Service Provider is generally open from
        Monday through Friday, 9 AM to 5 PM, excluding nationally
        recognized holidays ("Hours of Operation"). Customer agrees to
        limit his usage of Services Provided to the Hours of
        Operation.
      </li>
      <li>
        <span class="paragraph_caption">Term of Agreement</span>. The
        term of this Agreement ("Term") is three months. If Customer
        cancels before the completion of the Term, Service Provider
        shall bill Customer for the remainder of the Term. After the
        Term of three months, the Agreement follows the Automatic
        Renewal policy specified elsewhere in this Agreement.
      </li>
      <li>
        <span class="paragraph_caption">Automatic Renewal</span>. This
        agreement automatically renews at the end of the Term and at
        the end of each month thereafter for one (1) month increments
        unless Customer gives thirty (30) days of notice of intention
        to terminate this Agreement. Service Provider may terminate
        this Agreement after the Term upon giving Customer thirty (30)
        days of notice of intention to terminate this Agreement.
      </li>
      <li>
        <span class="paragraph_caption">Termination</span>. Notices
        to terminate the Agreement must be in writing and delivered to
        an officer or authorized representative of the other party
        concerned or sent by registered mail to Service Provider or
        Customer address as appropriate. Service Provider may
        terminate this Agreement immediately by giving Customer notice
        if: (i) Customer becomes insolvent, goes into liquidation, or
        becomes unable to pay his debts as they fall due, (ii)
        Customer is in breach of one of his obligations which cannot
        be cured, or (iii) Customer's conduct, or that of someone at
        the Service Address with Customer's permission or at
        Customer's invitation, is illegal, fraudulent, defamatory, or
        incompatible with ordinary office use. If Service Provider
        terminates the Agreement for any of the aforementioned
        reasons, it does not eliminate any then outstanding
        obligations Customer may have and Customer must: (i) pay for
        additional services Customer has used, and (ii) pay the
        standard fee for the remainder of the period for which
        Customer's agreement would have lasted had Service Provider
        not terminated the Agreement, or (if longer) for a further
        period of three months, and indemnify Service Provider against
        all costs and losses Service Provider incurs as a result of
        the termination.
      </li>
      <li>
        <span class="paragraph_caption">Setup Fee</span>. There may be
        a setup fee ("Setup Fee") associated with the Services
        Provided. The Setup Fee shall be clearly listed on the Signup
        Form. The Setup Fee is a non-refundable fee. The Setup Fee
        shall be charged to the Customer's credit card upon completion
        of the Signup Form.
      </li>
      <li>
        <span class="paragraph_caption">Monthly Fee</span>. The
        monthly fee for the Services Provided ("Monthly Fee") shall be
        clearly listed on the Signup Form. The Monthly Fee shall be
        payable monthly on or before the first day of every month. If
        Customer begins service in the middle of a month, the first
        month shall be prorated and subsequent months shall be billed
        at the Monthly Fee. Monthly Fees must be paid via credit card,
        except that prepayments of multiple months may be made by
        check. Service Provider may from time to time increase the
        Monthly Fee after the initial Term.
      </li>
      <li>
        <span class="paragraph_caption">Currency</span>. All fees are
        payable in U.S. dollars. If checks are permitted in certain
        situations by this Agreement as a payment method, the checks
        must be drawn on a U.S. bank.
      </li>
      <li>
        <span class="paragraph_caption">Bounced Check Fee</span>. If
        Customer's check bounces, Customer shall promptly pay the
        original amount due plus a $25 bounced check fee for every
        bounced check.
      </li>
      <li>
        <span class="paragraph_caption">Declined Credit
        Cards</span>. If Customer's credit card is declined, Customer
        shall promptly pay the original amount due plus a $25 declined
        card fee. Customer shall either pay with a different card or,
        if the declined card's credit status has been repaired, with
        the same card.
      </li>
      <li>
        <span class="paragraph_caption">Permitted Mail and
        Packages</span>. Service Provider will not accept any items
        exceeding 4.5 kg (10 lbs.) in weight, 46 cm (18&quot;) in any
        dimension, 0.03 cubic metres (1 cubic foot) in volume or if it
        contains any dangerous, live, or perishable goods and shall be
        entitled in its absolute discretion to returned uncollected
        items or refuse to accept any quantity of items it considers
        unreasonable or unlawful.
      </li>
      <li>
        <span class="paragraph_caption">Use of
        Service</span>. Customer warrants that it will not use any of
        the rights granted in this Agreement for any obscene, illegal,
        immoral or defamatory purposes and will not in any way bring
        Service Provider into disrepute. Customer will not in any way
        whatsoever use or combine Service Provider's trade name or
        legal name, in whole or in part, for the purpose of trading
        activities. Service Provider reserves the right to cooperate
        with any official investigating authority if required in
        relation to any allegations of impropriety against Customer.
      </li>
      <li>
        <span class="paragraph_caption">Assignment</span>. Customer
        may not assign or otherwise permit any other person or entity
        to use the Services Provided.
      </li>
      <li>
        <span class="paragraph_caption">Late Charge</span>. In the
        event that any payment required to be made by Customer is not
        made within five (5) days after the due date, Customer shall
        pay a late charge of five percent (5%) of the overdue amount
        as a service charge for handling late payments. The late
        charge is in addition to other remedies available to Service
        Provider provided elsewhere in this Agreement upon a default
        by Customer.
      </li>
      <li>
        <span class="paragraph_caption">Default</span>. It shall be an
        Event of Default hereunder if (i) Customer fails to pay the
        Setup Fee or Monthly Fee or make any other payment hereunder
        within seven (7) days after such payment becomes due, or (ii)
        Customer should default under any other provision of this
        Agreement and fail to cure such default within ten (10) days
        after receipt of written notice from Service Provider (or such
        longer period as may be reasonably required provided Customer
        is proceeding with all due diligence to cure said
        default). Upon an Event of Default, Service Provider may
        exercise any and all rights and remedies available at law and
        equity and, without limiting the foregoing, Service Provider
        may terminate this Agreement without being liable therefore or
        for damages. Upon any termination of this Agreement, whether
        by lapse of time or otherwise, Customer shall thereafter have
        no further right to use the Service Address as his business
        address and all rights to services hereunder shall end and
        Customer shall thereafter make no further use of the Service
        Address.
      </li>
      <li>
        <span class="paragraph_caption">Failure to Perform
        Duty</span>. Service Provider shall not be liable for any loss
        sustained as a result of any mechanical breakdown, strike,
        delay or failure of any staff member of Service Provider to
        perform his duties.
      </li>
      <li>
        <span class="paragraph_caption">Attorney Fees</span>. If
        Service Provider should employ an attorney to enforce any of
        the terms or provisions of this Agreement, including without
        limitation the collection of any fees, Customer agrees to pay
        all expenses incurred by Service Provider including a
        reasonable legal fee.
      </li>
      <li>
        <span class="paragraph_caption">Governing Law</span>. This
        Agreement shall be governed, construed and interpreted by,
        through and under the Laws of the State of New York.
      </li>
      <li>
        <span class="paragraph_caption">Severability</span>. If any
        provision of this Agreement or the application thereof shall,
        for any reason and to any extent, be invalid or unenforceable,
        neither the remainder of this Agreement nor the application of
        the provision to other persons, entities or circumstances
        shall be affected thereby, but instead shall be enforced to
        the maximum extent permitted by law.
      </li>
      <li>
        <span class="paragraph_caption">Binding Effect</span>. The
        covenants, obligations and conditions herein contained shall
        be binding on and inure to the benefit of the heirs, legal
        representatives, successors and permitted assigns of the
        parties hereto.
      </li>
      <li>
        <span class="paragraph_caption">Descriptive Headings and
        Captions</span>. The descriptive headings and captions used
        herein are for convenience of reference only and they are not
        intended to have any effect in determining the rights or
        obligations of the parties. Where there is a conflict between
        the captions and the text, the text shall prevail.
      </li>
      <li>
        <span class="paragraph_caption">Non-Waiver</span>. All waivers
        must be in writing and signed by the waiving party. Service
        Provider's failure to enforce any provision of this Agreement
        or its acceptance of any payments shall not be a waiver and
        shall not prevent Service Provider from enforcing any
        provision of this Agreement in the future. No receipt of money
        by Service Provider shall be deemed to waive any default by
        Customer or to extend, reinstate or continue the Term.
      </li>
    </ol>
  <p class="page_title"><strong><a name="Chicago" id="Chicago"></a>Micro Office / Coalition Space Virtual Office Terms of Service</strong> <strong>- Chicago</strong></p>
  <ol start="1" type="1">
    <li><u>Agreement</u>.       This Terms of Service document may hereinafter be referenced as       &quot;Agreement&quot;, &quot;Terms of Service&quot;, or &quot;TOS&quot;.       Such references shall refer to this Terms of Service document.</li>
    <li><u>Signup Form</u>.       Completing the virtual office signup form at the www.microoffice.com web       site (&quot;Signup Form&quot;) is Customer's acknowledgement that he has       read this Agreement in its entirety and agrees with this Agreement in its       entirety.</li>
    <li><u>Customer</u>.       The person whose name appears on the Signup Form is the Customer.</li>
    <li><u>Service Address</u>.       The Service Address may be one of the following office locations<br />18 S. Michigan, Floor 12, Chicago, IL 60603<br />405 W. Superior St, Floor 1, Chicago, IL 60654<br /></li>
    <li><u>Services Provided</u>.       Service Provider agrees to accept mail and packages addressed to Customer       at the Service Address. Customer may use the Service Address as his       business address solely for the purpose of receiving mail, subject further       to the exceptions specified in the Agreement and limited to activities       permissible by law in the state of Illinois Customer may pick up his mail       and packages during the Hours of Operation, as defined elsewhere in this       Agreement. Service Provider agrees to provide four (4) hours of conference       room usage during the Hours of Operation per calendar month to Customer.       Unused conference room usage in one month does not carry over into the       following month. Additional conference room usage may be requested by       Customer and, if conference room time is available, shall be billed at a       published rate available on Service Provider's web site. If Customer has       signed up for the Basic package, Service Provider agrees to provide a 312       Chicago phone number for incoming phone calls with remotely accessible       voicemail and call forwarding capability. The mail and package acceptance,       conference room usage, and (if applicable) phone number together comprise       the &quot;Services Provided.&quot;</li>
    <li><u>Hours of Operation</u>.       Service Provider is generally open from Monday through Friday, 9 AM to 5       PM, excluding nationally recognized holidays (&quot;Hours of Operation&quot;).       Customer agrees to limit his usage of Services Provided to the Hours of       Operation.</li>
    <li><u>Term of Agreement</u>.       The term of this Agreement (&quot;Term&quot;) is three months. If Customer       cancels before the completion of the Term, Service Provider shall bill       Customer for the remainder of the Term. After the Term of three months,       the Agreement follows the Automatic Renewal policy specified elsewhere in       this Agreement.</li>
    <li><u>Automatic Renewal</u>.       This agreement automatically renews at the end of the Term and at the end       of each month thereafter for one (1) month increments unless Customer       gives thirty (30) days of notice of intention to terminate this Agreement.       Service Provider may terminate this Agreement after the Term upon giving       Customer thirty (30) days of notice of intention to terminate this       Agreement.</li>
    <li><u>Termination</u>.       Notices to terminate the Agreement must be in writing and delivered to an       officer or authorized representative of the other party concerned or sent       by registered mail to Service Provider or Customer address as appropriate.       Service Provider may terminate this Agreement immediately by giving       Customer notice if: (i) Customer becomes insolvent, goes into liquidation,       or becomes unable to pay his debts as they fall due, (ii) Customer is in       breach of one of his obligations which cannot be cured, or (iii)       Customer's conduct, or that of someone at the Service Address with       Customer's permission or at Customer's invitation, is illegal, fraudulent,       defamatory, or incompatible with ordinary office use. If Service Provider       terminates the Agreement for any of the aforementioned reasons, it does       not eliminate any then outstanding obligations Customer may have and       Customer must: (i) pay for additional services Customer has used, and (ii)       pay the standard fee for the remainder of the period for which Customer's       agreement would have lasted had Service Provider not terminated the       Agreement, or (if longer) for a further period of three months, and       indemnify Service Provider against all costs and losses Service Provider       incurs as a result of the termination.</li>
    <li><u>Setup Fee</u>.       There may be a setup fee (&quot;Setup Fee&quot;) associated with the       Services Provided. The Setup Fee shall be clearly listed on the Signup       Form. The Setup Fee is a non-refundable fee. The Setup Fee shall be       charged to the Customer's credit card upon completion of the Signup Form.</li>
    <li><u>Monthly Fee</u>.       The monthly fee for the Services Provided (&quot;Monthly Fee&quot;) shall       be clearly listed on the Signup Form. The Monthly Fee shall be payable       monthly on or before the first day of every month. If Customer begins       service in the middle of a month, the first month shall be prorated and       subsequent months shall be billed at the Monthly Fee. Monthly Fees must be       paid via credit card, except that prepayments of multiple months may be       made by check. Service Provider may from time to time increase the Monthly       Fee after the initial Term.</li>
    <li><u>Currency</u>.       All fees are payable in U.S. dollars. If checks are permitted in certain       situations by this Agreement as a payment method, the checks must be drawn       on a U.S. bank.</li>
    <li><u>Bounced Check Fee</u>.       If Customer's check bounces, Customer shall promptly pay the original       amount due plus a $25 bounced check fee for every bounced check.</li>
    <li><u>Declined Credit Cards</u>.       If Customer's credit card is declined, Customer shall promptly pay the       original amount due plus a $25 declined card fee. Customer shall either       pay with a different card or, if the declined card's credit status has       been repaired, with the same card.</li>
    <li><u>Permitted Mail and Packages</u>. Service Provider will not accept any items exceeding       4.5 kg (10 lbs.) in weight, 46 cm (18&quot;) in any dimension, 0.03 cubic       metres (1 cubic foot) in volume or if it contains any dangerous, live, or       perishable goods and shall be entitled in its absolute discretion to       returned uncollected items or refuse to accept any quantity of items it       considers unreasonable or unlawful.</li>
    <li><u>Use of Service</u>.       Customer warrants that it will not use any of the rights granted in this       Agreement for any obscene, illegal, immoral or defamatory purposes and       will not in any way bring Service Provider into disrepute. Customer will       not in any way whatsoever use or combine Service Provider's trade name or       legal name, in whole or in part, for the purpose of trading activities.       Service Provider reserves the right to cooperate with any official       investigating authority if required in relation to any allegations of       impropriety against Customer.</li>
    <li><u>Assignment</u>.       Customer may not assign or otherwise permit any other person or entity to       use the Services Provided.</li>
    <li><u>Late Charge</u>.       In the event that any payment required to be made by Customer is not made       within five (5) days after the due date, Customer shall pay a late charge       of five percent (5%) of the overdue amount as a service charge for       handling late payments. The late charge is in addition to other remedies       available to Service Provider provided elsewhere in this Agreement upon a       default by Customer.</li>
    <li><u>Default</u>.       It shall be an Event of Default hereunder if (i) Customer fails to pay the       Setup Fee or Monthly Fee or make any other payment hereunder within seven       (7) days after such payment becomes due, or (ii) Customer should default       under any other provision of this Agreement and fail to cure such default       within ten (10) days after receipt of written notice from Service Provider       (or such longer period as may be reasonably required provided Customer is       proceeding with all due diligence to cure said default). Upon an Event of       Default, Service Provider may exercise any and all rights and remedies       available at law and equity and, without limiting the foregoing, Service       Provider may terminate this Agreement without being liable therefore or       for damages. Upon any termination of this Agreement, whether by lapse of       time or otherwise, Customer shall thereafter have no further right to use       the Service Address as his business address and all rights to services       hereunder shall end and Customer shall thereafter make no further use of       the Service Address.</li>
    <li><u>Failure to Perform Duty</u>. Service Provider shall not be liable for any loss       sustained as a result of any mechanical breakdown, strike, delay or       failure of any staff member of Service Provider to perform his duties.</li>
    <li><u>Attorney Fees</u>.       If Service Provider should employ an attorney to enforce any of the terms       or provisions of this Agreement, including without limitation the       collection of any fees, Customer agrees to pay all expenses incurred by       Service Provider including a reasonable legal fee.</li>
    <li><u>Governing Law</u>.       This Agreement shall be governed, construed and interpreted by, through       and under the Laws of the State of New York.</li>
    <li><u>Severability</u>.       If any provision of this Agreement or the application thereof shall, for       any reason and to any extent, be invalid or unenforceable, neither the       remainder of this Agreement nor the application of the provision to other       persons, entities or circumstances shall be affected thereby, but instead       shall be enforced to the maximum extent permitted by law.</li>
    <li><u>Binding Effect</u>.       The covenants, obligations and conditions herein contained shall be       binding on and inure to the benefit of the heirs, legal representatives,       successors and permitted assigns of the parties hereto.</li>
    <li><u>Descriptive Headings and Captions</u>. The descriptive headings and captions used herein are       for convenience of reference only and they are not intended to have any       effect in determining the rights or obligations of the parties. Where       there is a conflict between the captions and the text, the text shall       prevail.</li>
    <li><u>Non-Waiver</u>.       All waivers must be in writing and signed by the waiving party. Service       Provider's failure to enforce any provision of this Agreement or its       acceptance of any payments shall not be a waiver and shall not prevent       Service Provider from enforcing any provision of this Agreement in the       future. No receipt of money by Service Provider shall be deemed to waive       any default by Customer or to extend, reinstate or continue the Term.</li>
  </ol>
    <p class="page_title"><strong><a name="Boston" id="Boston"></a>Micro Office / Coalition Space Virtual Office Terms of Service</strong> <strong>- Boston</strong></p>
  <ol start="1" type="1">
    <li><u>Agreement</u>.       This Terms of Service document may hereinafter be referenced as       &quot;Agreement&quot;, &quot;Terms of Service&quot;, or &quot;TOS&quot;.       Such references shall refer to this Terms of Service document.</li>
    <li><u>Signup Form</u>.       Completing the virtual office signup form at the www.microoffice.com web       site (&quot;Signup Form&quot;) is Customer's acknowledgement that he has       read this Agreement in its entirety and agrees with this Agreement in its       entirety.</li>
    <li><u>Customer</u>.       The person whose name appears on the Signup Form is the Customer.</li>
    <li><u>Service Address</u>.       The Service Address is 68 Harrison Ave, Boston, MA 02111.       Coalition is a MicroOffice company.</li>
    <li><u>Services Provided</u>.       Service Provider agrees to accept mail and packages addressed to Customer       at the Service Address. Customer may use the Service Address as his       business address solely for the purpose of receiving mail, subject further       to the exceptions specified in the Agreement and limited to activities       permissible by law in the state of Massachusetts Customer may pick up his mail       and packages during the Hours of Operation, as defined elsewhere in this       Agreement. Service Provider agrees to provide four (4) hours of conference       room usage during the Hours of Operation per calendar month to Customer.       Unused conference room usage in one month does not carry over into the       following month. Additional conference room usage may be requested by       Customer and, if conference room time is available, shall be billed at a       published rate available on Service Provider's web site. If Customer has       signed up for the Basic package, Service Provider agrees to provide a 617       Boston phone number for incoming phone calls with remotely accessible       voicemail and call forwarding capability. The mail and package acceptance,       conference room usage, and (if applicable) phone number together comprise       the &quot;Services Provided.&quot;</li>
    <li><u>Hours of Operation</u>.       Service Provider is generally open from Monday through Friday, 9 AM to 5       PM, excluding nationally recognized holidays (&quot;Hours of Operation&quot;).       Customer agrees to limit his usage of Services Provided to the Hours of       Operation.</li>
    <li><u>Term of Agreement</u>.       The term of this Agreement (&quot;Term&quot;) is three months. If Customer       cancels before the completion of the Term, Service Provider shall bill       Customer for the remainder of the Term. After the Term of three months,       the Agreement follows the Automatic Renewal policy specified elsewhere in       this Agreement.</li>
    <li><u>Automatic Renewal</u>.       This agreement automatically renews at the end of the Term and at the end       of each month thereafter for one (1) month increments unless Customer       gives thirty (30) days of notice of intention to terminate this Agreement.       Service Provider may terminate this Agreement after the Term upon giving       Customer thirty (30) days of notice of intention to terminate this       Agreement.</li>
    <li><u>Termination</u>.       Notices to terminate the Agreement must be in writing and delivered to an       officer or authorized representative of the other party concerned or sent       by registered mail to Service Provider or Customer address as appropriate.       Service Provider may terminate this Agreement immediately by giving       Customer notice if: (i) Customer becomes insolvent, goes into liquidation,       or becomes unable to pay his debts as they fall due, (ii) Customer is in       breach of one of his obligations which cannot be cured, or (iii)       Customer's conduct, or that of someone at the Service Address with       Customer's permission or at Customer's invitation, is illegal, fraudulent,       defamatory, or incompatible with ordinary office use. If Service Provider       terminates the Agreement for any of the aforementioned reasons, it does       not eliminate any then outstanding obligations Customer may have and       Customer must: (i) pay for additional services Customer has used, and (ii)       pay the standard fee for the remainder of the period for which Customer's       agreement would have lasted had Service Provider not terminated the       Agreement, or (if longer) for a further period of three months, and       indemnify Service Provider against all costs and losses Service Provider       incurs as a result of the termination.</li>
    <li><u>Setup Fee</u>.       There may be a setup fee (&quot;Setup Fee&quot;) associated with the       Services Provided. The Setup Fee shall be clearly listed on the Signup       Form. The Setup Fee is a non-refundable fee. The Setup Fee shall be       charged to the Customer's credit card upon completion of the Signup Form.</li>
    <li><u>Monthly Fee</u>.       The monthly fee for the Services Provided (&quot;Monthly Fee&quot;) shall       be clearly listed on the Signup Form. The Monthly Fee shall be payable       monthly on or before the first day of every month. If Customer begins       service in the middle of a month, the first month shall be prorated and       subsequent months shall be billed at the Monthly Fee. Monthly Fees must be       paid via credit card, except that prepayments of multiple months may be       made by check. Service Provider may from time to time increase the Monthly       Fee after the initial Term.</li>
    <li><u>Currency</u>.       All fees are payable in U.S. dollars. If checks are permitted in certain       situations by this Agreement as a payment method, the checks must be drawn       on a U.S. bank.</li>
    <li><u>Bounced Check Fee</u>.       If Customer's check bounces, Customer shall promptly pay the original       amount due plus a $25 bounced check fee for every bounced check.</li>
    <li><u>Declined Credit Cards</u>.       If Customer's credit card is declined, Customer shall promptly pay the       original amount due plus a $25 declined card fee. Customer shall either       pay with a different card or, if the declined card's credit status has       been repaired, with the same card.</li>
    <li><u>Permitted Mail and Packages</u>. Service Provider will not accept any items exceeding       4.5 kg (10 lbs.) in weight, 46 cm (18&quot;) in any dimension, 0.03 cubic       metres (1 cubic foot) in volume or if it contains any dangerous, live, or       perishable goods and shall be entitled in its absolute discretion to       returned uncollected items or refuse to accept any quantity of items it       considers unreasonable or unlawful.</li>
    <li><u>Use of Service</u>.       Customer warrants that it will not use any of the rights granted in this       Agreement for any obscene, illegal, immoral or defamatory purposes and       will not in any way bring Service Provider into disrepute. Customer will       not in any way whatsoever use or combine Service Provider's trade name or       legal name, in whole or in part, for the purpose of trading activities.       Service Provider reserves the right to cooperate with any official       investigating authority if required in relation to any allegations of       impropriety against Customer.</li>
    <li><u>Assignment</u>.       Customer may not assign or otherwise permit any other person or entity to       use the Services Provided.</li>
    <li><u>Late Charge</u>.       In the event that any payment required to be made by Customer is not made       within five (5) days after the due date, Customer shall pay a late charge       of five percent (5%) of the overdue amount as a service charge for       handling late payments. The late charge is in addition to other remedies       available to Service Provider provided elsewhere in this Agreement upon a       default by Customer.</li>
    <li><u>Default</u>.       It shall be an Event of Default hereunder if (i) Customer fails to pay the       Setup Fee or Monthly Fee or make any other payment hereunder within seven       (7) days after such payment becomes due, or (ii) Customer should default       under any other provision of this Agreement and fail to cure such default       within ten (10) days after receipt of written notice from Service Provider       (or such longer period as may be reasonably required provided Customer is       proceeding with all due diligence to cure said default). Upon an Event of       Default, Service Provider may exercise any and all rights and remedies       available at law and equity and, without limiting the foregoing, Service       Provider may terminate this Agreement without being liable therefore or       for damages. Upon any termination of this Agreement, whether by lapse of       time or otherwise, Customer shall thereafter have no further right to use       the Service Address as his business address and all rights to services       hereunder shall end and Customer shall thereafter make no further use of       the Service Address.</li>
    <li><u>Failure to Perform Duty</u>. Service Provider shall not be liable for any loss       sustained as a result of any mechanical breakdown, strike, delay or       failure of any staff member of Service Provider to perform his duties.</li>
    <li><u>Attorney Fees</u>.       If Service Provider should employ an attorney to enforce any of the terms       or provisions of this Agreement, including without limitation the       collection of any fees, Customer agrees to pay all expenses incurred by       Service Provider including a reasonable legal fee.</li>
    <li><u>Governing Law</u>.       This Agreement shall be governed, construed and interpreted by, through       and under the Laws of the State of New York.</li>
    <li><u>Severability</u>.       If any provision of this Agreement or the application thereof shall, for       any reason and to any extent, be invalid or unenforceable, neither the       remainder of this Agreement nor the application of the provision to other       persons, entities or circumstances shall be affected thereby, but instead       shall be enforced to the maximum extent permitted by law.</li>
    <li><u>Binding Effect</u>.       The covenants, obligations and conditions herein contained shall be       binding on and inure to the benefit of the heirs, legal representatives,       successors and permitted assigns of the parties hereto.</li>
    <li><u>Descriptive Headings and Captions</u>. The descriptive headings and captions used herein are       for convenience of reference only and they are not intended to have any       effect in determining the rights or obligations of the parties. Where       there is a conflict between the captions and the text, the text shall       prevail.</li>
    <li><u>Non-Waiver</u>.       All waivers must be in writing and signed by the waiving party. Service       Provider's failure to enforce any provision of this Agreement or its       acceptance of any payments shall not be a waiver and shall not prevent       Service Provider from enforcing any provision of this Agreement in the       future. No receipt of money by Service Provider shall be deemed to waive       any default by Customer or to extend, reinstate or continue the Term.</li>
  </ol>
<p>&nbsp;</p>
  </body>
</html>
