{% extends "base.html" %}
{% block content %}
    <div class="mainContent">
      <div class="rightContent">
        <h1>Virtual Office Application</h1>
        <h2>Manhattan, Chicago, and Boston Office Space</h2>
        <form method="post" action="/submit_apply_virtual" id="apply_virtual">
        {{ form.hidden_tag() }}
        {% from "_formhelpers.html" import render_apply_field, render_button, render_header, render_radio %}
	<style>
	  #pricing_table td, th{
	  text-align: center;
	  }

	  #pricing_table th {
	  color: 4A6D00;
	  font-weight: bold;
	  }
	</style>
        <table class="contact_form_table" border="0">
          <tr>
            <td width="23%"><span class="required_field">Required Fields in Red</span></td>
            <td width="77%"></td>
          </tr>
	  {{ render_header('Email') }}
          {{ render_apply_field(form.email) }}

	  {{ render_header('Payment Method') }}
	  <tr>
	    <td><button type='button' class='btn-submit' onclick="setPmtMethod('card')">Credit Card</button></td>
	    <td><button type='button' class='btn-submit' onclick="setPmtMethod('ach')">Bank Account</button></td>
	  </tr>

	  {{ form.pmt_method(hidden='true') }}

	  {{ render_header('Bank Details', 'bankRow') }}
	  {{ render_apply_field(form.bank_routing_number, rowClass='bankRow') }}
	  {{ render_apply_field(form.bank_account_number, rowClass='bankRow') }}
	  {{ render_apply_field(form.bank_account_type, rowClass='bankRow') }}
	  {{ render_apply_field(form.bank_owned_by, rowClass='bankRow') }}
	  {{ render_apply_field(form.bank_registered_name, rowClass='bankRow') }}

	  {{ render_header('Card Details', 'cardRow') }}
          {{ render_apply_field(form.card_first_name, rowClass='cardRow') }}
          {{ render_apply_field(form.card_last_name, rowClass='cardRow') }}
          {{ render_apply_field(form.card_company, required=False, rowClass='cardRow') }}
          {{ render_apply_field(form.card_number, rowClass='cardRow') }}
          {{ render_apply_field(form.card_expire_month, rowClass='cardRow') }}
          {{ render_apply_field(form.card_expire_year, rowClass='cardRow') }}
          {{ render_apply_field(form.card_cvv, rowClass='cardRow') }}

	  {{ render_header('Billing Address', 'cardRow') }}
          {{ render_apply_field(form.card_billing_address_1, rowClass='cardRow') }}
          {{ render_apply_field(form.card_billing_address_2, required=False, rowClass='cardRow') }}
          {{ render_apply_field(form.card_billing_city, rowClass='cardRow') }}
          {{ render_apply_field(form.card_billing_state, rowClass='cardRow') }}
          {{ render_apply_field(form.card_billing_province, required=False, rowClass='cardRow') }}
          {{ render_apply_field(form.card_billing_zip_code, rowClass='cardRow') }}
          {{ render_apply_field(form.card_billing_country, rowClass='cardRow') }}

	  {{ render_header('Service Details') }}
          {{ render_apply_field(form.desired_address) }}
          <tr>
            <td></td>
            <td> Note that the minimum term is 3 months. <br />
            The <a href="http://www.microoffice.com/pricing.html">Pricing</a> page describes our plans.</td>
          </tr>
	  {# aftertext is a label for the input, tag is used for setting this label #}
	  {{ render_apply_field(form.add_phone_to_plan, aftertext =' ', tag='phone_pricing') }}
	  {{ render_apply_field(form.add_mail_scanning_to_plan, aftertext =' ', tag='scanning_pricing') }}
	  <tr>
	    <td>{{ form.add_mail_forwarding_to_plan.label(class='required_field') }}</td>
	    <td>
	    {{ form.add_mail_forwarding_to_plan }}
	    <span id='forwarding_pricing'></span>
	    <span>
	      {{ form.mail_forwarding_frequency }}
	    </span>
	    </td>
	  </tr>
	  {# pricing table needs some unique formatting #}
	  <tr>
	    <td>{# empty header #}</td>
	    <td>
	      <table id='pricing_table' hidden='true'>
		<tr>
		  {# table headers #}
		  <th width='25%'>
		    Total Monthly Fee <br>(incl. tax)
		  </th>
		  <th width='25%' style='padding: 0 15px 0 15px;'>
		    Setup Fee
		  </th>
		  <th width='50%' id='initial_fee_title'>
		    Initial Payment
		  </th>
		</tr>
		{# values #}
		<tr>
		  <td id='monthly_fee'></td>
		  <td id='setup_fee'></td>
		  <td id='initial_fee'></td>
		</tr>
		{# discount explanation / CC fee notification #}
		<tr>
		  <td colspan='2'></td>
		  <td id='initial_fee_expl' style='font-size:75%'></td>
		</tr>
	      </table>
	    </td>
	  </tr>

	  {{ render_header('Terms of Service') }}
          {{ render_apply_field(form.terms, aftertext="(read the <a href='/terms_of_service' target='_blank'>Terms of Service</a> carefully) ") }}

	  {{ render_header('Miscellaneous') }}
          {{ render_apply_field(form.find_us, required=False, aftertext="(Type the newspaper, magazine, website, or place where you found us)") }}
          {{ render_apply_field(form.comments, required=False) }}
          {{ render_button(form.submitForm) }}
        </table>
        </form>
      </div>
      <div id='link_helper' data-pricing-dict='{{ form.address_pricing_json|safe }}' data-cc-fee='{{ form.pay_card_convenience_pct }}'/>
    </div>
    <script src="{{ static_base_url }}/apply/js/virtual_apply.js"></script>

  <!--end #main content-->
  {% endblock content %}
