{% extends "base.html" %}
{% block content %}
<div class="mainContent">
  <div class="rightContent">
    <h1>Application Received!</h1>
    <h4>{% if mes %}<span style='color:red;'>{{ mes|safe }}</span><br/><br/>{% endif %}<br/>Your receipt is below.</h4>
    {# Please complete your registration <a href={{ url_for('request_email', email=email) }}>here</a>.(removed link until register.py is updated) #}
      <table>
        <tr class="odd">
          <td colspan="2"><strong>Payment Details</strong></td>
        </tr>
	{% if card %}
        <tr>
          <td>Name on Card:</td>
          <td>{{ card.billing_first_name }} {{ card.billing_last_name }}</td>
        </tr>
        <tr>
          <td>Card Number:</td>
          <td>{{ card.card_number }}</td>
        </tr>
        <tr>
          <td>Expiration Date:</td>
          <td>{{ card.expire_mmyyyy }}</td>
        </tr>
        <tr class="odd">
          <td colspan="2"><strong>Billing Address</strong></td>
        </tr>
        <tr>
          <td>Billing Address:</td>
          <td>{{ card.billing_first_name }} {{ card.billing_last_name }}</br>
	  {% if card.billing_company %}
          {{ card.billing_company }}</br>
	  {% endif %}
          {{ card.billing_address_1 }}</br>
          {%- if card.billing_address_2 %}{{ card.billing_address_2 }}</br>{% endif -%}
          {{ card.billing_city }}, {{ card.billing_state }} {{ card.billing_zip_code }}</br>
          {{ card.billing_country }}
          </td>
        </tr>
	{% else %}
	<tr>
	  <td>Name</td>
	  <td>{{ ach.registered_name }}</td>
	</tr>
	<tr>
	  <td>Routing Number</td>
	  <td>{{ ach.routing_number }}</td>
	</tr>
	<tr>
	  <td>Account Number</td>
	  <td>{{ ach.account_number }}</td>
	</tr>
	<tr>
	  <td>Account Type</td>
	  <td>{{ ach.account_type }}</td>
	</tr>
	<tr>
	  <td>Account Ownership</td>
	  <td>{{ ach.owned_by }}</td>
	</tr>
	{% if ach.note %}
	<tr>
	  <td>Note</td
	  <td>{{ ach.note }}</td>
	</tr>
	{% endif %}
	{% endif %}
        <tr class="odd">
          <td colspan="2"><strong>Service Details</strong></td>
        </tr>
	<tr>
          <td>Virtual Office Service Plan:</td>
          <td>{{ plan }}</td>
        </tr>
        <tr>
          <td>Building:</td>
          <td>{{ building }}</td>
        </tr>
        <tr class="odd">
          <td colspan="2"><strong>Initial Payment Information:</strong></td>
        </tr>
        {% if txn.response != "1" %}
        <tr>
          <td colspan="2" class="error"> Warning: Payment Failed. Please contact <a href="mailto:billing@microoffice.com">billing@microoffice.com</a>.</td>
        </tr>
        {% endif %}
        <tr>
          <td>Customer Account ID</td>
          <td>{{ txn.cust_acct_id }}</td>
        </tr>
        <tr>
          <td>Customer Account Name</td>
          <td>{{ txn.name }}</td>
        </tr>
        <tr>
          <td>Amount</td>
          <td>{% if txn.convenience_pct %}${{ txn.prefee_amount }} + {{ txn.convenience_pct }}% convenience fee of {{ txn.convenience_fee }} = total of {% endif %}{{ txn.amount }}</td>
        </tr>
        <tr>
          <td>Scheduled Date</td>
          <td>{{ txn.scheduled_date }}</td>
        </tr>
	{% if txn.note %}
        <tr>
          <td>Note</td>
          <td>{{ txn.note }}</td>
        </tr>
	{% endif %}
        <tr>
          <td>Transaction Response</td>
          <td>{{ txn.responsetext }}</td>
        </tr>
        <tr>
          <td>Transaction ID</td>
          <td>{{ txn.transactionid }}</td>
        </tr>
        <tr class="odd">
          <td colspan="2"><strong>Recurring Payment Information:</strong></td>
        </tr>
        <tr>
          <td>Payment Info:</td>
          <td>See Above</td>
        </tr>
        <tr>
          <td>Max Amount:</td>
          <td>Payment in Full</td>
        </tr>
        <tr>
          <td>Date of Monthly Payment:</td>
          <td>{{ recur.day_of_month }}</td>
        </tr>
        <tr>
          <td>Send an Email Reminder:</td>
          <td>{{ recur.remind_days_before }} days before the charge</td>
        </tr>
      </table>
  </div>
</div><!--end #main content-->
{% endblock content %}
