body {
    padding-top: 50px;
}
.navbar-header > a {
	outline: 0 none;
}
.navbar-brand > img {
	margin-top: -6px;
	height: 35px;
}
.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.navbar-fixed-top {
    border: 0 none;
}
.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0!important;
	margin: 0!important;
    position: fixed;
    top: 50px;
    z-index: 1000;
}
.main {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main .page-header {
    margin-top: 0;
}
.welcome {
	color: #9d9d9d;
    font-size: 16px;
    margin-right: 20px;
    margin-top: 13px;
}
.nav-sidebar ul {
	list-style: outside none none;
	padding: 0;
	margin: 0;
}
.nav-sidebar a {
	display: block;
	text-decoration: none;
	outline: 0 none;
	padding: 10px 15px;
	border-bottom: 1px solid #e7e7e7;
}
.nav-sidebar a:hover {
	background-color: #eee;
}
.nav-sidebar .active > a {
	background-color: #eee;
}
.nav-sidebar ul li ul a {
	padding-left: 35px;
}
a.asc:after {
	content: " ⇡";
}
a.desc:after {
	content: " ⇣";
}
.table-employee th:nth-child(1) {
    width: 100px;
}
.table-cc th:nth-child(1) {
    width: 100px;
}