/*
 *
 * Global CSS for Microoffice Network Access Portal
 * 2016
 *
 * Jacob Rienstra
 *
 */


 /* general styling for all pages */
body {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #0e0e0e;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited, a:focus, a:active {
  color: inherit;
}

/* for the rudimentary pages not yet retouched */
#content_box>form, #content_box>div, #content_box>h1, #content_box>h2, #content_box>h3, #content_box h4, #content_box>h5 {
  padding: 10px;
}

#content_box p {
  padding-top: 10px;
}

.noscript {
  text-align: center;
}
/* banner placement and color */
#banner {
  height: 142px;
  width: 100%;
  text-align: center;
  background: #fdfeff; /*url(../img/header_bg.jpg) repeat top center;*/
  border-bottom: 5px solid #00a3b1;
}

.help {
  margin: -10px 0 0 10px;
  text-align: left;
  top: 110px;
}

#wrapper {
  max-width: 896px;
  margin: 0px auto;
}

#content_box {
  max-width: 896px;
  min-height: 400px;
  position: relative;
  margin: 10px;
  border: 5px solid black;
  border-radius: 5px;
  padding-bottom: 15px;
}

.greeting {
  text-align: center;
  padding: 20px !important;
  min-height: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 5px solid black

}

.flash-error {
  color: #cc0000;
  border: 1px solid #a94442;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.flash-recent {
  color: #00cc00;
  border: 1px solid #44a942;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #84ce83;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #84ce83;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #84ce83;
}

.flash {
  text-align: center;  
  outline-offset: -2px;
  padding: 20px;
  width: 50%;
  margin: 10px auto;
}


/* ----------------------
  -: login page :-
-----------------------*/

#register-footer {
  text-align: center;
  font-size: 16px;
  padding: 20px;
  position: relative;
  bottom: 0;
}

/* ----------------------
  -: register page :-
-----------------------*/

#content_box>p {
  font-size: 14px;
  margin-left: 60px;
  margin-right: 60px;
}

/* ----------------------
  -: table :-
-----------------------*/

table {
  border-collapse: collapse;
}      
  
table.form-table {
  margin: 0 auto;
  max-width: 400px;
  border:none;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 14px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

input:not([type=submit]), select, textarea{
  border: 1px solid #d2d2d2;
  line-height: 2em;
  border-radius: 2px;
  width: 100%;
  /* min-width: 200px; */
}

td.error-cell {
  line-height: 2em;
  width: 100%;
}

label {
  white-space: nowrap;
}

input, select, textarea {
  font-size: 13px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

input:not([type=submit]), select {
  padding: 2px 5px 2px 8px;
}

select[name=building] {
   margin-bottom: 10px;
}

input[type=submit] {
  margin: 0 auto;
}

input[readonly=true] {
  background: #f2f2f2;
}

select {
  max-width: 100%
}

tr.odd td {
  background:#E9F3E3
}

td {
  color:#000;
  border:none;
  padding:.3em 1em;
  text-align:left;
}
    
th {
  font-weight:normal;
  color: #96B15D;
  text-align:left;
  border-bottom: 1px solid #fff;
  border-left:1px solid #fff;
  padding:.3em .3em;
}             

.btn-submit {
  min-width: 125px;
  display: inline-block;
  padding: 6px 12px;
  line-height: 2;
}

.required_field {font-weight: bold; color:#CC0000;}

input.error, select.error {
  border-color: #a94442;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  outline-offset: -2px;
}

label.error {
  font-weight: bold; 
  color:#CC0000;
}

td.error {
  font-size: 16px;
  font-weight: bold; 
  color: #CC0000;
}

/* ----------------------
  -: devices page :-
-----------------------*/

table.devices {
  width: 100%;
  font-size: 13px;
  border-collapse: separate;
  border-spacing: 0px 16px;
}

tr.device-fields {
  font-weight: 700;
}

.device-heading {
  border-bottom: 2px solid black;
  font-size: 16px;
  color: #777;
  padding: 10px 15px;
}

.device-container {
  max-width: 600px;
  margin: 10px auto;
  border-radius: 2px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 2px 2px 2px #777;
  -moz-box-shadow: 2px 2px 2px #777;
  box-shadow: 2px 2px 2px #777;
}

.device-container div, .device_container td {
  font-size: 13px;
}

.device-fields {
  padding: 10px 15px;
}

.device-item {
  border-radius: 2px;
  border: 2px solid #000;
  padding: 10px 15px;
}

tr.device-item {
  outline: 2px solid #000;
}

.btn-add {
  min-width: 150px;
  height: 40px;
  display: inline-block;
  line-height: 2.8;
  margin: 10px auto;
}

.btn {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  border-radius: 2px;
  font-weight: 700;
  color: #000;
  background: none;
  font-size: 14px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 4px solid black;
}

.btn:hover, .btn:active {
  background-color: #000000;
  color: #FFFFFF;
}

.btn-manage {
  margin: 5px;
}

.btn-main {
  border: 10px solid #ace76e;  
}

.btn-main:hover, .btn-main:active {
  background: #daf4be;
  color: #000;
}

.btn-inline {
  width: 100%;
  margin: 0px 0px 15px 0px;
}

td.btns {
  text-align: right;
}

@media (max-width: 568px) {
  table.fields td, table.device td:not([class="btns"]) {
    display: table-row;
    line-height: 2em;
    border-bottom: 1px solid #cccccc;
    text-align: left;
  }
}

.request {
  text-align: center;
  font-size: 14px;
  outline-offset: -2px;
  padding: 20px;
  max-width: 560px;
  margin: 10px auto;
}

.request-action {
  color: #cc0000;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  border: 1px solid #a94442;
}

.request-done {
  color: #00cc00;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #84ce83;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #84ce83;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #84ce83;
  border: 1px solid #44a942;
}

a.request-link {
  text-decoration: none;
}

.request-action:hover, .request-action:focus, .request-action:active {
  background: #f0dbdb;
}

.request-done:hover, .request-done:focus, .request-done:active {
  background: #dbf0db;
}

/* animation for just added account */
@-webkit-keyframes flash {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}

@keyframes flash {
  from {
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1.0;
  }
  to { 
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0.75;
  }
}

.just-added {
  -webkit-animation-name: flash; 
  -webkit-animation-duration: 1.5s; 
  animation-name: flash;
  animation-duration: 1.5s;
}

.device-item.deleted {
  outline: #cc0000 auto 4px;
  outline-offset: -4px;
  z-index: 2;
}

p#mac_btn {
  font-size: 12px;
}

p#mac_btn:hover, p#mac_btn:active, p#mac_btn:focus {
  text-decoration: underline;
  cursor: pointer;
}

div#mac_info {
  font-size: 12px;
  margin: auto 60px auto 60px;
  border-top: 1px solid #333;
  display: none;
}

.btn-get {
  width: 180px;
  display: block;
  line-height: 2;
  margin: 10px auto;
}

.btn-home {
  width: 90px;
  display: inline-block;
  line-height: 2;
  margin: 16px;
}

.warning {
  margin: 0;
}

.buttons {
  text-align: center;
}

.box-title {
  margin-bottom: 5px;
}

.boxed {
  border-bottom: solid 4px black;
  margin-bottom: 30px;
}


