@charset "utf-8";
/* CSS Document */


* {
margin: 0;
padding: 0;
outline: none;
}

body {
margin: 0;
padding: 0;
font: 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
overflow-x: hidden;
}


/* ----------------------
  -: General Classes :-
-----------------------*/

img {
border: none;
}

.clear {
clear: both;
}

a.link2black {
  color: #000;
  text-decoration: underline;
}

a.link2black:hover {
  text-decoration: none;
}

.formhide {
  display: none;
}

#content_box p, #content_box h4 {
  padding: 20px;
}

#content_box form {
  padding: 5px;
}

/* ----------------------
  -: Terms of Service :-
-----------------------*/

.page_title {
  text-align: center;
  margin: 10px auto;
  font-size: 16px;
  font-weight: 700;
}

ol {
  margin: 20px 50px;
}

ol li {
  margin: 5px;
}

span.paragraph_caption {
  text-decoration: underline;
}

/* ----------------------
  -: Header :-
-----------------------*/

#header_wrap {
height: 142px;
width: 100%;
background: url(../img/header_bg.jpg) repeat top center;
}

@media screen and (max-width: 528px) {
  #header_wrap {
    height: 215px;
  }
  #callBox {
    left: 1px;
    bottom: -70px !important;
  }
}

#header {
height: 142px;
margin: 0 10px;
position: relative;
}

#header h1 {
position: absolute;
top: 8px;
left: 10px;
}


#callBox {
  width: 180px;
  padding: 15px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  font: 16px Arial, Helvetica, sans-serif;
}

#callBox a {
  color: #000;
  text-decoration:underline;
}

/* ----------------------
  -: Basic Structure :-
-----------------------*/

#wrapper {
max-width: 896px;
margin: 0px auto;
}

#content_box {
max-width: 896px;
min-height: 500px;
margin: 10px;
-webkit-box-shadow: 0px 0px 5px 5px #ccc;
-moz-box-shadow: 0px 0px 5px 5px #ccc;
box-shadow: 0px 0px 5px 5px #ccc;
}

.mainContent {
  max-width: 838px;
  margin: 10px 23px 0 23px;
  padding: 23px 0 23px 0;
}

/* ----------------------
  -: Rightcontent :-
-----------------------*/
 a {
color: #F66013;
text-decoration:underline;
}

 a:hover {
  text-decoration:none;
  color: #000;
}

.rightContent {
  max-width: 800px;
}

.rightContent h1 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 30px;
  color: #F66013;
  font-weight: normal;
  line-height: 30px;
}

.rightContent h2 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  color: #96B15D;
  font-weight: normal;
  line-height: 30px;
  text-transform:uppercase
}

.rightContent p {
  margin: 0;
  padding: 0 0 15px 0px;
}

/* ----------------------
  -: table :-
-----------------------*/

table a,
table a:link,
table a:visited {
  border:none;
  }

table {
  width:100%;
  border:none;
  table-layout: fixed;
  border-collapse:collapse;
  font-size: 13px;
  font-family: "Trebuchet MS", Arial, verdana;
}

input:not([type=submit]), select, textarea {
  border: 1px solid #d2d2d2;
  line-height: 2em;
  border-radius: 2px;
}

input, select, textarea {
  font-size: 13px;
  font-family: "Trebuchet MS", Arial, verdana;
}

input:not([type=submit]), select {
  padding: 2px 5px 2px 8px;
}

select {
  max-width: 100%
}

tr.odd td {
  background:#E9F3E3
}

td {
  color:#000;
  border:none;
  padding:.3em 1em;
  text-align:left;
}

th {
  font-weight:normal;
  color: #96B15D;
  text-align:left;
  border-bottom: 1px solid #fff;
  border-left:1px solid #fff;
  padding:.3em .3em;
}

.btn-submit {
  border-radius: 2px;
  font-weight: 700;
  color: #333;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  background-color: #ccc;
  border-color: #ccc;
}

.btn-submit:hover, .btn-submit:active {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.required_field {font-weight: bold; color:#CC0000;}

input.error, select.error {
  border-color: #a94442;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  outline-offset: -2px;
}

label.error {
  font-weight: bold;
  color:#CC0000;
}

td.error {
  font-size: 16px;
  font-weight: bold;
  color: #CC0000;
}

/* ----------------------
  -: Footer :-
-----------------------*/

#footer {
  width: 100%;
  margin: 0 auto 0 auto;
  font-size: 11px;
}

.copyright {
  width: 100%;
  height: 25px;
  text-align: center;
  background: #BADE72;
  padding-top: 5px;
  padding-bottom: 5px;
}
