    {% extends "base.html" %} <!--for deployment, only use basic header, no nav bar-->
    {% block title %} - Index{% endblock title %}
    {% block content %}
    <script>
    {% if pmts %}
      var pmtList = {{ pmts|safe }};
    {% endif %}
    </script>
    {% from "_formhelpers.html" import render_field %}
    <p class="cleared">
      {%- if current_user.is_authenticated %}
      Having problems with this form? Try the <a href="/classic">classic view.</a><br>
      Hi {{ current_user.email }}!
      {%- endif %}
      Welcome to the memeber site.
    </p>
    {% with errors = get_flashed_messages(category_filter=["pmt_error"]) %}
    {% for error in errors %}
    <h4 style="color:#cc0000;">Error: {{error}}</h4>
    {% endfor %}
    {% endwith %}
  
{% endblock content %}
