<div class="intellimGroups index">
	<h2><?php echo __('Intellim Groups'); ?></h2>
	<table class="table">
		<tr>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('intellim_id'); ?></th>
			<th><?php echo $this->Paginator->sort('zone_id'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
		</tr>
		<?php foreach ($intellimGroups as $intellimGroup): ?>
			<tr>
				<td><?php echo h($intellimGroup['IntellimGroup']['name']); ?>&nbsp;</td>
				<td><?php echo h($intellimGroup['IntellimGroup']['intellim_id']); ?>&nbsp;</td>
				<td><?php echo h($intellimGroup['IntellimGroup']['zone_id']); ?>&nbsp;</td>
				<td class="actions">
					<?php echo $this->Html->link(__('View'), array('action' => 'view', $intellimGroup['IntellimGroup']['id'])); ?>
					<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $intellimGroup['IntellimGroup']['id'])); ?>
					<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $intellimGroup['IntellimGroup']['id']), null, __('Are you sure you want to delete # %s?', $intellimGroup['IntellimGroup']['id'])); ?>
				</td>
			</tr>
		<?php endforeach; ?>
	</table>
	<p>
		<?php
		echo $this->Paginator->counter(array(
			'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
			));
			?>	</p>
			<div class="paging">
				<?php
				echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
				echo $this->Paginator->numbers(array('separator' => ''));
				echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
				?>
			</div>
		</div>
		<div class="actions">
			<h3><?php echo __('Actions'); ?></h3>
			<ul>
				<li><?php echo $this->Html->link(__('New Intellim Group'), array('action' => 'add')); ?></li>
			</ul>
		</div>
