p.body_heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #fe4000;
  padding-top: 12pt;
}
p.body_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
ol.body_list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
table.fax_table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  border-width: thin;
  border-style: solid;
  border-color: black;
}
tr.table_heading_row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: black;
  color: white;
}
td.date_cell {
  padding-left: 4px;
  padding-right: 4px;
}
td.fax_cell {
  padding-left: 8px;
  padding-right: 8px;
}
