body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
td.schedule_date_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 4px;
}
td.schedule_upper_left_corner {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
td.schedule_room_name_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
td.schedule_time {
  font-family: Courier New, Courier, monospace;
  font-size: 10pt;
  background-color: lightblue;
}
td.schedule_header_spacer_column {
  padding: 4px;
  background-color: orange;
}
td.schedule_spacer_column {
  padding: 4px;
  background-color: lightblue;
}
td.schedule_reservation_available_slot {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: lightblue;
  color: grey;
}
td.schedule_reservation_occupied_slot_start_and_end {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: yellow;
  border: 1px solid black;
}
td.schedule_reservation_occupied_slot_start {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: yellow;
  border: 1px solid black;
  border-bottom: 1px none black;
}
td.schedule_reservation_occupied_slot_end {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: yellow;
  border: 1px solid black;
  border-top: 1px none black;
}
td.schedule_reservation_occupied_slot_middle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: yellow;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
td.schedule_action_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
td.schedule_action_body {
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightblue;
}
td.license_input {
  padding: 4px 4px 4px 1em;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
}
fieldset.standard_fieldset {
  border: 1px solid black;
  padding: 8px;
}
fieldset.compact_fieldset {
  border: 1px solid black;
  padding: 8px;
	width: 500px;
}
td.calendar_month_name_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
td.calendar_day_of_week_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: lightgreen;
}
td.calendar_day_cell {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
  padding: 4px;
}
a.calendar_day_link {
  font-family: Courier New, Courier, monospace;
  text-decoration: none;
  color: black;
}
a.calendar_day_link:hover {
  text-decoration: underline;
}
a.calendar_day_link:link, a.calendar_day_link:visited, a.calendar_day_link:active {
}
td.calendar_month_spacer_column {
  padding: 8px;
}
/* ---------------------------------------- */
/* standard table */
/* ---------------------------------------- */
table.standard_table {
  border: 1px solid black;
}
td.standard_table_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 4px;
}
a.standard_table_title_link {
  color: white;
}
a.standard_table_title_link:hover {
  color: yellow;
}
a.standard_table_title_link:link, a.standard_table_title_link:visited, a.standard_table_title_link:active {
}
tr.standard_table_column_heading_row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: orange;
}
td.standard_table_column_header_spacer_column {
  padding: 4px;
  background-color: orange;
}
td.standard_table_column_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
tr.standard_table_row_even {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: white;
}
tr.standard_table_row_odd {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightgrey;
}
tr.standard_table_summary_row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: white;
  background-color: black;
}
tr.top_border {
  border-top: 1px solid black;
}
td.standard_table_side_padding {
  padding-left: 4px;
  padding-right: 4px;
}
td.standard_table_spacer_column {
  padding-left: 8px;
  padding-right: 8px;
}
td.standard_table_body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightblue;
}
td.standard_table_footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: tan;
  text-align: center;
}
td.standard_table_currency_cell {
  text-align: right;
}
/* ---------------------------------------- */
/* QuickBooks summary report */
/* ---------------------------------------- */
table.quickbooks_summary {
  border: 1px solid black;
}
td.quickbooks_summary_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 4px;
}
tr.quickbooks_summary_column_heading_row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: orange;
}
td.quickbooks_summary_column_header_side_padding {
  padding-left: 4px;
  padding-right: 4px;
  background-color: orange;
}
td.quickbooks_summary_column_header_spacer_column {
  padding-left: 8px;
  padding-right: 8px;
  background-color: orange;
}
td.quickbooks_summary_column_header_blank {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
td.quickbooks_summary_column_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
  font-weight: bold;
  border-bottom: thin solid black;
}
tr.quickbooks_summary_row_even {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: white;
}
tr.quickbooks_summary_row_odd {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightgrey;
}
td.quickbooks_summary_body_side_padding {
  padding-left: 4px;
  padding-right: 4px;
}
td.quickbooks_summary_body_spacer_column {
  padding-left: 8px;
  padding-right: 8px;
}
td.quickbooks_summary_body_label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
a.quickbooks_summary_body_label_link {
  text-decoration: none;
  color: black;
}
a.quickbooks_summary_body_label_link:hover {
  text-decoration: underline;
}
a.quickbooks_summary_body_label_link:link, a.quickbooks_summary_body_label_link:visited, a.quickbooks_summary_body_label_link:active {
}
td.quickbooks_summary_body_amount {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
}
tr.quickbooks_summary_footer_row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: tan;
}
td.quickbooks_summary_footer_side_padding {
  padding-left: 4px;
  padding-right: 4px;
  background-color: tan;
}
td.quickbooks_summary_footer_spacer_column {
  padding-left: 8px;
  padding-right: 8px;
  background-color: tan;
}
td.quickbooks_summary_footer_label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: tan;
  text-align: right;
  font-weight: bold;
  padding-bottom: 2px;
}
td.quickbooks_summary_footer_amount {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: tan;
  text-align: right;
  text-decoration: underline overline;
  font-weight: bold;
  padding-bottom: 2px;
}
/* ---------------------------------------- */
/* QuickBooks detail report */
/* ---------------------------------------- */
table.quickbooks_detail {
  border: 1px solid black;
}
td.quickbooks_detail_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 4px;
}
tr.quickbooks_detail_column_heading_row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: orange;
}
td.quickbooks_detail_column_header_side_padding {
  padding-left: 4px;
  padding-right: 4px;
  background-color: orange;
}
td.quickbooks_detail_column_header_spacer_column {
  padding-left: 8px;
  padding-right: 8px;
  background-color: orange;
}
td.quickbooks_detail_column_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
  font-weight: bold;
  border-bottom: thin solid black;
}
td.quickbooks_detail_body_section_heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
}
td.quickbooks_detail_body_side_padding {
  padding-left: 4px;
  padding-right: 4px;
}
td.quickbooks_detail_body_spacer_column {
  padding-left: 8px;
  padding-right: 8px;
}
td.quickbooks_detail_body_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
td.quickbooks_detail_body_number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
}
td.quickbooks_detail_body_date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
}
td.quickbooks_detail_body_amount {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
}
td.quickbooks_detail_body_subtotal_amount {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
  border-top: thin solid black;
}
td.quickbooks_detail_body_blank {
  padding: 2px;
}
td.quickbooks_detail_footer_side_padding {
  padding-left: 4px;
  padding-right: 4px;
  background-color: tan;
}
td.quickbooks_detail_footer_spacer_column {
  padding-left: 8px;
  padding-right: 8px;
  background-color: tan;
}
td.quickbooks_detail_footer_label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
  background-color: tan;
}
td.quickbooks_detail_footer_amount {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
  font-weight: bold;
  border-top: thin solid black;
  border-bottom: medium double black;
  background-color: tan;
}
/* ---------------------------------------- */
/* QuickBooks invoice */
/* ---------------------------------------- */
table.quickbooks_invoice {
  border: 1px solid black;
}
tr.quickbooks_invoice_column_heading_row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: black;
}
td.quickbooks_invoice_column_header_side_padding {
  padding-left: 4px;
  padding-right: 4px;
  background-color: black;
}
td.quickbooks_invoice_column_header_spacer_left_column {
  padding-left: 4px;
  padding-right: 4px;
  background-color: black;
}
td.quickbooks_invoice_column_header_spacer_right_column {
  padding-left: 4px;
  padding-right: 4px;
  background-color: black;
}
td.quickbooks_invoice_column_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
}
td.quickbooks_invoice_body_side_padding {
  padding-left: 4px;
  padding-right: 4px;
}
td.quickbooks_invoice_body_spacer_left_column {
  padding-left: 4px;
  padding-right: 4px;
  border-right: 1px solid black;
}
td.quickbooks_invoice_body_spacer_right_column {
  padding-left: 4px;
  padding-right: 4px;
}
td.quickbooks_invoice_body_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
td.quickbooks_invoice_body_number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
}
td.quickbooks_invoice_body_amount {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
}
td.quickbooks_invoice_body_footer_separator {
  background-color: black;
  height: 1px;
}
td.quickbooks_invoice_footer_side_padding {
  padding-left: 4px;
  padding-right: 4px;
}
td.quickbooks_invoice_footer_spacer_left_column {
  padding-left: 4px;
  padding-right: 4px;
  border-right: 1px solid black;
}
td.quickbooks_invoice_footer_spacer_right_column {
  padding-left: 4px;
  padding-right: 4px;
}
td.quickbooks_invoice_footer_label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
}
td.quickbooks_invoice_footer_amount {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
}
td.quickbooks_invoice_footer_balance_amount {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
  border-top: thin solid black;
  font-weight: bold;
}


span.time {
  font-family: Courier New, Courier, monospace;
}
td.map_table_key {
  background-color: black;
  color: white;
}
td.map_table_value {
  background-color: orange;
}
a.adjacent_chevron_link {
  text-decoration: none;
  color: white;
}
a.adjacent_chevron_link:hover {
  text-decoration: underline;
}
a.adjacent_chevron_link:link, a.adjacent_chevron_link:visited, a.adjacent_chevron_link:active {
}
a.edit_reservation_link {
  color: black;
  text-decoration: none;
}
a.edit_reservation_link:hover {
  text-decoration: underline;
}
a.edit_reservation_link:link, a.edit_reservation_link:visited, a.edit_reservation_link:active {
}
.required_field {
  color: red;
}
span.required_field:before {
  content: "*";
}

td.form_section_separator {
  background-color: orange;
  font-weight: bold;
  text-align: center;
  padding-top: .1em;
  padding-bottom: .1em;
}
span.follow_up_date {
  color: red;
}
span.num_interactions {
  color: green;
}
span.sales_status_live {
  color: green;
}
span.sales_status_dead {
  color: brown;
}
span.sales_stage {
  color: green;
}
td.debit_date_in_future {
  color: red;
}
td.check_date_in_future {
  color: red;
}
td.response_approved_not_approved {
  color: red;
}
span.response_approved_not_approved {
  color: red;
}
td.response_error {
  color: red;
}
td.next_date_in_future {
  color: red;
}
td.error_cell {
  color: red;
}
a.bare_link {
  text-decoration: none;
  color: black;
}
a.bare_link:hover {
  text-decoration: underline;
}
a.bare_link:link, a.bare_link:visited, a.bare_link:active {
}
span.attention {
  color: green;
}
/* ---------------------------------------- */
/* camera grid */
/* ---------------------------------------- */
div.grid {
	float: left;
	width: 320px;
	margin: 1.25em;
}
div.link {
	height: 40px;
}
