.graph {
	background-color: #EBEBEB;
	border: solid 1px black;
}
.graph td {
	font-family: verdana, arial, sans serif;
}

.graph thead th {
	font-family: verdana, arial, sans serif;
	padding: 0.5em;
}
    
.graph tfoot td {
	border-top: solid 1px #999999;
	font-size: x-small;
	text-align: center;
	padding: 0.5em;
	color: #666666;
}

.bar {
	background-color: white;
	text-align: right;
	border: solid 1px black;
	padding-right: 0.5em;
	width: 400px;
}
      
.bar div { 
	text-align: right;
	color: white;
	float: left;
	padding-top: 0;
	height: 1.2em;
}
