<div class="row-fluid">
	<div class="span12">
		<h1>Your Phone Number Has Been Unforwarded.</h1>
		<p class="lead">
			To forward it again, please go back to the previous page and click on the same button once more. It should take you to a form that will allow you to input a phone number and select delay time. 
		</p>
	</div>
</div>