.wrapper{
	min-width: 990px;
	width: 80%;
	margin: auto;
}

.middle{
	width: 70%;
	min-width: 900px;
	margin: auto;
	text-align: center;
}

.leftside{
	float: left;
	width: 45%;
	height: 480px;
	padding-right: 8%;
}
.leftside input
{
	float:right;
}

.rightside input
{
	float:right;
}
.rightside select
{
	float:right;
}


.rightside{
	float: left;
	width: 45%;
	height: 480px;
}

.line{
	width: 100%;
	
}

/* Desks */
img {  	
	max-width: 100%;
	max-height: 800px;
}​
