<!DOCTYPE html>
<html>
  <head>
    <title>Successful Application for Virtual Office Space with Micro Office</title>
    <!--Courtesy of Litmus email templates-->
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<style type="text/css">
	  /* CLIENT-SPECIFIC STYLES */
	  body, table, td, a{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
	  table, td{mso-table-lspace: 0pt; mso-table-rspace: 0pt;} /* Remove spacing between tables in Outlook 2007 and up */
	  img{-ms-interpolation-mode: bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

	  /* RESET STYLES */
	  img{border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;}
	  table{border-collapse: collapse !important;}
	  body{height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important;}

	  /* iOS BLUE LINKS */
	  a[x-apple-data-detectors] {
	  color: inherit !important;
	  text-decoration: none !important;
	  font-size: inherit !important;
	  font-family: inherit !important;
	  font-weight: inherit !important;
	  line-height: inherit !important;
	  }

	  /* MOBILE STYLES */
	  @media screen and (max-width: 525px) {

	  /* ALLOWS FOR FLUID TABLES */
	  .wrapper {
	  width: 100% !important;
	  max-width: 100% !important;
	  }

	  /* ADJUSTS LAYOUT OF LOGO IMAGE */
	  .logo img {
	  margin: 0 auto !important;
	  }

	  /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
	  .mobile-hide {
	  display: none !important;
	  }

	  .img-max {
	  max-width: 100% !important;
	  width: 100% !important;
	  height: auto !important;
	  }

	  /* FULL-WIDTH TABLES */
	  .responsive-table {
	  width: 100% !important;
	  }

	  /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
	  .padding {
	  padding: 10px 5% 15px 5% !important;
	  }

	  .padding-meta {
	  padding: 30px 5% 0px 5% !important;
	  text-align: center;
	  }

	  .padding-copy {
	  padding: 10px 5% 10px 5% !important;
	  text-align: center;
	  }

	  .padding-copy-left {
	  padding: 10px 5% 10px 5% !important;
	  text-align: left;
	  }

	  .no-padding {
	  padding: 0 !important;
	  }

	  .section-padding {
	  padding: 50px 15px 50px 15px !important;
	  }

	  /* ADJUST BUTTONS ON MOBILE */
	  .mobile-button-container {
	  margin: 0 auto;
	  width: 100% !important;
	  }

	  .mobile-button {
	  padding: 15px !important;
	  border: 0 !important;
	  font-size: 16px !important;
	  display: block !important;
	  }

	  }

	  /* ANDROID CENTER FIX */
	  div[style*="margin: 16px 0;"] { margin: 0 !important; }
	</style>
      </head>
      <body style="margin: 0 !important; padding: 0 !important;">

	<!-- HIDDEN PREHEADER TEXT -->
	<div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
	  Congratulations! You've successfully purchased a daypass with Micro Office...
	</div>

	<!-- HEADER -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	    <td bgcolor="#ffffff" align="center">
	      <!--[if (gte mso 9)|(IE)]>
	          <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
	          <tr>
	          <td align="center" valign="top" width="500">
	          <![endif]-->
	      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" class="wrapper">
		<tr>
		<td align="center" valign="top" bgcolor="#fec85f" style="padding: 0;" class="logo">
		<a href="{{pay_base_url}}" target="_blank">
		<img alt="Micro Office Logo" src="{{static_base_url}}/pay/img/microoffice-logo.jpg" width="263" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 14px;" border="0">
	      </a>
	    </td>
	    </tr>
	    </table>
	      <!--[if (gte mso 9)|(IE)]>
	      </td>
	      </tr>
	      </table>
	      <![endif]-->
	    </td>
	    </tr>
	      <tr>
	      <td bgcolor="#ffffff" align="center" style="padding: 0;">
	      <!--[if (gte mso 9)|(IE)]>
	      <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
	      <tr>
	      <td align="center" valign="top" width="500">
	      <![endif]-->
	      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" class="responsive-table">
	      <tr>
	      <td>
	      <!-- COPY -->
	      <table width="100%" border="0" cellspacing="0" cellpadding="0">

	      <tr>
	      <td align="left" style="padding: 20px 0 0 0; font-size: 14px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy-left">Congratulations,<br/>You have successfully purchased a daypass with Micro Office.<br/>Here is the information you entered. If something is wrong, please email us at <a style="color: #aaaaaa; text-decoration: underline; font-size: 14px;" href="mailto:billing@microoffice.com">billing@microoffice.com</a></td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!--[if (gte mso 9)|(IE)]>
	      </td>
	      </tr>
	      </table>
	      <![endif]-->
	    </td>
	    </tr>
	      <tr>
	      <td bgcolor="#ffffff" align="center" style="padding: 15px;" class="padding">
	      <!--[if (gte mso 9)|(IE)]>
	      <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
	      <tr>
	      <td align="center" valign="top" width="500">
	      <![endif]-->
	      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" class="responsive-table">
	      <tr>
	      <td style="padding: 10px 0 10px 0; border-top: 1px dashed #aaaaaa;">
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" class="mobile-wrapper" style="font-family: Arial, sans-serif; color: #333333; font-weight: 700; font-size: 14px;">
	      Daypass Details
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td style="padding: 10px 0 0 0; border-top: 1px dashed #aaaaaa;">
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Email</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ email }}</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Amount</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">${{ amount }}</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Chosen Building &amp; Floor</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ location }}</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Date of Service</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ date_of_service }}
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      {% if phone_number %}<tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Phone Number</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ phone_number }}
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      </td>{% endif %}
	    </tr>
	      <tr>
	      <td style="padding: 10px 0 10px 0; border-top: 1px dashed #aaaaaa;">
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" class="mobile-wrapper" style="font-family: Arial, sans-serif; color: #333333; font-weight: 700; font-size: 14px;">
	      Payment Details
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td style="padding: 10px 0 0 0; border-top: 1px dashed #aaaaaa;">
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Name on Card</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ card.billing_first_name }} {{ card.billing_last_name }}</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Card Number</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ card.card_number }}</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Expiration Date</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ card.expire_mmyyyy }}</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Billing Address</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ card.billing_address_1 }}<br/>
	      {%- if card.billing_address_2 %}{{ card.billing_address_2 }}<br/>{% endif -%}
	      {{ card.billing_city }}, {{ card.billing_state }} {{ card.billing_zip_code }}<br/>
	      {{ card.billing_country }}</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>

	      <tr>
	      <td style="padding: 10px 0 10px 0; border-top: 1px dashed #aaaaaa;">
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" class="mobile-wrapper" style="font-family: Arial, sans-serif; color: #333333; font-weight: 700; font-size: 14px;">
	      Payment Information
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td style="padding: 10px 0 0 0; border-top: 1px dashed #aaaaaa;">
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Customer Account</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ txn.name }} (ID: {{ txn.cust_acct_id }})</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Amount</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ txn.prefee_amount }} + {{ txn.convenience_pct }}% convenience fee of {{ txn.convenience_fee }} <br/>= total of {{ txn.amount }}
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Scheduled Date</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ txn.scheduled_date }}
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Transaction ID:</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ txn.transactionid }}
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Transaction Response</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{{ txn.responsetext }}
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td>
	      <!-- TWO COLUMNS -->
	      <table cellspacing="0" cellpadding="0" border="0" width="100%">
	      <tr>
	      <td valign="top" style="padding: 0; border-bottom: 1px dashed #aaaaaa;" class="mobile-wrapper">
	      <!-- LEFT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="left">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="left" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">Transaction Note:</td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!-- RIGHT COLUMN -->
	      <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width: 47%;" align="right">
	      <tr>
	      <td style="padding: 0 0 10px 0;">
	      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	      <td align="right" style="font-family: Arial, sans-serif; color: #333333; font-size: 14px;">{% if txn.note %}{{ txn.note }}{% endif %}
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	      <tr>
	      <td bgcolor="#ffffff" align="center" style="padding: 0;">
	      <!--[if (gte mso 9)|(IE)]>
	      <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
	      <tr>
	      <td align="center" valign="top" width="500">
	      <![endif]-->
	      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" class="responsive-table">
	      <tr>
	      <td>
	      <!-- COPY -->
	      <table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	      <td align="left" style="padding: 0 0 0 0; font-size: 14px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy-left">Sincerely,<br/>The Micro Office Team
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!--[if (gte mso 9)|(IE)]>
	      </td>
	      </tr>
	      </table>
	      <![endif]-->
	    </td>
	    </tr>
	      <tr>
	      <td bgcolor="#ffffff" align="center" style="padding: 0;">
	      <!--[if (gte mso 9)|(IE)]>
	      <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
	      <tr>
	      <td align="center" valign="top" width="500">
	      <![endif]-->
	      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" class="responsive-table">
	      <tr>
	      <td>
	      <table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	      <td>
	      <!-- COPY -->
	      <table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	      <td align="left" style="padding: 15px 0 15px 0; font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color: #aaaaaa; font-style: italic;" class="padding-copy">Don't think this is right? <a style="color: #aaaaaa; text-decoration: underline; font-size: 12px;" href="mailto:billing@microoffice.com">Email us at billing@microoffice.com</a></td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	    </td>
	    </tr>
	    </table>
	      <!--[if (gte mso 9)|(IE)]>
	      </td>
	      </tr>
	      </table>
	      <![endif]-->
	    </td>
	    </tr>
	      <tr>
	      <td bgcolor="#ffffff" align="center" style="padding: 20px 0px;">
	      <!--[if (gte mso 9)|(IE)]>
	      <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
	      <tr>
	      <td align="center" valign="top" width="500">
	      <![endif]-->
	      <!-- UNSUBSCRIBE COPY -->
	      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 500px;" class="responsive-table">
	      <tr>
	      <td align="center" bgcolor="#7eb6b8" style="font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666; padding: 15px 0 15px 0;">
	      122 West 27th St Floor 10, NY, NY 10001
	      <br>
	      &reg; Micro Office Management
	      <span style="font-family: Arial, sans-serif; font-size: 12px; color: #444444;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
	      <a href="{{pay_base_url}}/view_email?id={{email_id}}" target="_blank" style="font-size: 12px; color: #666666; text-decoration: underline;">View this email in your browser</a>
	    </td>
	    </tr>
	    </table>
	      <!--[if (gte mso 9)|(IE)]>
	      </td>
	      </tr>
	      </table>
	      <![endif]-->
	    </td>
	    </tr>
	    </table>

	    </body>
	    </html>
