{% macro render_field(field, required=True, aftertext=None, min=None, class=None, rowClass='') %}
{# min used for min-value number field #}
<tr class="{{ rowClass }}">
{% if required %}
  <td>{{ field.label(class="required_field") }}</td>
{% else %}
  <td>{{ field.label }}</td>
{% endif %}
<td>{% if min %} {{ field(min=min) }} {% elif class %} {{ field(class=class) }} {% else %} {{ field }} {% endif %}
{% if aftertext %} {% if tag %} <span id='{{tag}}'> {% endif %} {{ aftertext|safe }} {% if tag %} </span> {% endif %} {% endif %}</td>
</tr>

{% if field.errors %}
<tr class="error-row">
  <td></td>
  <td class="error-cell">
    {%- for error in field.errors %}
    <label class="error"><strong>{{ error }}</strong></label><br>
    {%- endfor %}
  </td>
</tr>
{% else %}
<tr class="error-row formhide">
  <td></td>
  <td class="error-cell">
  </td>
</tr>
{% endif %}

{% endmacro %}

{% macro render_apply_field(field, required=True, aftertext=None, tag=None, min=None, class=None, rowClass=None) %}
{# tag used specifically for apply_virtual_form.html #}
{# min used for min-value number field #}
<tr {% if rowClass %} class='{{ rowClass }}' {% endif %}>
{% if required %}
  <td>{{ field.label(class="required_field") }}</td>
{% else %}
  <td>{{ field.label }}</td>
{% endif %}
<td>{% if min %} {{ field(min=min) }} {% elif class %} {{ field(class=class) }} {% else %} {{ field }} {% endif %}
{% if aftertext %} {% if tag %} <span id='{{tag}}'> {% endif %} {{ aftertext|safe }} {% if tag %} </span> {% endif %} {% endif %}</td>
</tr>

{% if field.errors %}
<tr class='{% if rowClass %}{{ rowClass }}{% endif %} error-row'>
  <td></td>
  <td class="error-cell">
    {%- for error in field.errors %}
    <label class="error"><strong>{{ error }}</strong></label><br>
    {%- endfor %}
  </td>
</tr>
{% else %}
<tr class="{% if rowClass %}{{ rowClass }}{% endif %} error-row formhide">
  <td></td>
  <td class="error-cell">
  </td>
</tr>
{% endif %}
{% endmacro %}




{% macro render_button(button) %}
<tr>
  <td></td>
  <td>
  {{ button(class="btn-submit")}}
  </td>
</tr>
{% endmacro %}

{% macro render_num_field(field, required=True, step=0.01, min=0.01) -%}
<tr>
{% if required %}
  <td>{{ field.label(class="required_field") }}</td>
{% else %}
  <td>{{ field.label }}</td>
{% endif %}
<td>{{ field(min=min, step=step) }}</td>
</tr>
{% if field.errors %}
<tr class="error-row">
  <td></td>
  <td class="error-cell">
    {%- for error in field.errors %}
    <label class="error"><strong>{{ error }}</strong></label><br>
    {%- endfor %}
  </td>
</tr>
{% else %}
<tr class="error-row formhide">
  <td></td>
  <td class="error-cell">
  </td>
</tr>
{% endif %}
{%- endmacro %}

{% macro render_field1(field) -%}
    <span>
        {{ field.label }}
        {{ field }}
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                {% for err in field.errors %}
                    <p>{{ err|e }}</p>
                {% endfor %}
                </div>
            {% endif %}
    </span>
{%- endmacro %}

{% macro render_header(header_label, class=None) -%}
{# This is to just display titles for a group of fields, eg. 'contact info', 'billing info' #}
<tr class="odd {% if class %}{{ class }}{% endif %}">
  <td colspan=2><b>{{ header_label }}</b></td>
</tr>
{%- endmacro %}

{% macro render_as_row(label, value) %}
<tr>
  <td>{{ label }}</td>
  <td>{{ value }}</td>
</tr>
{%- endmacro %}

{% macro render_desk_row(value) -%}
{# used for edit_desk_info/view #}
<td>{{ value }}</td>
<td class="standard_table_spacer_column"/>
{% endmacro %}
