{% macro render_field(field, required=True, aftertext=None, extra=None) %}
<tr>
{% if required %}
  <td>{{ field.label(class="required_field") }}</td>
{% else %}
  <td>{{ field.label }}</td>
{% endif %}
  <td>{{ field }} 
  {% if aftertext %} {{ aftertext|safe }} {% endif %}</td>
  {% if extra %} {{ extra|safe }} {% endif %}
</tr>

{% if field.errors %}
<tr class="error-row">
  <td></td>
  <td class="error-cell">
    {%- for error in field.errors %}
    <label class="error"><strong>{{ error }}</strong></label></br>
    {%- endfor %}
  </td>
</tr> 
{% else %}
<tr class="error-row formhide">
  <td></td>
  <td class="error-cell">
  </td>
</tr>
{% endif %}

{% endmacro %}

{% macro render_button(button) %}
<tr>
  <td colspan="2" style="text-align: center;">
  {{ button(class="btn btn-submit")}}
  </td>
</tr>
{% endmacro %}

{% macro render_inline_buttons(buttons) %}
<tr>
  <td colspan="3" style="text-align: center;">
  {% for button in buttons %}
  {{ button(class="btn btn-submit")}}
  {% endfor %}
  </td>
</tr>
{% endmacro %}

{% macro render_devices(devices) %}
<div class="device-container">
  <div class="device-heading">
   Allowed Devices
  </div>
{% if devices %}
<table class="devices">
<tr class="device-fields">
  <td>Owner</td>
  <td>Nickname</td>
  <td>MAC Address</td>
  <td>Building</td>
  <td class="btns">Edit/Delete</td>
</tr>
{% for device in devices %}
  {% with ids = get_flashed_messages(category_filter=["device_id"]) %}
    {% if ids %}
      {% for id in ids %}
          {% if id|string == device.id|string %}
            <tr class="device-item just-added">
          {% else %}
            <tr class="device-item">
          {% endif %}
      {% endfor %}
    {% else %}
     <tr class="device-item">
    {% endif %}
  {% endwith %}
      <td>{% if device.cust_pers %}{{ device.cust_pers.first_name }} {{ device.cust_pers.last_name}}{% endif %}</td>
      <td>{{ device.label }}</td>
      <td>{{ device.mac_addr }}</td>
      <td>{{ device.building }}</td>
      <td class="btns"><a class="btn btn-manage edit" href="/edit_device?id={{device.id}}" data-id="{{ device.id }}">Edit</a><button class="btn btn-manage delete" data-id="{{ device.id }}">Delete</button></td>
    </tr>
{% endfor %}
</table>
{% else %}
  <div class="device-fields">
    No devices authorized for this account yet. Click "Add Device" to add a device.
  </div>
{% endif %}
{% with deletes = get_flashed_messages(category_filter=["deleted"]) %}
  {% for mac in deletes %}
    <div class="device-item deleted">
      <table>
        <tr>
          <td>Device Deleted - {{ mac }}</td>
        </tr>
      </table>
    </div>
  {% endfor %}
  {% endwith %}
</div>
{% endmacro %}

{% macro render_guests(guests) %}
<div class="device-container">
  <div class="device-heading">
   Guest Devices
  </div>
{% if guests %}
<div class="device-fields">
  <table class="fields">
    <tr>
      <td>Name</td>
      <td>MAC Address</td>
      <td>Building</td>
      <td>Expires</td>
      <td class="btns">Delete</td>
    </tr>
  </table>
</div>
{% for guest in guests %}
<div class="device-item">
  <table class="device">
    <tr>
      <td>{{ guest.guest_first_name }} {{ guest.guest_last_name }}</td>
      <td>{{ guest.mac_addr }}</td>
      <td>{{ guest.building }}</td>
      <td>{{ guest.expire_ts.strftime("%a, %b %d at %I:%M %p") }}</td>
      <td class="btns"><button class="btn btn-guest delete" data-id="{{ guest.id }}">Delete</button></td>
    </tr>
  </table>
</div>
{% endfor %}
{% else %}
  <div class="device-fields">
    No guest devices authorized for this account yet.
  </div>
{% endif %}
{% with deletes = get_flashed_messages(category_filter=["deleted_guest"]) %}
  {% for mac in deletes %}
    <div class="device-item deleted">
      <table class="fields">
        <tr>
          <td>Device Deleted - {{ mac }}</td>
        </tr>
      </table>
    </div>
  {% endfor %}
  {% endwith %}
</div>
{% endmacro %}

{% macro render_request(request) %}
{% if not request.cust_activated_ts %}
<a class="request-link" href="/activate_guest/{{ request.token }}">
  <div class="request request-action">
    You have a request to grant network access to {{ request.guest_first_name }} {{ request.guest_last_name }}. Click here to do so.
  </div>
</a>
{% elif not request.guest_verified_ts %}
<div class="request request-done">
  You have granted limited network access to {{ request.guest_first_name }} {{ request.guest_last_name }}. They must confirm their email to gain full access.
</div>
{% endif %}

{% endmacro %}