{% extends "base.html" %}
{% block greeting %}
  Activated Guest Device
{% endblock greeting %}
{% block content %}
{% if guest %}
  <p> You have successfully granted network access to {{ guest.guest_first_name }} {{ guest.guest_last_name }}.</br></br>
  {% if guest.guest_verified_ts != None %}
    They have also verified their email, so they have 2 hours of full network access.
  {% else %}
    They have not yet verified their email, so they only have 15 minutes of network access starting now. Once they verify their email by clicking the link we sent them, they will have a full 2 hours of access.
  {% endif %}
  </br></br></p>
  <div id="register-footer">
    <a type="button" class="btn btn-add" href="/">Home</a>
    </div>
{% endif %}
{% if this_guest %}
  <p> You have successfully confirmed your email address for your network access.</br></br>
  {% if cust_activated %}
    Our customer has also granted you network access, so you have 2 hours of full network access.
  {% else %}
    Our customer has not yet activated your network access. Once they they do by clicking the link we sent them, you will have a full 2 hours of access.
  {% endif %}
  </br></br></p>
{% endif %}
{% endblock content %}