{% extends "base.html" %}
{% block greeting %}
  Add Device to Allowed Devices for Coalition Network Access
{% endblock greeting %}
{% block content %}
{% if router_url == "NONE" %}
  <div class="flash flash-error">It seems you aren't connected to our WiFi at the moment. You can still log in to manage your devices, but you'll have to manually determine your MAC address.</div>
{% endif %}
{% if router_url != "NONE" and form.mac_address.data == None %}
<noscript class="noscript">
  <div class="flash flash-error">It looks like something went wrong fetching your MAC address automatically. Click below to try doing so manually.</div>
  <a href="{{router_url}}/show_mac?user=member" target="_blank" class="btn btn-get">Get My MAC Address</a>
</noscript>
{% endif %}
<p style="text-align:center">Your current device's MAC address is automatically filled in, if possible. Feel free to replace it with a different address if you are adding a different device.</p>
  <form method="post" id="add_device" action="/add_device">
    {{ form.hidden_tag() }}
  {% from "_formhelpers.html" import render_field, render_button, render_inline_buttons %}
    <table class="form-table">
      {{ render_field(form.nickname) }}
      {{ render_field(form.mac_address) }}
      {{ render_field(form.building, aftertext="Leave as All unless for device such as printer or fax machine") }}
      {{ render_button(form.add) }}
    </table>
  </form>
  <p id="mac_btn">How do I find my MAC address?</a>
  <div id="mac_info">
    MAC stands for Medium Access Control, and it's a unique identifier for your computer. Also sometimes called Physical Address, not to be confused with Apple Mac(intosh), look below for instructions on how to manually determine your computer's MAC address.
    <h4>Windows</h4>
    <p>1. Open the Control Panel.</br>
    2. Click on the Network and Internet section (name may vary slightly), then Network and Sharing Center.</br>
    3. You should see a WiFi connection listed near the upper right. Click on it.</br>
    4. A pop-up should open. Click on "Details..."</br>
    5. Another pop-up should open, and you should see a "Physical Address" listed. This is your MAC Address.</br>
    <h4>Apple Macintosh</h4>
    <p>1. Go to system preferences (from the Apple button in the top left corner)</br>
    2. Click on the "Network" button.</br>
    3. In the right hand column, make sure Wi-Fi is selected. Then click on "Andvanced..." near the lower right.</br>
    4. On the top you'll see a series of buttons. Click on "Hardware".</br>
    5. You should see "MAC Address: " followed by your computer's MAC address.
    </p>
  </div>
  <script> var routerUrl = '{{ router_url }}' </script>
{% endblock content %}