<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ static_base_url }}/pay/img/favicon.ico">
    <link href="{{ static_base_url }}/netauth/css/style.css" rel="stylesheet">
    <script src="{{ static_base_url }}/netauth/js/jquery/jquery.js"></script>
    <script src="{{ static_base_url }}/netauth/js/jquery-val/dist/jquery.validate.min.js"></script>
    <script src="{{ static_base_url }}/netauth/js/validators.js"></script>
    <script src="{{ static_base_url }}/netauth/js/scripts.js"></script>

    <title>Coalition - Network Access Portal</title>

  </head>
  <body>
    <div class="container-fluid" id="banner">
      <img src="{{ static_base_url }}/netauth/img/clogo.jpg" height="90%">
      <p class="help"><a href="mailto:bugs@microoffice.com">Help! Something is wrong!</a></p>
    </div>
    <div>
      {% block home %}
      <a class="btn btn-home" href="/">Home</a>
      {% if current_user.is_authenticated %}
        <a class="btn btn-home" href="/logout" style="float:right;">Logout</a>
      {% endif %}
      {% endblock home %}
    </div>
    <div id="wrapper">
      <div id="content_box">
      <div class="greeting">
      {% block greeting %}Network Login Page{% endblock greeting %}
      </div>
      {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% for error in errors %}
        <div class="flash flash-error">Error: {{error|safe}}</div>
      {% endfor %}
      {% endwith %}
      {% with recents = get_flashed_messages(category_filter=["recent"]) %}
      {% for recent in recents %}
        <div class="flash flash-recent">{{recent|safe}}</div>
      {% endfor %}
      {% endwith %}
      {% block content %}
      {% endblock content %}
      </div><!-- end #content_box -->
    </div><!-- end #wrapper -->
  </body>
</html>