{% extends "base.html" %}
{% block greeting %}
  Are you sure you wish to deactivate this device as a guest?
{% endblock greeting %}
{% block content %}
{% if router_url == "NONE" %}
  <div class="flash flash-error">It seems you aren't connected to our WiFi at the moment. You cannot remove this device yourself unless you are connected to our network. Otherwise the member of whom you are a guest may do it at any time.</div>
{% endif %}
{% if router_url != "NONE" and form is defined and form.mac_address.data == None %}
<noscript class="noscript">
  <div class="flash flash-error">It looks like something went wrong fetching your MAC address automatically. Click below to try doing so manually.</div>
  <a href="{{router_url}}/show_mac?user=guest" target="_blank" class="btn btn-get">Get My MAC Address</a>
</noscript>
{% endif %}
{% if form is defined %}
  <form method="post" id="deactivate_guest" action="/deactivate_guest">
    {{ form.hidden_tag() }}
  {% from "_formhelpers.html" import render_field, render_button %}
    <table class="form-table">
      {{ render_field(form.mac_address) }}
      {{ render_button(form.submitForm) }}
    </table>
  </form>
{% endif %}
  <script> var routerUrl = '{{ router_url }}' </script>
{% endblock content %}