{% extends "base.html" %}
{% block greeting %}
  Accepted Devices for Your Account
{% endblock greeting %}
{% block content %}
<p style="text-align:center">If this device is already listed, you should now have access to the internet.</p>
<p style="text-align:center">Otherwise, add it to the list of devices allowed internet access for your account by clicking one of the below buttons. You can see the list of permanently allowed devices for your account, as well as a list of guest devices.</p>
<div class="buttons">
  <a class="btn btn-add" href="/new_device">Add a Device</a>
{% if router_url %}
  <a class="btn btn-add btn-main" id="quick" style="display:none;">Quick Add This Device</a>
{% endif %}
  <a class="btn btn-add" href="/request_guest">Add Guest Device</a>
</div>
{% from "_formhelpers.html" import render_devices, render_request, render_guests %}
{{ render_devices(devices) }}

{{ render_guests(guests) }}

{% if requests %}
  {% for request in requests %}
    {{ render_request(request) }}
  {% endfor %}
{% endif %}
{% if can_create_account %}
<div class="buttons">
<a class="btn btn-add" href="/register">Register New Employee Account</a>
</div>
{% endif %}
<script> var routerUrl = '{{ router_url }}' </script>
{% endblock content %}