{% extends "base.html" %}
{% block greeting %}
  Edit Device
{% endblock greeting %}
{% block content %}
  <form method="post" id="edit_device" action="/update_device">
    {{ form.hidden_tag() }}
    {{ form.device_id }}
  {% from "_formhelpers.html" import render_field, render_button, render_inline_buttons %}
    <table class="form-table">
      {{ render_field(form.nickname) }}
      {{ render_field(form.mac_address) }}
      {{ render_field(form.building, aftertext="Leave as All unless for device such as printer or fax machine.") }}
      {{ render_button(form.edit) }}
    </table>
  </form>
{% endblock content %}