{% extends "base.html" %}
{% block greeting %}
  Please enter your email and we'll send instructions for resetting your password.
{% endblock greeting %}
{% block content %}
{% if form %}
  <form method="post" id="forgot_password_form" action="/forgot_password">
    {{ form.hidden_tag() }}
  {% from "_formhelpers.html" import render_field, render_button %}
    <table class="form-table">
      {{ render_field(form.company) }}
      {{ render_field(form.email) }}
      {{ render_button(form.submitForm) }}
    </table>
  </form>
{% endif %}
{% endblock content %}