{% extends "base.html" %}
{% block greeting %}
  Coalition - Network Access Portal - Request Guest Access
{% endblock greeting %}
{% block content %}
{% if success %}
<p>
  Thanks for requesting guest network access. We've sent an email to {{ member_email }}.
</p>
<p>
 Please alert the member to check their email and if they do not receive something in 1 – 2 minutes, they can also log in to their account and activate your Internet access.
</p>
<p>
  Once they receive the email, they can click on the link within the email to grant you network access.
</p>
<p>
  We also sent an email to your email, {{ guest_email }}, to confirm that you own that email address. Please enter the code you receive <a href="/register_guest">here</a> <strong> on the device you wish to connect</strong> to activate the full two hours of guest network access.
</p>
{% elif not success %}
<p>
  Thanks for requesting guest network access. Unfortunately, something went wrong.
</p>
<p>
 Please check with the member and <a href="/guest">try again</a>.
</p>
{% endif %}
{% endblock content %}


