{% extends "base.html" %}
{% block greeting %}
  Please enter your information for 8 hours of internet access.
{% endblock greeting %}
{% block content %}
  <form method="post" id="guest" action="/add_guest">
    {{ form.hidden_tag() }}
  {% from "_formhelpers.html" import render_field, render_button %}
    <table class="form-table">
      {{ render_field(form.first_name) }}
      {{ render_field(form.last_name) }}
      {{ render_field(form.company) }}
      {{ render_field(form.guest_email) }}
      {{ render_field(form.member_email) }}
      {{ render_button(form.submitForm) }}
    </table>
  </form>
{% endblock content %}