{% extends "base.html" %}
{% block greeting %}
<!--
<?xml version="1.0" encoding="UTF-8"?>
<WISPAccessGatewayParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.wballiance.net/wispr_2_0.xsd">
<Redirect>
<MessageType>100</MessageType>
<ResponseCode>0</ResponseCode>
<VersionHigh>2.0</VersionHigh>
<VersionLow>1.0</VersionLow>
<AccessProcedure>1.0</AccessProcedure>
<AccessLocation>MicroOffice Netauth Site</AccessLocation>
<LocationName>MicroOffice Netauth Site</LocationName>
<LoginURL>{{netauth_base_url}}/login
</Redirect>
</WISPAccessGatewayParam>
-->
{% if redirected %}
  We’re sorry, your device is not recognized – please log in to manage your allowed devices.
{% endif %}
{% endblock greeting %}
{% block content %}
  <form method="post" id="login">
    {{ form.hidden_tag() }}
  {% from "_formhelpers.html" import render_field, render_button %}
    <table class="form-table">
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_button(form.submitForm) }}
    </table>
  </form>
  <div id="register-footer">
    If you have a login for our pay site, it will work here as well.</br>
    If you don't have web credentials with us yet, please contact the administrator of your company/business; if you are unsure, this is probably the person who pays the bills to Coalition Space.</br>
    <a href="/forgot_password">Forgot your password?</a>
    </br>
    <h3 class="box-title">I am a guest of a MicroOffice member:</h3>
    <div class="boxed">
    <a class='btn btn-add' href="/guest">Request Access from Member</a>
    <a class='btn btn-add' href="/register_guest">Confirm My Email</a>
    <a class='btn btn-add' href="/deactivate_guest">Deactivate My Device</a>
  </div>
  <div>
    <a class='btn btn-add' href="/temporary">Activate Temporary Access</a>
  </div>
    </div>
{% endblock content %}