{% extends "base.html" %}
{% block greeting %}
  If you'd like to save your information with us for easier access next time, please enter it below.
{% endblock greeting %}
{% block content %}
  <form method="post" id="new_external">
    {{ form.hidden_tag() }}
  {% from "_formhelpers.html" import render_field, render_button %}
    <table class="form-table">
      {{ render_field(form.first_name) }}
      {{ render_field(form.last_name) }}
      {{ render_field(form.company) }}
      {{ render_field(form.email) }}
      {{ render_button(form.submitForm) }}
    </table>
  </form>
{% endblock content %}