{% extends "base.html" %}
{% block greeting %}
  Please set a password for our website system.
{% endblock greeting %}
{% block content %}
{% if form %}
  <form method="post" id="password_form" action="/set_password">
    {{ form.hidden_tag() }}
  {% from "_formhelpers.html" import render_field, render_button %}
    <table class="form-table">
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
      {{ render_button(form.submitForm) }}
    </table>
  </form>
{% endif %}
{% endblock content %}