{% extends "base.html" %}
{% block greeting %}
  Please register for our website system with the email already on file for you.
{% endblock greeting %}
{% block content %}
<p style='text-align: center;'>Fill out the form below to grant login credentials to an employee at {{ company }}</p>
  <form method="post" id="register" action="/register">
    {{ form.hidden_tag() }}
  {% from "_formhelpers.html" import render_field, render_button %}
    <table class="form-table">
      {{ render_field(form.first_name) }}
      {{ render_field(form.last_name) }}
      {{ render_field(form.building) }}
      {{ render_field(form.email) }}
      {{ render_button(form.submitForm) }}
    </table>
  </form>
{% endblock content %}