{% extends "base.html" %}
{% block greeting %}
  Coalition - Network Access Portal - Register
{% endblock greeting %}
{% block content %}
<p>
  We've sent an email with instructions on how to reset your password to {{ email }}, if that email was in our system.
</p>
<p>
  If you don't receive an email from us in the next few minutes, please go back and check the email address you typed in. Also it might be a good idea to check your junk email folder. If you try multiple times and still don't receive an email from us, please email <a href="mailto:billing@microoffice.com">billing@microoffice.com</a> with the following information: your name, your company name, your customer account ID (if you know it), which building you are located at, and the email address you would like to use for access to the network portal web site.
</p>
<p>
  Once you receive the email, go <a href="/confirm_email">here</a> and enter the code you received. You will then be able to set a new password.
</p>
{% endblock content %}


