{% extends "base.html" %}
{% block greeting %}
  Please enter the registration code you received in your email.
{% endblock greeting %}
{% block content %}
{% if form %}
  <form method="post" id="code_reg_form" action="/confirm_email">
    {{ form.hidden_tag() }}
  {% from "_formhelpers.html" import render_field, render_button %}
    <table class="form-table">
      {{ render_field(form.code) }}
      {{ render_button(form.submitForm) }}
    </table>
  </form>
{% endif %}
{% endblock content %}