{% extends "base.html" %}
{% block greeting %}
  Please enter your guest's information and we will send them an email with further instructions (they will have to use their phone to view it).
{% endblock greeting %}
{% block content %}
  <form method="post" id="request_guest" action="/request_guest">
    {{ form.hidden_tag() }}
  {% from "_formhelpers.html" import render_field, render_button %}
    <table class="form-table">
      {{ render_field(form.first_name) }}
      {{ render_field(form.last_name) }}
      {{ render_field(form.company) }}
      {{ render_field(form.guest_email) }}
      {{ render_button(form.submitForm) }}
    </table>
  </form>
{% endblock content %}