{% macro render_field(field, class='', addon='', addafter='', target='') %}
{% if field.errors %}
  <div class="form-group {{ class }} has-error has-feedback" target="{{target}}">
{% else %}
	<div class="form-group {{ class }}" target="{{target}}">
	<tr style="height: 42px;">
{% endif %}
      {{ field.label }}
      {{ addon|safe }}
      {{ field(class="form-control") }}
      {{ addafter|safe }}
{% if field.errors %}
  <span class='glyphicon glyphicon-remove form-control-feedback' aria-hidden='true'></span>
{% endif %}
</tr>
  </div>
{% if field.errors %}
  <div class="form-group has-error error-div" style="display:table">
  		<label class="form-control">
  		{%- for error in field.errors %}
	    <span>{{ error }}</span><br>
	    {%- endfor %}
	    </label>
  </div>
{% else %}
  <div class="form-group has-error error-div" style="display:none;"></div>
{% endif %}
{% endmacro %}


{% macro render_button(button) %}
  {{ button(class="btn btn-default wide")}}
{% endmacro %}

{% macro render_checkbox(checkbox, class="", target="") %}
<div class="form-group">
{% if not checkbox.data %}
  <input type="checkbox" id="{{checkbox.id}}" name="{{checkbox.name}}" class="formhide {{class}}" target="{{target}}">
  <button type="button" id="{{ checkbox.id }}-btn" class="form-control btn btn-check" style="background-color: #fff; border-color: #4678b9">
    <span class="glyphicon glyphicon-ok checkmark" style="opacity:0"></span>
  </button>
  <label style="width: 100%; background-color: #edf2f8;;"> {{checkbox.description}} </label>
{% else %}
  <input type="checkbox" id="{{checkbox.id}}" name="{{checkbox.name}}" class="formhide {{class}}" target="{{target}}" checked>
  <button type="button" id="{{ checkbox.id }}-btn" class="form-control btn btn-check">
    <span class="glyphicon glyphicon-ok checkmark"></span>
  </button>
  <label style="width: 100%; background-color: #66cc66;"> {{checkbox.description}} </label>
{% endif %}
</div>
{% endmacro %}

{% macro render_radio(radio) %}
<div class="form-group" id="{{ radio.id }}" value="{{ radio.data }}">
  {% for subfield in radio %}
    {% if subfield.checked %}
      {{ subfield(class="formhide") }}
        <button type="button" id="{{ subfield.id }}-btn" class="form-control btn btn-check radio">
          <span class="glyphicon glyphicon-ok checkmark"></span>
        </button>
      {{ subfield.label(style="width: 40%; background-color: #66cc66;", for="pmt_method-radio")}}
    {% else %}
      {{ subfield(class="formhide") }}
        <button type="button" id="{{ subfield.id }}-btn" class="form-control btn btn-check radio" style="background-color: #fff; border-color: #4678b9">
          <span class="glyphicon glyphicon-ok checkmark" style="opacity:0"></span>
        </button>
      {{ subfield.label(style="width: 40%; background-color: #edf2f8;", for="pmt_method-radio")}}
    {% endif %}
  {% endfor %}
</div>
{% endmacro %}


{% macro render_cards(cards) %}
{% for card in cards %}
<div class="list-group manage" id="card-{{ loop.index }}">

{% with ids = get_flashed_messages(category_filter=["pmt_vault_id"]) %}
{% if ids %}
	{% for id in ids %}
			{% if id|string == card.id|string %}
				<div class="list-group-item manage header just-added">
			{% else %}
				<div class="list-group-item manage header">
			{% endif %}
	{% endfor %}
{% else %}
	<div class="list-group-item manage header">
{% endif %}
{% endwith %}
	    <a data-toggle="collapse" data-parent="#card-{{ loop.index }}" href="#card-{{ loop.index }}-display">
	        <table class="fields">
	          <tr>
	         	<td class="arrow"><span class="glyphicon glyphicon-chevron-down showit"></span></td>
	          <td class="card cc">{{ card.card_number }}</td>
	          <td class="card exp">{{ card.expire_date.strftime('%m/%y') }}</td>
	          <td class="card name">{{ card.billing_first_name }} {{ card.billing_last_name }}</td>
	          </tr>
	        </table>
	    </a>
	  </div>
	  <div id="card-{{ loop.index }}-display" class="panel-collapse collapse">
	  <div class="list-group-item manage">
	  	<div class="card manage">
        <button data-id="{{ card.id }}" class="btn btn-default btn-card-edit manage">Edit</button>
        <button data-id="{{ card.id }}" class="btn btn-default btn-card-delete manage">Delete</button>
      </div>
	    <table>
	      <tr><th class="card billing"><strong>Billing Address</strong><th></tr>
	      <tr><td class="card billing">{{ card.billing_first_name }} {{ card.billing_last_name }}<br>
	                                    {% if card.company %}
	                                    {{ card.company }}<br>r
	                                    {% endif %}
	                                    {{ card.billing_address_1}}<br>
	                                    {% if card.billing_address_2 %}
	                                    {{ card.billing_address_2 }}<br>
	                                    {% endif %}
	                                    {{ card.billing_city }}, {{ card.billing_state }} {{ card.billing_zip_code}}<br>
	                                    {{ card.billing_country }}<br>
          </td>
        </tr>
    	</table>
  	</div>
  </div>   
</div>
{% endfor %}
{% endmacro %}


{% macro render_ach(ach_accounts) %}
{% for ach in ach_accounts %}
<div class="list-group manage" id="ach-{{ loop.index }}">

{% with ids = get_flashed_messages(category_filter=["pmt_vault_id"]) %}
{% if ids %}
	{% for id in ids %}
			{% if id|string == ach.id|string %}
          {% if ach.confirmed != 'confirmed' or ach.error %}
				    <div class="list-group-item manage header just-added"><!--deleted-->
          {% else %}
            <div class="list-group-item manage header just-added">
          {% endif %}
			{% else %}
          {% if ach.confirmed != 'confirmed' or ach.error %}
            <div class="list-group-item manage header"><!--deleted-->
          {% else %}
            <div class="list-group-item manage header">
          {% endif %}
			{% endif %}
	{% endfor %}
{% else %}
	{% if ach.confirmed != 'confirmed' or ach.error %}
    <div class="list-group-item manage header"><!--deleted-->
  {% else %}
    <div class="list-group-item manage header">
  {% endif %}
{% endif %}
{% endwith %}
	    <a data-toggle="collapse" data-parent="#ach-{{ loop.index }}" href="#ach-{{ loop.index }}-display">
	        <table class="fields">
	          <tr>
	          <td class="arrow"><span class="glyphicon glyphicon-chevron-down showit"></span></td>
	          <td class="ach routing">{{ ach.routing_number }}</td>
            <td class="ach account">{{ ach.account_number }}</td>
            <!--{% if ach.error %}
             <td class="ach account invalid-amount"><span class="warning glyphicon glyphicon-warning-sign"></span>{{ ach.confirmed|capitalize }}; Error<br><span class="detail">click for detail</span></td>
            {% elif ach.confirmed != 'confirmed' %}
            <td class="ach account unconfirmed">{{ ach.confirmed|capitalize }}</td>
            {% else %}
            <td class="ach account">{{ ach.confirmed|capitalize }}</td>
            {% endif %}-->
	          <td class="ach type">{{ ach.account_type|capitalize }}</td>
	          </tr>
	        </table>
	    </a>
	  </div>
	  <div id="ach-{{ loop.index }}-display" class="panel-collapse collapse">
	  <div class="list-group-item manage">
		  <div class="ach manage">
        {% if ach.confirmed == 'ready to verify' or ach.confirmed == 'unconfirmed' and not ach.error %}
        <button style="display:none;" data-id="{{ ach.id }}" data-account="{{ ach.account_number }}" data-routing="{{ ach.routing_number }}" data-name="{{ ach.registered_name }}" class="btn btn-default ach-confirm manage">Confirm</button>
        {% endif %}
        <button data-id="{{ ach.id }}" class="btn btn-default btn-ach-edit manage">Edit</button>
        <button data-id="{{ ach.id }}" class="btn btn-default btn-ach-delete manage">Delete</button>
      </div>
      <table>
        <td class="dates">
    	    <table class="ach">
    	      <tr><th class="ach info"><strong>Owned By</strong><th></tr>
    	      <tr><td class="ach info" style="padding-bottom:10px;">{{ ach.owned_by|capitalize }}</td></tr>
    	      <tr><th class="ach info"><strong>Registered Name</strong><th></tr>
    	      <tr><td class="ach info">{{ ach.registered_name }}</td></tr>
            </tr>
        	</table>
        </td>
        <!--<td class="dates">
          <table>
          {% for action in ach.actions %}
          {% if action.action_type == 'settle' %}
            <tr><th class="ach info"><strong>Payment Received</strong><th></tr>
            <tr><td class="ach info" style="padding-bottom:10px;">{{ action.action_ts.strftime("%a, %b %d, %Y at %H:%M:%S") }}</td></tr>
          {% elif action.action_type != 'credit' %}
            <tr><th class="ach info error"><strong>Error: {{ action.response_text }}</strong><th></tr>
            <tr><td class="ach info" style="padding-bottom:10px;">{{ action.action_ts.strftime("%a, %b %d, %Y at %H:%M:%S") }}</td></tr>
          {% endif %}
          {% endfor %}
          </table>
        </td>-->
      </table>
  	</div>
  </div>   
</div>
{% endfor %}
{% endmacro %}


{% macro render_recurs(recurs) %}
{% for recur in recurs %}
<div class="list-group manage" id="recur-{{ loop.index }}">
{% with ids = get_flashed_messages(category_filter=["recur_id"]) %}
{% if ids %}
  {% for id in ids %}
      {% if id|string == recur.id|string %}
        <div class="list-group-item manage header just-added">
      {% else %}
        <div class="list-group-item manage header">
      {% endif %}
  {% endfor %}
{% else %}
  <div class="list-group-item manage header">
{% endif %}
{% endwith %}
      <a data-toggle="collapse" data-parent="#recur-{{ loop.index }}" href="#recur-{{ loop.index }}-display">
          <table class="fields">
            <tr>
            <td class="arrow"><span class="glyphicon glyphicon-chevron-down showit"></span></td>
            <td class="recur day">{{ recur.day_of_month_suf }}</td>
            <td class="recur amt">
            {%- if recur.max_amount == None -%}
              Payment in full
            {%- else -%}
              Payment up to {{ recur.max_amount }}
            {% endif %}
            </td>
            <td class="recur num">{{ recur.number_info|safe }}</td>
            </tr>
          </table>
      </a>
    </div>
    <div id="recur-{{ loop.index }}-display" class="panel-collapse collapse">
    <div class="list-group-item manage">
      <div class="recur manage">
        <button data-id="{{ recur.id }}" class="btn btn-default btn-recur-edit manage">Edit</button>
        <button data-id="{{ recur.id }}" class="btn btn-default btn-recur-delete manage">Delete</button>
      </div>

      {% if recur.pmt_method == "card" %}
      <table>
        <td class="dates">
          <table>
            <tr><th class="card billing"><strong>Card Billing Address</strong><th></tr>
            <tr><td class="card billing">{{ recur.billing_first_name }} {{ recur.billing_last_name }}<br>
                                          {% if recur.company %}
                                          {{ recur.company }}<br>
                                          {% endif %}
                                          {{ recur.billing_address_1}}<br>
                                          {% if recur.billing_address_2 %}
                                          {{ recur.billing_address_2 }}<br>
                                          {% endif %}
                                          {{ recur.billing_city }}, {{ recur.billing_state }} {{ recur.billing_zip_code}}<br>
                                          {{ recur.billing_country }}<br>
                                          {% if recur.note %}
                                          <tr><th class="ach info" style="padding-top:10px;"><strong>Note</strong><th></tr>
                                          <tr><td class="ach info">{{ recur.note }}</td></tr>
                                          {% endif %}
              </td>
            </tr>
          </table>
        </td>

      {% elif recur.pmt_method == "ach" %}
      <table>
        <td class="dates">
          <table class="ach">
            <tr><th class="ach info"><strong>Owned By</strong><th></tr>
            <tr><td class="ach info" style="padding-bottom:10px;">{{ recur.owned_by|capitalize }}</td></tr>
            <tr><th class="ach info"><strong>Registered Name</strong><th></tr>
            <tr><td class="ach info">{{ recur.registered_name }}</td></tr>
             {% if recur.note %}
            <tr><th class="ach info" style="padding-top:10px;"><strong>Note</strong><th></tr>
            <tr><td class="ach info">{{ recur.note }}</td></tr>
            {% endif %}
          </table>
        </td>
      {% endif %}

      {% if recur.start_date or recur.end_date or recur.remind_days_before %}
        <td class="dates">
          <table>
          {% if recur.remind_days_before %}
            <tr><th class="ach info"><strong>Email Reminder:</strong><th></tr>
            <tr><td class="ach info" style="padding-bottom:10px;">{{ recur.remind_days_before }} days before</td></tr>
          {% endif %}
          {% if recur.start_date %}
            <tr><th class="ach info"><strong>Start Date</strong><th></tr>
            <tr><td class="ach info" style="padding-bottom:10px;">{{ recur.start_date }}</td></tr>
          {% endif %}
          {% if recur.end_date %}
            <tr><th class="ach info"><strong>End Date</strong><th></tr>
            <tr><td class="ach info">{{ recur.end_date }}</td></tr>
          {% endif %}
          </table>
        </td>
      {% endif %}
    </table>
    </div>
  </div>   
</div>
{% endfor %}
{% endmacro %}




{% macro render_upcoming(upcoming) %}
{% for upcom in upcoming %}
<div class="list-group manage" id="upcom-{{ loop.index }}">
{% with ids = get_flashed_messages(category_filter=["upcoming_id"]) %}
{% if ids %}
  {% for id in ids %}
      {% if id|string == upcom.id|string %}
        <div class="list-group-item manage header just-added">
      {% else %}
        <div class="list-group-item manage header">
      {% endif %}
  {% endfor %}
{% else %}
  <div class="list-group-item manage header">
{% endif %}
{% endwith %}
      <a data-toggle="collapse" data-parent="#upcom-{{ loop.index }}" href="#upcom-{{ loop.index }}-display">
           <table class="fields">
            <tr>
              <td class="arrow"><span class="glyphicon glyphicon-chevron-down showit"></span></td>
              <td class="recur day">{{ upcom.scheduled_date.strftime("%a, %b %d, %Y") }}{% if upcom.past %}*{% endif %}</td>
              <td class="recur amt">
              {%- if upcom.amount == None -%}
                Payment in full
              {%- else -%}
                {{ upcom.amount }}
              {% endif %}
              </td>
              <td class="recur amt">{{ upcom.type|capitalize }}</td>
              <td class="recur num">{{ upcom.number_info|safe }}</td>
            </tr>
          </table>
      </a>
    </div>
    <div id="upcom-{{ loop.index }}-display" class="panel-collapse collapse">
    <div class="list-group-item manage">
      <div class="recur manage">
        {% if not upcom.past %}
          {% if upcom.type == "scheduled" %}
          <button data-id="{{ upcom.id }}" data-type="{{ upcom.txn_type }}" class="btn btn-default btn-upcoming-edit manage">Edit</button>
          {% elif upcom.type == "recurring" %}
          <a type="button" href="/recurring_payments?id={{upcom.id}}" class="btn btn-default manage">Edit</a>
          {% endif %}
          {% if upcom.type == "scheduled" %}
            <button data-id="{{ upcom.id }}" data-type="{{ upcom.txn_type }}" class="btn btn-default btn-upcoming-delete manage">Delete</button>
          {% endif %}
        {% endif %}
      </div>

      {% if upcom.pmt_method == "card" %}
      <table>
        <td class="dates">
          <table>
            <tr><th class="card billing"><strong>Card Billing Address</strong><th></tr>
            <tr><td class="card billing">{{ upcom.billing_first_name }} {{ upcom.billing_last_name }}<br>
                                          {% if upcom.company %}
                                          {{ upcom.company }}<br>
                                          {% endif %}
                                          {{ upcom.billing_address_1}}<br>
                                          {% if upcom.billing_address_2 %}
                                          {{ upcom.billing_address_2 }}<br>
                                          {% endif %}
                                          {{ upcom.billing_city }}, {{ upcom.billing_state }} {{ upcom.billing_zip_code}}<br>
                                          {{ upcom.billing_country }}<br>
                                          {% if upcom.note %}
                                          <tr><th class="ach info" style="padding-top:10px;"><strong>Note</strong><th></tr>
                                          <tr><td class="ach info">{{ upcom.note }}</td></tr>
                                          {% endif %}
              </td>
            </tr>
          </table>
        </td>

      {% elif upcom.pmt_method == "ach" %}
      <table>
        <td class="dates">
          <table class="ach">
            <tr><th class="ach info"><strong>Account Type</strong><th></tr>
            <tr><td class="ach info" style="padding-bottom:10px;">{{ upcom.account_type|capitalize }}</td></tr>
            <tr><th class="ach info"><strong>Owned By</strong><th></tr>
            <tr><td class="ach info" style="padding-bottom:10px;">{{ upcom.owned_by|capitalize }}</td></tr>
            <tr><th class="ach info"><strong>Registered Name</strong><th></tr>
            <tr><td class="ach info">{{ upcom.registered_name }}</td></tr>
             {% if upcom.note %}
            <tr><th class="ach info" style="padding-top:10px;"><strong>Note</strong><th></tr>
            <tr><td class="ach info">{{ upcom.note }}</td></tr>
            {% endif %}
          </table>
        </td>
      {% endif %}

    </table>
    </div>
  </div>  
</div>
{% endfor %}
{% endmacro %}






{% macro render_past(past) %}
{% for p in past %}
  <div class="list-group manage" id="past-{{ loop.index }}">
  {% if p.error %}
    <div class="list-group-item manage header deleted">
  {% elif p.cancelled or p.handled %}
    <div class="list-group-item manage header cancelled">
  {% else %}
  <div class="list-group-item manage header">
  {% endif %}
     <a data-toggle="collapse" data-parent="#past-{{ loop.index }}" href="#past-{{ loop.index }}-display">
       <table class="fields">
        <tr>
          <td class="arrow"><span class="glyphicon glyphicon-chevron-down showit"></span></td>
          <td class="recur day">{{ p.request_posted_ts.strftime("%a, %b %d, %Y") }}</td>
          {% if p.error %}
          <td class="recur amt invalid-amount"><span class="warning glyphicon glyphicon-warning-sign"></span>{{ p.amount }}<br><span class="detail">click for detail</span></td>
          {% elif p.cancelled or p.handled %}
           <td class="recur amt invalid-amount">{{ p.amount }}<br><span class="detail">click for detail</span></td>
          {% else %}
          <td class="recur amt">{{ p.amount }}</td>
          {%endif%}
          <td class="recur amt">{{ p.number_info|safe }}</td>
          <td class="past id">{{ p.id }}</td>
        </tr>
      </table>
      </a>
    </div> 
    <div id="past-{{ loop.index }}-display" class="panel-collapse collapse">
      <div class="list-group-item manage">
        {% if p.pmt_method == "card" %}
        <table>
          <td class="dates">
            <table>
              <tr><th class="card billing"><strong>Card Billing Address</strong><th></tr>
              <tr><td class="card billing">{{ p.billing_first_name }} {{ p.billing_last_name }}<br>
                                            {% if p.company %}
                                            {{ p.company }}<br>
                                            {% endif %}
                                            {{ p.billing_address_1}}<br>
                                            {% if p.billing_address_2 %}
                                            {{ p.billing_address_2 }}<br>
                                            {% endif %}
                                            {{ p.billing_city }}, {{ p.billing_state }} {{ p.billing_zip_code}}<br>
                                            {{ p.billing_country }}<br>
                                            {% if p.note %}
                                            <tr><th class="ach info" style="padding-top:10px;"><strong>Note</strong><th></tr>
                                            <tr><td class="ach info">{{ p.note }}</td></tr>
                                            {% endif %}
                </td>
              </tr>
            </table>
          </td>

        {% elif p.pmt_method == "ach" %}
        <table>
          <td class="dates">
            <table class="ach">
              <tr><th class="ach info"><strong>Account Type</strong><th></tr>
              <tr><td class="ach info" style="padding-bottom:10px;">{{ p.account_type|capitalize }}</td></tr>
              <tr><th class="ach info"><strong>Owned By</strong><th></tr>
              <tr><td class="ach info" style="padding-bottom:10px;">{{ p.owned_by|capitalize }}</td></tr>
              <tr><th class="ach info"><strong>Registered Name</strong><th></tr>
              <tr><td class="ach info">{{ p.registered_name }}</td></tr>
               {% if p.note %}
              <tr><th class="ach info" style="padding-top:10px;"><strong>Note</strong><th></tr>
              <tr><td class="ach info">{{ p.note }}</td></tr>
              {% endif %}
            </table>
          </td>
        {% endif %}

        {% if not p.actions %}
        <td class="dates">
            <table>
              <tr><th class="ach info error"><strong>Error: Payment failed to be processed</strong><th></tr>
            </table>
          </td>
        {% else %}
          <td class="dates">
            <table>
            {% for action in p.actions %}
            {% if action.action_type == 'sale' and action.response == '1' %} 
              <tr><th class="ach info"><strong>Payment Sent</strong><th></tr>
            {% elif action.action_type == 'void' %}
              <tr><th class="ach info"><strong>Cancelled</strong><th></tr>
            {% elif action.action_type == 'settle' %}
              <tr><th class="ach info"><strong>Payment Received</strong><th></tr>
            {% else %}
              <tr><th class="ach info error"><strong>Error: {{ action.response_text }}</strong><th></tr>
            {% endif %}
              <tr><td class="ach info" style="padding-bottom:10px;">{{ action.action_ts.strftime("%a, %b %d, %Y at %H:%M:%S") }}</td></tr>
            {% endfor %}
            </table>
          </td>
        {% endif %}
      </table>
      </div>
    </div>  
  </div>
  {% endfor %}
{% endmacro %}