    <h4>
      {% if pmt_nmi_txn.response == '1' %}
        Your ACH/bank payment was processed successfully. Here is your confirmation:
      {% else %}
        Your ACH/bank payment failed. Here are details of the failed transaction:
      {% endif %}
    </h4>
    <table>
      <tr>
  <td>Customer Account ID</td>
  <td>{{ pmt_nmi_txn['cust_acct_id'] }}</td>
      </tr>
      <tr>
  <td>Customer Account Name</td>
  <td>{{ pmt_nmi_txn['cust_acct_name'] }}</td>
      </tr>
      <tr>
  <td>Location</td>
  <td>{{ pmt_nmi_txn['floor_label'] }}</td>
      </tr>
      <tr>
  <td>Routing Number</td>
  <td>{{ pmt_nmi_txn['routing_number'] }}</td>
      </tr>
      <tr>
  <td>Account Number</td>
  <td>{{ pmt_nmi_txn['account_number'] }}</td>
      </tr>
      <tr>
  <td>Account Type</td>
  <td>{{ pmt_nmi_txn['account_type'] }}</td>
      </tr>
      <tr>
  <td>Account Ownership</td>
  <td>{{ pmt_nmi_txn['owned_by'] }}</td>
      </tr>
      <tr>
  <td>Amount</td>
  <td>{{ pmt_nmi_txn['amount'] }}</td>
      </tr>
      <tr>
  <td>Date</td>
  <td>{{ pmt_nmi_txn['scheduled_date'] }}</td>
      </tr>
      <tr>
  <td>Note</td>
  <td>{% if pmt_nmi_txn['note'] %}{{ pmt_nmi_txn['note'] }}{% endif %}</td>
      </tr>
      <tr>
  <td>Transaction Response</td>
  <td>{{ pmt_nmi_txn['responsetext'] }}</td>
      </tr>
      <tr>
  <td>Transaction ID</td>
  <td>{{ pmt_nmi_txn['transactionid'] }}</td>
      </tr>
    </table>
    <br/>
    <p>
      {% if pmt_nmi_txn.response == '1' %}
        A copy of the confirmation details above has also been emailed to
        you at {{ pmt_nmi_txn['email'] }}. Please note that ACH/bank payments can take a
        few days to clear. Payments can bounce for a number of reasons:
        insufficient funds, blocks imposed by the customer or the bank, or
        other causes. If the payment subsequently bounces, you will be
        assessed a bounce fee in addition to having to make a replacement
        payment, so please check that you have sufficient funds in your
        account and no blocks are in place by your bank.
      {% else %}
        Please attempt another <a href="/onetime">ACH/bank payment</a>, or you can make a <a href="/onetime">credit card payment</a>.
      {% endif %} 
    </p>