{% extends "base.html" %}
{% block title %} - ACH/Bank Payment{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - ACH/Bank Payment</h3>
    <p>
      Your ACH/bank payment has been scheduled:
    </p>
    <table>
      <tr>
	<td>Customer Account ID</td>
	<td>{{ pmt_nmi_txn['cust_acct_id'] }}</td>
      </tr>
      <tr>
	<td>Customer Account Name</td>
	<td>{{ pmt_nmi_txn['cust_acct_name'] }}</td>
      </tr>
      <tr>
	<td>Location</td>
	<td>{{ pmt_nmi_txn['floor_label'] }}</td>
      </tr>
      <tr>
	<td>Routing Number</td>
	<td>{{ pmt_nmi_txn['routing_number'] }}</td>
      </tr>
      <tr>
	<td>Account Number</td>
	<td>{{ pmt_nmi_txn['account_number'] }}</td>
      </tr>
      <tr>
	<td>Account Type</td>
	<td>{{ pmt_nmi_txn['account_type'] }}</td>
      </tr>
      <tr>
	<td>Account Ownership</td>
	<td>{{ pmt_nmi_txn['owned_by'] }}</td>
      </tr>
      <tr>
	<td>Amount</td>
	<td>{{ pmt_nmi_txn['amount'] }}</td>
      </tr>
      <tr>
	<td>Scheduled Date</td>
	<td>{{ pmt_nmi_txn['scheduled_date'] }}</td>
      </tr>
      <tr>
	<td>Note</td>
	<td>{{ pmt_nmi_txn['note'] or '' }}</td>
      </tr>
    </table>
    <br/>
    <p>
      On the scheduled date, your bank account will be debited and the result of the transaction will be emailed to you at {{ pmt_nmi_txn['email'] }}.
    </p>
{% endblock content %}
