{% extends "base.html" %}
{% block title %} - Bad Login{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Bad Login</h3>
    <p>
      Bad email or password. Please <a href="/login">try again </a>.
    </p>
{% endblock content %}
