<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Micro Office - Payment Portal - Missing or Bad Email in Registration</title>
  </head>
  <body>
    <h1>Micro Office - Payment Portal - Missing or Bad Email in Registration</h1>
    <p>
      Missing or bad email on registration page. Please try again.
    </p>
    {% if error %}
    <p>
      The following error occurred:
      {{ error }}
    </p>
    {% endif %}
  </body>
</html>
