<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ static_base_url }}/pay/img/favicon.ico">
    <link href="{{ static_base_url }}/pay/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ static_base_url }}/pay/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="{{ static_base_url }}/pay/css/style.css" rel="stylesheet">
    <script src="{{ static_base_url }}/pay/js/jquery/jquery.js"></script>
    <script src="{{ static_base_url }}/pay/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ static_base_url }}/pay/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="{{ static_base_url }}/pay/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ static_base_url }}/pay/js/jquery-val/dist/jquery.validate.min.js"></script>
    <script src="{{ static_base_url }}/pay/js/jquery-val/dist/additional-methods.min.js"></script>
    <script type="text/javascript" src="{{ static_base_url }}/pay/js/ddslick.mod.js"></script>
    <script src="{{ static_base_url }}/pay/js/validators.js"></script>
    {% block pageJS %}{% endblock pageJS %}
    <script src="{{ static_base_url }}/pay/js/scripts.js?v=5"></script>
    <title>Micro Office - Payment Portal {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class="container-fluid" id="banner">
      <img src="{{ static_base_url }}/pay/img/microoffice-logo.jpg">
    </div>
     <div class = "classic"> 
      Something not working? Comments, complaints? Email <a href="mailto:bugs@microoffice.com">bugs@microoffice.com</a> and we'll get on it.<br>
  </div>
{% block navbar %}{% include "nav.html" %}{% endblock navbar %}
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% for error in errors %}
  <div class="flash-error">Error: {{error|safe}}</div>
{% endfor %}
{% endwith %}
<div id="content">
{% block content %}{% endblock content %}
</div>
  </body>
</html>