{% extends "base.html" %}
{% block title %} - Credit Card Payment{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Credit Card Payment</h3>
    <p>
      Your credit card payment has been scheduled:
    </p>
    <table>
      <tr>
	<td>Customer Account ID</td>
	<td>{{ pmt_nmi_txn['cust_acct_id'] }}</td>
      </tr>
      <tr>
	<td>Customer Account Name</td>
	<td>{{ pmt_nmi_txn['cust_acct_name'] }}</td>
      </tr>
      <tr>
	<td>Location</td>
	<td>{{ pmt_nmi_txn['floor_label'] }}</td>
      </tr>
      <tr>
	<td>Credit Card Number</td>
	<td>{{ pmt_nmi_txn['card_number'] }}</td>
      </tr>
      <tr>
	<td>Expire Date</td>
	<td>{{ pmt_nmi_txn['expire_mmyyyy'] }}</td>
      </tr>
      <tr>
	<td>Amount</td>
	<td>${{ pmt_nmi_txn['prefee_amount'] }} + {{ pmt_nmi_txn['convenience_pct'] }}% convenience fee of {{ pmt_nmi_txn['convenience_fee'] }} = total of {{ pmt_nmi_txn['amount'] }}</td>
      </tr>
      <tr>
	<td>Scheduled Date</td>
	<td>{{ pmt_nmi_txn['scheduled_date'] }}</td>
      </tr>
      <tr>
	<td>Note</td>
	<td>{{ pmt_nmi_txn['note'] or '' }}</td>
      </tr>
    </table>
    <br/>
    <p>
      On the scheduled date, your card will be charged and the result of the transaction will be emailed to you at {{ pmt_nmi_txn['email'] }}.
    </p>
{% endblock content %}
