    <h4>
    {% if pmt_nmi_txn.response == '1' %}
      Your credit card payment was processed successfully. Here is your confirmation:
    {% else %}
       Your credit card payment failed. Here are details of the failed transaction:
    {% endif %}
    </h4>
    <table>
      <tr>
  <td>Customer Account ID</td>
  <td>{{ pmt_nmi_txn['cust_acct_id'] }}</td>
      </tr>
      <tr>
  <td>Customer Account Name</td>
  <td>{{ pmt_nmi_txn['cust_acct_name'] }}</td>
      </tr>
      <tr>
  <td>Location</td>
  <td>{{ pmt_nmi_txn['floor_label'] }}</td>
      </tr>
      <tr>
  <td>Credit Card Number</td>
  <td>{{ pmt_nmi_txn['card_number'] }}</td>
      </tr>
      <tr>
  <td>Expire Date</td>
  <td>{{ pmt_nmi_txn['expire_mmyyyy'] }}</td>
      </tr>
      <tr>
  <td>Amount</td>
  <td>${{ pmt_nmi_txn['prefee_amount'] }} + {{ pmt_nmi_txn['convenience_pct'] }}% convenience fee of {{ pmt_nmi_txn['convenience_fee'] }} = total of {{ pmt_nmi_txn['amount'] }}</td>
      </tr>
      <tr>
  <td>Date</td>
  <td>{{ pmt_nmi_txn['scheduled_date'] }}</td>
      </tr>
      <tr>
  <td>Note</td>
  <td>{% if pmt_nmi_txn['note'] %}{{ pmt_nmi_txn['note'] }}{% endif %}</td>
      </tr>
      <tr>
  <td>Transaction Response</td>
  <td>{{ pmt_nmi_txn['responsetext'] }}</td>
      </tr>
      <tr>
  <td>Transaction ID</td>
  <td>{{ pmt_nmi_txn['transactionid'] }}</td>
      </tr>
    </table>
    <br/>
    <p>
    {% if pmt_nmi_txn.response == '1' %}
      A copy of the confirmation details above has also been emailed to you at {{ pmt_nmi_txn['email'] }}.
    {% else %}
      Please attempt another credit card payment or ACH/bacnk <a href="/onetime">payment</a>.
    {% endif %} 
    </p>