{% from "_formhelpers.html" import render_field, render_button %}
{% extends "base.html" %}
{% block title %} - Forgot Password {% endblock title %}
{% block content %}
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% for error in errors %}
        <h4 style="color:#cc0000;">Error: {{error}}</h4>
      {% endfor %}
    {% endwith %}
    {% with successes = get_flashed_messages(category_filter=["success"]) %}
      {% for success in successes %}
        <h4 style="color:green;">Success: {{success}}</h4>
      {% endfor %}
    {% endwith %}
    {% with emails = get_flashed_messages(category_filter=["email"]) %}
      {% for email in emails %}
        <h4 style="color:#000066;">An email has been sent to {{email}} to confirm this email address belongs to you. Please check your inbox for a link to reset your password. </h4>
      {% endfor %}
    {% endwith %}

        <p>Enter your email here and we'll send you a link to change your password.</p>
        <form action="/password_email" method="post" id="password-email">
        {{ form.hidden_tag() }}
        {{ render_field(form.email) }}
        {{ render_button(form.submitForm) }}
        </form>

{% endblock content %}