{% extends "base.html" %}
{% block title %} - Forgot Password{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Forgot Password</h3>
    <p>
      We sent an email to {{ email }} with a link to reset your password.
    </p>
    <p>
      If you don't receive an email from us in the next few minutes,
      please go back and check the email address you typed in. Also it
      might be a good idea to check your junk email folder. If you try
      multiple times and still don't receive an email from us, please
      email billing@microoffice.com.
    </p>
    <p>
      Once you receive the email, click on the link within the email to
      verify that you own the email inbox. You will then be able to set
      a new password.
    </p>
{% endblock content %}
