{% extends "form_pmt_info.html" %}
{% from "_formhelpers.html" import render_field, render_button, render_checkbox, render_radio %}
{% block formdef %}
<form action="{{ url_for('process_pmt') }}" method="post" class="form-horizontal form-pmt" id="form-onetime">
{{ form.hidden_tag() }}
{% endblock formdef %}
{% block input %}
{{ render_field(form.amount, addon="<div class='input-group-addon'>$</div>") }}
{{ render_field(form.scheduled_date) }}
{{ render_checkbox(form.save_pmt_method) }}
{{ render_field(form.note) }}
{% endblock input %}
{% block submit %}
  <p class="next-payments">
  </p>
  {{ render_button(form.submitForm) }}
  </form>
{% endblock submit %}