{% from "_formhelpers.html" import render_field %}
{% macro ach_fields(form) %}
{% if form.routing_number and form.account_number %}
{{ render_field(form.routing_number) }}
{{ render_field(form.account_number) }}
{% else %}
<div class="form-group ">
  <label for="routing_number-edit">Routing Number:</label>
</div>
<div class="form-group ">
  <label for="account_number-edit">Account Number:</label>
</div>
{% endif %}
{{ render_field(form.account_type) }}
{{ render_field(form.owned_by) }}
{{ render_field(form.registered_name) }}
{% endmacro %}