<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Micro Office - Payment Portal - ACH/Bank</title>
  </head>
  <body>
    <h1>Micro Office - Payment Portal - ACH/Bank</h1>
    <p>
      Please enter your bank information below and specify amount and date of payment
    </p>
    <form action="/classic/process_ach_pmt" method="post">
      {{ form.hidden_tag() }}
      <table>

	<tr>
	  <td>Bank Routing Number:</td>
	  <td>
	    {{ form.routing_number(placeholder='routing number') }}
	    {%- for error in form.routing_number.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Bank Account Number:</td>
	  <td>
	    {{ form.account_number(placeholder='account number') }}
	    {%- for error in form.account_number.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Account Type:</td>
	  <td>
	    {{ form.account_type }}
	    {%- for error in form.account_type.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Account Ownership:</td>
	  <td>
	    {{ form.owned_by }}
	    {%- for error in form.owned_by.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Person or Business Named on Account:</td>
	  <td>
	    {{ form.registered_name(placeholder='your name on bank account') }}
	    {%- for error in form.registered_name.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td colspan="2" align="center">
	    ---
	  </td>
	</tr>
	<tr>
	  <td>Amount:</td>
	  <td>
	    {{ form.amount(placeholder='amount') }}
	    {%- for error in form.amount.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Scheduled Date:</td>
	  <td>
	    {{ form.scheduled_date }}
	    {%- for error in form.scheduled_date.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Note:</td>
	  <td>
	    {{ form.note(placeholder='optional note') }}
	    {%- for error in form.note.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
      </table>
      <p>
	{{ form.submitForm(value='Pay') }}
      </p>
    </form>
  </body>
</html>
