{% from "_formhelpers.html" import render_field, render_button, render_checkbox, render_radio %}
{% block formdef %}{% endblock formdef %}
{% for error in form.pmt_vault_id.errors %}
<div class='flash-error'> You seem to have erased the payment method you just tried paying with. Please select a different card from the dropdown or add a new one.</div>
{% endfor %}
{{ form.pmt_vault_id }}
{{ render_radio(form.pmt_method) }}

{% if form.pmt_method.data == "card" %}
  <div class="card-input">
{% else %}
  <div class="card-input formhide">
{% endif %}
  {% from "form_card.html" import card_fields %}
  {{ card_fields(form) }}
  </div>
{% if form.pmt_method.data == "ach" %}
  <div class="ach-input">
{% else %}
  <div class="ach-input formhide">
{% endif %}
  {% from "form_ach.html" import ach_fields %}
  {{ ach_fields(form) }}
  </div>
  <div class="form-group" style="height:10px;">
    <label style="padding:0px"></label>
  </div>
{% block button %}{% endblock button %}
{% block input %}{% endblock input %}
{% block charge_today %}{% endblock charge_today %}
{% block cardpct %}
{% if form.pmt_method.data == "card" %}
  <p class="card-input">
{% else %}
  <p class="card-input formhide">
{% endif %}
    *There is a {{ convenience_pct }}% convenience fee associated with card payments. This fee will be in addition to the amount you enter. For example, if you enter $100.00 in amount, you will be charged ${{ hundred_plus_convenience_fee }}. If you prefer a payment method without a convenience fee, please consider ACH/bank payment.
  </p>
{% endblock cardpct %}
{% block submit %}{% endblock submit %}