{% from "_formhelpers.html" import render_field %}
{% macro card_fields(form) %}	
  {{ render_field(form.billing_first_name) }}
  {{ render_field(form.billing_last_name) }}
 {% if form.card_number %}
  {{ render_field(form.card_number) }}
 {% else %}
<div class="form-group ">
  <label for="card_number-edit">Credit Card Number:</label>
</div>
 {% endif %}
  <div class="form-group">
    <label>Expiration Date</label>
  </div>
  {{ render_field(form.expire_month, class="half left") }}
  {{ render_field(form.expire_year, class="half")}}
 {% if form.cvv %}
  {{ render_field(form.cvv) }}
 {% endif %}
  <div class="form-group">
    <label>Billing Information</label>
  </div>
  {{ render_field(form.billing_company) }}
  {{ render_field(form.billing_address_1) }}
  {{ render_field(form.billing_address_2) }}
  {{ render_field(form.billing_city) }}
{% if form.billing_country.data == 'US' %}
  {{ render_field(form.billing_state) }}
  {{ render_field(form.billing_state_nonus, class="formhide") }}
{% else %}
  {{ render_field(form.billing_state, class="formhide") }}
  {{ render_field(form.billing_state_nonus) }}
{% endif %}
  {{ render_field(form.billing_zip_code) }}
  {{ render_field(form.billing_country) }}
{% endmacro %}
