{% set form = cardEditForm %}
{% from "_formhelpers.html" import render_field, render_button %}
{% from "form_card.html" import card_fields %}
{% block formdef %}
{% with errors = get_flashed_messages(category_filter=["error_card_edit"]) %}
{% for error in errors %}
  <div class="flash-error">{{ error }}</div>
{% endfor %}
{% endwith %}
<form action="{{ url_for('update_card') }}" method="post" class="form-horizontal" id="form-card-edit">
{{ form.hidden_tag() }}
{% endblock formdef %}
{{ card_fields(form) }}
{{ render_button(form.submitForm) }}
</form>