<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Micro Office - Payment Portal - Credit Card Payment</title>
  </head>
  <body>
    <h1>Micro Office - Payment Portal - Credit Card Payment</h1>
    <p>
      Please enter your credit card payment information below and specify amount and date of payment.
    </p>
    <form action="/classic/process_card_pmt" method="post" autocomplete="on">
      {{ form.hidden_tag() }}
      <table>
	<tr>
	  <td>First Name:</td>
	  <td>
	    {{ form.billing_first_name(placeholder='first name on card') }}
	    {%- for error in form.billing_first_name.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Last Name:</td>
	  <td>
	    {{ form.billing_last_name(placeholder='last name on card') }}
	    {%- for error in form.billing_last_name.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Credit Card Number:</td>
	  <td>
	    {{ form.card_number(placeholder='credit card number') }}
	    {%- for error in form.card_number.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr style="vertical-align: top">
	  <td>Expire Date:</td>
	  <td>
	    <table>
	      <tr>
		<td>
		  {{ form.expire_month }}
		</td>
		<td>
		  /
		</td>
		<td>
		  {{ form.expire_year(size=2, maxlength=2, placeholder='year') }}
		</td>
		<td>
		  {%- for error in form.expire_year.errors %}
		  <span style="color: red;">[{{ error }}]</span>
		  {%- endfor %}
		</td>  
	      </tr>
	      <tr>
		<td style="text-align: center">Month</td>
		<td></td>
		<td style="text-align: center">Year</td>
		<td></td>
	      </tr>
	    </table>
	  </td>
	</tr>
	<tr>
	  <td>CVV/CVC/CSC:</td>
	  <td>
	    {{ form.cvv(size=3, maxlength=3, placeholder='cvv') }}
	    {%- for error in form.cvv.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Company:</td>
	  <td>
	    {{ form.billing_company(placeholder='company') }}
	    {%- for error in form.billing_company.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Billing Address 1:</td>
	  <td>
	    {{ form.billing_address_1(placeholder='address line 1') }}
	    {%- for error in form.billing_address_1.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Billing Address 2:</td>
	  <td>
	    {{ form.billing_address_2(placeholder='address line 2') }}
	    {%- for error in form.billing_address_2.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Billing City:</td>
	  <td>
	    {{ form.billing_city(placeholder='city') }}
	    {%- for error in form.billing_city.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Billing State:</td>
	  <td>
	    {{ form.billing_state(placeholder='state') }}
	    {%- for error in form.billing_state.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Billing Zip Code:</td>
	  <td>
	    {{ form.billing_zip_code(placeholder='zip code') }}
	    {%- for error in form.billing_zip_code.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Billing Country:</td>
	  <td>
	    {{ form.billing_country }}
	    {%- for error in form.billing_country.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td colspan="2" align="center">
	    ---
	  </td>
	</tr>
	<tr>
	  <td>Amount*:</td>
	  <td>
	    {{ form.amount(placeholder='amount') }}
	    {%- for error in form.amount.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Scheduled Date:</td>
	  <td>
	    {{ form.scheduled_date }}
	    {%- for error in form.scheduled_date.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
	<tr>
	  <td>Note:</td>
	  <td>
	    {{ form.note(placeholder='optional note') }}
	    {%- for error in form.note.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {%- endfor %}
	  </td>
	</tr>
      </table>
      <p>
        *There is a {{ convenience_pct }}% convenience fee associated with card payments. This fee will be in addition to the amount you enter. For example, if you enter $100.00 in amount, you will be charged ${{ hundred_plus_convenience_fee }}. If you prefer a payment method without a convenience fee, please consider <a href="/ach_form">ACH/bank payment</a>.
      </p>
      <p>
	{{ form.submitForm(value='Pay') }}
      </p>
    </form>
  </body>
</html>
