{% extends "form_pmt_info.html" %}
{% from "_formhelpers.html" import render_field, render_button, render_checkbox %}

{% block formdef %}
  <form action="{{ url_for('add_recur') }}" id="form-recur" method="post" class="form-horizontal form-pmt">
  {{ form.hidden_tag() }}
{% endblock formdef %}
{% block input %}
{% if form.reminder.data == True %}
  {{ render_checkbox(form.reminder, class="toggler", target="reminder") }}
  {{ render_field(form.remind_days_before, class="togglee", target="reminder") }}
{% else %}
  {{ render_checkbox(form.reminder, class="toggler", target="reminder") }}
  {{ render_field(form.remind_days_before, class="formhide togglee", target="reminder") }}
{% endif %}
{{ render_field(form.max_amount) }}
{{ render_field(form.day_of_month, class="formhide")}}
{% endblock input %}
{% block charge_today %}
<p class="midform"> The recurring charge will be your monthly invoice amount or max amount, whichever is smaller, each month. It will be charged on the 1st. If you are paying a different amount today (for example: rent + setup fees, security deposit, or last month’s rent) please enter that amount below. Otherwise leave the field blank. </p>
{{ render_field(form.amount, class="togglee", target="charge_today") }}
{{ render_field(form.note) }}
{% endblock charge_today %}
{% block submit %}
  <p class="next-payments">
  </p>
  {{ render_button(form.submitForm) }}
  </form>
{% endblock submit %}