{% extends "base.html" %}
{% block title %} - Past Charges{% endblock title %}
{% block content %}
<p>Lighter text (e.g. <span class="invalid-amount">$1.00</span>) indicates a payment has been voided</p>
<p>A warning sign  <span class="warning glyphicon glyphicon-warning-sign"></span> indicates action is required by the user. Email <a href="mailto:billing@microoffice.com">billing@microoffice.com</a> with questions.</p>
{% from "widgets.html" import history_widget %}
{{ history_widget(past) }}
{% endblock content %}