<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Micro Office - Payment Portal</title>
  </head>
  <body>
    <h1>Micro Office - Payment Portal</h1>
    <p>
      {%- if current_user.is_authenticated %}
      Hi {{ current_user.email }}!
      {%- endif %}
      Welcome to the payment portal. Please make your choice below.
    </p>
    {%- if current_user.is_authenticated %}
    <p>
      <a href="/logout">Log out</a> if finished.
    </p>
    {%- endif %}
    <ol>
      <li><a href="/ach_form">ACH/E-check payment</a></li>
      <li><a href="/card_form">Credit card payment</a> (there is a fee associated with this payment method)</li>
    </ol>
  </body>
</html>
