{% from "_formhelpers.html" import render_field, render_button, render_checkbox %}
{% extends "base.html" %}
{% block title %} - Login{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Log In</h3>
    <p>
      Welcome to the Micro Office payment portal. Please log in with your email and password.
    </p>
    <form action="/login" method="post" id="login">
	{{ form.hidden_tag() }}
	{{ render_field(form.email) }}
	{{ render_field(form.password) }}
	{{ render_button(form.submitForm) }}
    </form>
    <p>
      <a href="/forgot_password">Forgot your password?</a><br>
      If you do not have a login go <a href="/register">register</a>!
    </p>
{% endblock content %}