{% extends "base.html" %}
{% block title %} - Logout{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Log Out</h3>
    <p>
      You are now logged out.</br>
      <a href="/login">Log back in?</a>
    </p>
{% endblock content %}