{% from "_formhelpers.html" import render_field, render_button %}
{% extends "base.html" %}
{% block pageJS %}<script src="{{ static_base_url }}/pay/js/manage.js"></script>{% endblock pageJS %}
{% block title %} - Saved Accounts{% endblock title %}
{% block content %}

{% with confirms = get_flashed_messages(category_filter=["confirm"]) %}
{% for msg in confirms %}
<h4>{{msg}}</h4>
{% endfor %}
{% endwith %}

<!--
  <button class="btn btn-default wide" id="prioritize">Prioritize</button>
  -->
  <!-- Saved cards panel -->
  <div class="panel-group outer" id="saved-cards">
    <div class="panel manage panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Saved Credit Cards
           <!-- Button trigger modal -->
           {% if cards %}
          <button type="button" class="btn btn-default add bar glyphicon glyphicon-plus" data-toggle="modal" data-target="#modal-card-add"></button>
          {% endif %}
        </h4>
      </div>
      <ul class="list-group">
        <div class="list-group-item">
        {% if cards %}
          <table class="fields">
            <tr>
            <td class="arrow"></td>
            <th class="card cc"><strong>Credit Card Number</strong></th>
            <th class="card exp"><strong>Expires</strong></th>
            <th class="card name"><strong>Name on card</strong></th>
            </tr>
          </table>
        {% else %}
        <strong>No credit cards saved yet. Click the <button type="button" class="btn btn-default add glyphicon glyphicon-plus" data-toggle="modal" data-target="#modal-card-add"></button> to add one!</strong>
        {% endif %}
        </div>
        {% with deletes = get_flashed_messages(category_filter=["deleted_card"]) %}
        {% for number in deletes %}
          <div class="list-group-item manage header deleted">
          <table class="fields">
            <tr>
            <td class="card cc">Card Deleted: {{ number }}</td>
            </tr>
          </table>
         </div>
        {% endfor %}
        {% endwith %}
        {% if cards %}
        {% from "_formhelpers.html" import render_cards %}
        {{ render_cards(cards) }}
        {% endif %}

      </ul>
    </div>
  </div>

<!-- Card Add Modal -->

<div class="modal fade" id="modal-card-add" tabindex="-1" role="dialog" aria-labelledby="label-card-add">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="label-card-add">Add Credit Card</h4>
      </div>
      <div class="modal-body">
        
        {% include "form_card_add.html" %}

      </div>
    </div>
  </div>
</div>
{% with opens = get_flashed_messages(category_filter=["open"]) %}
{% for open in opens %}
{% if open == 'card' %}
 <script> 
    $(function(){
      $('#modal-card-add').modal('show');
    });
  </script>
{% endif %}
{% endfor %}
{% endwith %}


<!-- Card Edit Modal -->
<div class='modal fade' id='modal-card-edit' tabindex='-1' role='dialog' aria-labelledby='label-card-edit'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close edit' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title' id='label-card-edit'>
          Edit Credit Card</h4>
      </div>
      <div class='modal-body'>
      {% include "form_card_edit.html" %}
      </div>
    </div>
   </div>
</div>
{% with opens = get_flashed_messages(category_filter=["open"]) %}
{% for open in opens %}
{% if open == 'card_edit' %}
 <script> 
    $(function(){
      $('#modal-card-edit').modal('show');
    });
  </script>
{% endif %}
{% endfor %}
{% endwith %}

<!-- Saved ach accounts panel -->
  <div class="panel-group outer" id="saved-achs">
    <div class="panel manage panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Saved ACH Accounts
           <!-- Button trigger modal -->
           {% if ach %}
          <button type="button" class="btn btn-default add bar glyphicon glyphicon-plus" data-toggle="modal" data-target="#modal-ach-add"></button>
          {% endif %}
        </h4>
      </div>
      <ul class="list-group">
        <div class="list-group-item">
        {% if achs %}
          <table class="fields">
            <tr>
            <td class="arrow"></td>
            <th class="ach routing"><strong>Routing Number</strong></th>
            <th class="ach account"><strong>Account Number</strong></th>  
            <!--<th class="ach account"><strong>Confirmed</strong></th>-->
            <th class="ach type"><strong>Account Type</strong></th>
            </tr>
          </table>
        {% else %}
        <strong>No ACH accounts saved yet. Click the <button type="button" class="btn btn-default add glyphicon glyphicon-plus" data-toggle="modal" data-target="#modal-ach-add"></button></span> to add one!</strong>
        {% endif %}
        </div>
        {% with deletes = get_flashed_messages(category_filter=["deleted_ach"]) %}
        {% for number in deletes %}
          <div class="list-group-item manage header deleted">
          <table class="fields">
            <tr>
            <td class="ach account">ACH Account Deleted: {{ number }}</td>
            </tr>
          </table>
         </div>
        {% endfor %}
        {% endwith %}
        {% if achs %}
        {% from "_formhelpers.html" import render_ach %}
        {{ render_ach(achs) }}
        {% endif %}

      </ul>
    </div>
  </div>

<!-- ACH Add Modal -->

<div class="modal fade" id="modal-ach-add" tabindex="-1" role="dialog" aria-labelledby="label-ach-add">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="label-ach-add">Add ACH Account</h4>
      </div>
      <div class="modal-body">
      
        {% include "form_ach_add.html" %}

      </div>
    </div>
  </div>
</div>
{% with opens = get_flashed_messages(category_filter=["open"]) %}
{% for open in opens %}
{% if open == 'ach' %}
 <script> 
    $(function(){
      $('#modal-ach-add').modal('show');
    });
  </script>
{% endif %}
{% endfor %}
{% endwith %}



<!--ACH Edit Modal-->
<div class='modal fade' id='modal-ach-edit' tabindex='-1' role='dialog' aria-labelledby='label-ach-edit'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close edit' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title' id='label-ach-edit'>
          Edit ACH/Bank Accounts</h4>
      </div>
      <div class='modal-body'>
      {% include "form_ach_edit.html" %}
      </div>
    </div>
   </div>
</div>
{% with opens = get_flashed_messages(category_filter=["open"]) %}
{% for open in opens %}
{% if open == 'ach_edit' %}
 <script> 
    $(function(){
      $('#modal-ach-edit').modal('show');
    });
  </script>
{% endif %}
{% endfor %}
{% endwith %}

<!--Pending Verify Modal-->
<div class='modal fade confirm' id='modal-ach-pending' tabindex='-1' role='dialog' aria-labelledby='label-ach-pending' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
      <button type='button' class='close edit' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
          Verify Bank Account
      </div>
      <div class='modal-body'>
      {% with errors = get_flashed_messages(category_filter=["verify_error"]) %}
      {% for error in errors %}
      <h4 style="color:#cc0000; text-align:left;">{{error}}</h4>
      {% endfor %}
      {% endwith %}
        <form method="post" id="form-pending" action="/verify_ach">
        <div class="form-group">
          <label for="pending-routing_number">Routing Number:</label>
        </div>
        <div class="form-group">
          <label for="pending-account_number">Account Number:</label>
        </div>
        <div class="form-group">
          <label for="pending-registered_name">Registered Name:</label>
        </div>
        {{ pendingForm.pmt_vault_id }}
        {{ render_field(pendingForm.amount_1, addon="<div class='input-group-addon'>$0.</div>") }}
        {{ render_field(pendingForm.amount_2, addon="<div class='input-group-addon'>$0.</div>") }}
        {{ render_button(pendingForm.submitForm) }}
        </form>
      </div>   
    </div>
  </div>
</div>
{% with ids = get_flashed_messages(category_filter=["verify_id"]) %}
{% for id in ids %}
 <script> 
    $(function(){
      $("button.ach-confirm[data-id={{id}}]").trigger('click');
    });
  </script>
{% endfor %}
{% endwith %}

<div class='modal fade confirm' id='modal-delete-confirm' tabindex='-1' role='dialog' aria-labelledby='label-delete-confirm' aria-hidden='true'>
  <div class='modal-dialog modal-sm'> 
    <div class='modal-content'>
      <div class='modal-header'>
          Are you sure you wish to delete this payment method?
      </div>
      <div class='modal-body'>
        <button type='button' class='btn btn-default btn-confirm' data-dismiss='modal'>Cancel</button>
        <button type='button' id='btn-delete-confirm' class='btn btn-danger btn-confirm'>Delete</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

