  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid nav-container">
      <div class="navbar-header">
        <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="offcanvas" id="toggle-nav" data-target="#navbar-main" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="navbar-main">
        <ul class="nav navbar-nav" id="nav-list">
          {% if not current_user.is_authenticated %}
          <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span>Log In</a></li>
          <li><a href="{{ url_for('route_register') }}"><span class="glyphicon glyphicon-user"></span>Register</a></li>
          {% else %}

          <li><a href="{{ url_for('show_recur') }}"><span class="glyphicon glyphicon-repeat"></span>Recurring Payment</a></li>
          <li><a href="{{ url_for('show_onetime') }}"><span class="glyphicon glyphicon-usd"></span>Onetime Payment</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="manage-menu" data-toggle="dropdown">
               <span class="glyphicon glyphicon-th-list"></span> Account Summaries <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="manage-menu">
              <li><a href="{{ url_for('show_upcoming') }}"><span class="glyphicon glyphicon-forward"></span>Upcoming Charges</a></li>
              <li><a href="{{ url_for('show_history') }}"><span class="glyphicon glyphicon-time"></span>Past Charges</a></li>
              <li><a href="{{ url_for('manage_pmt_meth') }}"><span class="glyphicon glyphicon-credit-card"></span>Saved Payment Methods</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="user-menu" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span>User Settings <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="user-menu">
              <li><a href="{{ url_for('show_settings') }}"><span class="glyphicon glyphicon-user"></span>Account Settings</a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div> <!--/.navbar-collapse-->
    </div> <!--/.container-fluid-->
  </nav>
