{% extends "base.html" %}
{% block pageJS %}<script src="{{ static_base_url }}/pay/js/onetime.js"></script>{% endblock pageJS %}
{% block title %} - Onetime Payment{% endblock title %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<div class="panel-group" id="onetime-payment">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#onetime-payment" href="#onetime-panel">
        <span class="glyphicon glyphicon-chevron-up showit"></span>
        <h4 class="panel-title">
        Make Onetime Payment
        </h4>
      </a>
    </div>
    <div id="onetime-panel" class="panel-collapse collapse in">
      <div class="panel-body">
   
        {% include "form_pmt.html" %}
     
      </div>
    </div>
  </div>              
</div>
{% endblock content %}