{% extends "base.html" %}
{% block title %} - Recurring Payment {% endblock title %}
{% block content %}

{% if pmt_nmi_txn["pmt_method"] == 'card' %}
  {% include "card_pmt.html" %}
{% elif pmt_nmi_txn["pmt_method"] == 'ach' %}
  {% include "ach_pmt.html" %}
{% endif %}

<h3>Recurring Payment</h3>
    <p>
      You have successfully set up a recurring payment with the payment method above.
      Here are the details of the recurring payment:
    </p>
    <table>
    <tr>
      <td>Day of the Month</td>
      <td>{{ recur['day_of_month_suf'] }}</td>
    </tr>
    {%- if recur['start_date'] %}
    <tr>
      <td>Start Date</td>
      <td>{{ recur['start_date'] }}</td>
    </tr>
    {% endif %}
    {%- if recur['end_date'] %}
    <tr>
      <td>End Date</td>
      <td>{{ recur['end_date'] }}</td>
    </tr>
    {% endif %}
    {%- if recur['max_amount'] %}
    <tr>
      <td>Maximum Amount to be Paid</td>
      <td>{{ recur['max_amount'] }}</td>
    </tr>
    {% else %}
    <tr>
      <td>Amount</td>
      <td>Payment in full</td>
    </tr>
    {% endif %}
    {%- if recur['remind_days_before'] %}
    <tr>
      <td colspan='2'>Send me a reminder email {{ recur['remind_days_before'] }} days before the payment is processed.</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan='2'>Note: {{ note or '' }}</td>
    </tr>
  </table>
    <br/>
    <p>
     If you wish to edit or delete this recurring payment, please visit <a href="/"> the pay site </a>.
    </p>
{% endblock content %}
