{% extends "base.html" %}
{% block pageJS %}<script src="{{ static_base_url }}/pay/js/recur.js"></script>{% endblock pageJS %}
{% block title %} - Recurring Payment{% endblock title %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<p class="cleared">
  {%- if current_user.is_authenticated %}
  Hi {{ current_user.email }}!
  {%- endif %}
  Welcome to the payment portal.
</p>

{% from "widgets.html" import recur_widget %}
{{ recur_widget(recurs) }}

<div class="panel-group" id="recurring-payment">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#recurring-payment" href="#recurring-panel">
        <span class="glyphicon glyphicon-chevron-up showit"></span>
        <h4 class="panel-title">
        Set Up Recurring Payment
        </h4>
      </a>
    </div>
    <div id="recurring-panel" class="panel-collapse collapse in">
      <div class="panel-body">          
   
        {% include "form_recur.html" %}
     
      </div>
    </div>
  </div>              
</div>


<!--Recurring Edit Modal-->
<div class='modal fade' id='modal-recur-edit' tabindex='-1' role='dialog' aria-labelledby='label-recur-edit'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close edit' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title' id='label-recur-edit'>
          Edit Recurring Payment</h4>
      </div>
      <div class='modal-body'>
      {% include "form_recur_edit.html" %}
      </div>
    </div>
   </div>
</div>

{% with opens = get_flashed_messages(category_filter=["open"]) %}
{% for open in opens %}
{% if open == 'recur_edit' %}
 <script> 
    $(function(){
      $('#modal-recur-edit').modal('show');
    });
  </script>
{% endif %}
{% endfor %}
{% endwith %}

{% with ids = get_flashed_messages(category_filter=["edit_id"]) %}
{% for id in ids %}
<script>
$(function () {
  $("button.btn-recur-edit[data-id={{id}}]").trigger('click');
});
</script>
{% endfor %}
{% endwith %}

<!--Recur delete confirmation modal-->
<div class='modal fade confirm' id='modal-delete-confirm' tabindex='-1' role='dialog' aria-labelledby='label-delete-confirm' aria-hidden='true'>
  <div class='modal-dialog modal-sm'> 
    <div class='modal-content'>
      <div class='modal-header'>
          Are you sure you wish to delete this recurring payment?
      </div>
      <div class='modal-body'>
        <button type='button' class='btn btn-default btn-confirm' data-dismiss='modal'>Cancel</button>
        <button type='button' id='btn-delete-confirm' class='btn btn-danger btn-confirm'>Delete</button>
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}