{% extends "base.html" %}
{% block title %} - Register{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Register</h3>
    <p>
      Thanks for registering with us. We sent an email to {{ email }}
      (only if that email was in our system).
    </p>
    <p>
      If you don't receive an email from us in the next few minutes,
      please go back and check the email address you typed in. Also it
      might be a good idea to check your junk email folder. If you try
      multiple times and still don't receive an email from us, please
      email billing@microoffice.com with the following information: your
      name, your company name, your customer account ID (if you know
      it), which building you are located at, and the email address you
      would like to use for access to the pay web site.
    </p>
    <p>
      Once you receive the email, click on the link within the email to
      verify that you own the email inbox. You will then be able to set
      a new password.
    </p>
{% endblock content %}
