{% from "_formhelpers.html" import render_field, render_button %}
{% extends "base.html" %}
{% block title %} - Register {% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Register</h3>
    <p>
      Welcome to the Micro Office payment portal.
      {%- if email %}
      {%- else %}
      Please enter your email address below. The email you enter below must already be in our system.
      {%- endif %}
    </p>
    <form action="/register" method="post" id="register">
  {{ form.hidden_tag() }}
	{{ render_field(form.name) }}
	{{ render_field(form.company) }}
	{{ render_field(form.building) }}
	{{ render_field(form.email)}}
	{{ render_button(form.submitForm)}}
    </form>
    <p>
      After you click "Register," an email will be sent to you (if you are in our records).
      Please click on the link in that email to confirm you have ownership of that email inbox.
    </p>
{% endblock content %}
