{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_button %}
{% block title %} - Register/Set Password{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Register/Set Password</h3>
    <p>
      Please enter the password you would like to use.
    </p>
    <form action="/setpasswd" method="post" id="setpasswd">
  {{ form.token }}
  {{ render_field(form.password) }}
  {{ render_field(form.confirm) }}
  {{ render_button(form.submitForm) }}
    </form>
{% endblock content %}
