{% extends "base.html" %}
{% block title %} - Bad Signature in Registration Link{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Bad Signature in Registration Link</h3>
    <p>
      The link you clicked is invalid. Perhaps your email client does not handle links properly. Try copying and pasting the URL into your browser and avoid broken lines.
    </p>
{% endblock content %}
