{% extends "base.html" %}
{% block title %} - Bad Signature in Password Form{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Bad Signature in Password Form</h3>
    <p>
      The form you submitted to set the password has a bad signature.
    </p>
    <p>
      Error: {{ error }}
    </p>
    <p>
      Please <a href="/register">register</a> again.
    </p>
{% endblock content %}
