{% extends "base.html" %}
{% block title %} - Login{% endblock title %}
{% block content %}
    <h1>Micro Office - Payment Portal - Register/Set Password</h1>
    <p>
      Your password has now been set. Please <a href="/login">log in</a>.
    </p>
{% endblock content %}
