{% extends "base.html" %}
{% block title %} - Password Mismatch{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Password Mismatch</h3>
    <p>
      You did not type the same password in the password and confirm password fields. Please go back and fix the problem.
    </p>
{% endblock content %}
