{% extends "base.html" %}
{% block title %} - Expired Registration Link{% endblock title %}
{% block content %}
    <h3>Micro Office - Payment Portal - Expired Registration Link</h3>
    <p>
      You waited too long to click on the registration link. Please try registering again and watch for the email with the confirmation link.
    </p>
{% endblock content %}
