{% extends "base.html" %}
{% block title %} - Unknown Error {% endblock title %}
{% block content %}
<h4>An unknown error has occured. Please email <a href="mailto:bugs@microoffice.com">bugs@microoffice.com</a> with information on what you did to get to this page, and we'll try to fix it as soon as possible.</h4>
{% endblock content %}