{% extends "base.html" %}
{% block pageJS %}<script src="{{ static_base_url }}/pay/js/upcoming.js"></script>{% endblock pageJS %}

{% block title %} - Upcoming Charges{% endblock title %}
{% block content %}

<div class="panel-group outer" id="upcoming-payments">
    <div class="panel manage panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Upcoming Charges
          <a type="button" class="btn btn-default add bar glyphicon glyphicon-plus" href="{{ url_for('show_onetime') }}"></a>
        </h4>
      </div>
      <ul class="list-group">
        {% if upcoming %}
        <div class="list-group-item">
          <table class="fields">
            <tr>
            <td class="arrow"></td>
            <th class="recur day"><strong>Scheduled Date</strong></th>
            <th class="recur amt"><strong>Amount</strong></th>
            <th class="recur amt"><strong>Type</strong></th>
            <th class="recur num"><strong>Card/Account Number</strong></th>
            </tr>
          </table>
        </div>
        {% else %}
        <div class="list-group-item">
        <strong>No upcoming scheduled payments. Click the <span class="glyphicon glyphicon-plus tight"></span> to add one!</strong>
        </div>
        {% endif %}
        {% with deleted_upcoming = get_flashed_messages(category_filter=["deleted_upcoming"]) %}
        {% for info in deleted_upcoming %}
          <div class="list-group-item manage header deleted">
          <table class="fields">
            <tr>
            <td class="recur day"> Scheduled Payment Deleted: {{ info }}</td>
            </tr>
          </table>
         </div>
        {% endfor %}
        {% endwith %}
        {% if upcoming %}

          {% from "_formhelpers.html" import render_upcoming %}
          {{ render_upcoming(upcoming) }}

        {% endif %}
      </ul>
    </div>
  </div>
  {% if upcoming %}
  {% for up in upcoming if up.past %}
  {% if loop.index == 1 %}
  <p>*Dates shown in the past simply mean that for some reason the payment has not processed yet, but will be very soon.</p>
  {% endif %}
  {% endfor %}
  {% endif %}

<!-- Upcoming Payment Edit Modal -->
<div class='modal fade' id='modal-upcoming-edit' tabindex='-1' role='dialog' aria-labelledby='label-upcoming-edit'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close edit' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title' id='label-upcoming-edit'>
          Edit Upcoming Scheduled Charges</h4>
      </div>
      <div class='modal-body'>
      {% include "form_upcoming.html" %}
      </div>
    </div>
   </div>
</div>
{% with opens = get_flashed_messages(category_filter=["open"]) %}
{% for open in opens %}
{% if open == 'upcoming_edit' %}
 <script> 
    $(function(){
      $('#modal-upcoming-edit').modal('show');
    });
  </script>
{% endif %}
{% endfor %}
{% endwith %}


<!--Recur delete confirmation modal-->
<div class='modal fade confirm' id='modal-delete-confirm' tabindex='-1' role='dialog' aria-labelledby='label-delete-confirm' aria-hidden='true'>
  <div class='modal-dialog modal-sm'> 
    <div class='modal-content'>
      <div class='modal-header'>
          Are you sure you wish to delete this upcoming payment?
      </div>
      <div class='modal-body'>
        <button type='button' class='btn btn-default btn-confirm' data-dismiss='modal'>Cancel</button>
        <button type='button' id='btn-delete-confirm' class='btn btn-danger btn-confirm'>Delete</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}