{% from "_formhelpers.html" import render_field, render_button %}
{% extends "base.html" %}
{% block title %} - Account Settings {% endblock title %}
{% block content %}
		{% with errors = get_flashed_messages(category_filter=["error"]) %}
	    {% for error in errors %}
	    	<h4 style="color:#cc0000;">Error: {{error}}</h4>
	    {% endfor %}
    {% endwith %}
    {% with successes = get_flashed_messages(category_filter=["success"]) %}
	    {% for success in successes %}
	    	<h4 style="color:green;">Success: {{success}}</h4>
	    {% endfor %}
    {% endwith %}
    {% with emails = get_flashed_messages(category_filter=["email"]) %}
	    {% for email in emails %}
	    	<h4 style="color:#000066;">An email has been sent to {{email}} to confirm this email address belongs to you. Please check your inbox for a confirmation link. </h4>
	    {% endfor %}
    {% endwith %}
<div class="panel-group" id="settings">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#settings" href="#email">
          <span class="glyphicon glyphicon-chevron-down showit"></span>
          <h4 class="panel-title">
          Change Email
          </h4></a>
        </div>
        {% with opens = get_flashed_messages(category_filter=["open"]) %}
        {% if opens %}
        {% for open in opens %}
        {% if open == 'email' %}
        <div id="email" class="panel-collapse collapse in">
        {% else %}
        <div id="email" class="panel-collapse collapse">
        {% endif %}
        {% endfor %}
        {% else %}
         <div id="email" class="panel-collapse collapse">
        {% endif %}
        {% endwith %}
        <div class="panel-body">          
         
        <form action="/new_email" method="post" id="change-email">
        {{ emailform.hidden_tag() }}
        {{ render_field(emailform.email) }}
        {{ render_button(emailform.submitForm) }}
        </form>
           
        </div>
      </div>
    </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#settings" href="#password">
          <span class="glyphicon glyphicon-chevron-down showit"></span>
          <h4 class="panel-title">
          Change Password
          </h4></a>
        </div>
        {% with opens = get_flashed_messages(category_filter=["open"]) %}
          {% if opens %}
            {% for open in opens %}
              {% if open == 'password' %}
                <div id="password" class="panel-collapse collapse in">
              {% else %}
                <div id="password" class="panel-collapse collapse">
              {% endif %}
            {% endfor %}
          {% else %}
            <div id="password" class="panel-collapse collapse">
          {% endif %}
        {% endwith %}
          <div class="panel-body">
                      
           <form action="/change_password" method="post" id="change-pwrd">
          {{ pwrdform.hidden_tag() }}
	        {{ render_field(pwrdform.old_pwrd) }}
	        {{ render_field(pwrdform.new_pwrd) }}
	        {{ render_field(pwrdform.confirm) }}
	        {{ render_button(pwrdform.submitForm) }}
	        </form>
              
          </div>
        </div>
      </div>
    </div>
{% endblock content %}