






{% macro history_widget(past) %}
<div class="panel-group outer" id="history-panel">
    <div class="panel manage panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            Past Payments
        </h4>
      </div>
      <ul class="list-group">
        <div class="list-group-item">
          {% if past %}
          <table class="fields">
            <tr>
            <td class="arrow"></td>
            <th class="recur day"><strong>Date</strong></th>
            <th class="recur amt"><strong>Amount</strong></th>
            <th class="recur amt"><strong>Payment Account</strong></th>
            <th class="past id"><strong>Payment ID</strong></th>
            </tr>
          </table>
        {% else %}
        <strong>No past payments on record.</strong>
        {% endif %}
        </div>
        {% if past %}
          {% from "_formhelpers.html" import render_past %}
          {{ render_past(past) }}
        {% endif %}
      </ul>
    </div>
  </div>
{% endmacro %}










{% macro recur_widget(recurs) %}
<div class="panel-group outer" id="existing-recurring">
  <div class="panel manage panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"> Existing Recurring Payments:
      </h4>
    </div>
    <ul class="list-group">
      <div class="list-group-item">
      {% if recurs %}
        <table class="fields">
          <tr>
            <td class="arrow"></td>
            <th class="recur day"><strong>Day of the Month</strong></th>
            <th class="recur amt"><strong>Amount</strong></th>
            <th class="recur num"><strong>Payment Account</strong></th>
          </tr>
        </table>
      {% else %}
        <strong>No recurring payments set up yet. Set up one below!</strong>
      {% endif %}
      </div>
      {% with deleted_recurs = get_flashed_messages(category_filter=["deleted_recur"]) %}
        {% for info in deleted_recurs %}
          <div class="list-group-item manage header deleted">
            <table class="fields">
              <tr>
                <td class="recur day"> Recurring Payment Deleted: {{ info }}</td>
              </tr>
            </table>
          </div>
        {% endfor %}
      {% endwith %}
      {% if recurs %}
        {% from "_formhelpers.html" import render_recurs %}
        {{ render_recurs(recurs) }}
      {% endif %}
    </ul>
  </div>
</div>
{% endmacro %}
