body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
td.schedule_date_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 4px;
}
td.schedule_upper_left_corner {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
td.schedule_room_name_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
td.schedule_time {
  font-family: Courier New, Courier, monospace;
  font-size: 10pt;
  background-color: lightblue;
}
td.schedule_header_spacer_column {
  padding: 4px;
  background-color: orange;
}
td.schedule_spacer_column {
  padding: 4px;
  background-color: lightblue;
}
td.schedule_reservation_available_slot {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: lightblue;
  color: grey;
}
td.schedule_reservation_occupied_slot_start_and_end {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: yellow;
  border: 1px solid black;
}
td.schedule_reservation_occupied_slot_start {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: yellow;
  border: 1px solid black;
  border-bottom: 1px none black;
}
td.schedule_reservation_occupied_slot_end {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: yellow;
  border: 1px solid black;
  border-top: 1px none black;
}
td.schedule_reservation_occupied_slot_middle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: yellow;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
td.schedule_action_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
td.schedule_action_body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightblue;
}
fieldset.standard_fieldset {
  border: 1px solid black;
  padding: 8px;
}
td.calendar_month_name_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
td.calendar_day_of_week_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: lightgreen;
}
td.calendar_day_cell {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: right;
  padding: 4px;
}
a.calendar_day_link {
  font-family: Courier New, Courier, monospace;
  text-decoration: none;
  color: black;
}
a.calendar_day_link:hover {
  text-decoration: underline;
}
a.calendar_day_link:link, a.calendar_day_link:visited, a.calendar_day_link:active {
}
td.calendar_month_spacer_column {
  padding: 8px;
}
a.bare_link {
  text-decoration: none;
  color: black;
}
a.bare_link:hover {
  text-decoration: underline;
}
a.bare_link:link, a.bare_link:visited, a.bare_link:active {
}


td.standard_table_body_spacer_column {
  padding: 4px;
  background-color: lightblue;
}


table.standard_table {
  border: 1px solid black;
}
td.standard_table_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 4px;
}
tr.standard_table_column_heading_row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: orange;
}
td.standard_table_column_header_spacer_column {
  padding: 4px;
  background-color: orange;
}
td.standard_table_column_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
tr.standard_table_row_even {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightgrey;
}
tr.standard_table_row_odd {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightblue;
}
td.standard_table_side_padding {
  padding-left: 4px;
  padding-right: 4px;
}
td.standard_table_spacer_column {
  padding-left: 8px;
  padding-right: 8px;
}
td.standard_table_body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightblue;
}
td.standard_table_footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: tan;
  text-align: center;
}
span.time {
  font-family: Courier New, Courier, monospace;
}
td.map_table_key {
  background-color: black;
  color: white;
}
td.map_table_value {
  background-color: orange;
}
a.adjacent_chevron_link {
  text-decoration: none;
  color: white;
}
a.adjacent_chevron_link:hover {
  text-decoration: underline;
}
a.adjacent_chevron_link:link, a.adjacent_chevron_link:visited, a.adjacent_chevron_link:active {
}
table.directory_table {
  border: 1px solid black;
}
tr.directory_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: orange;
}
tr.directory_row_even {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: white;
}
tr.directory_row_odd {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightgrey;
}
td.directory_side_padding {
  padding-left: 4px;
  padding-right: 4px;
}
td.directory_spacer_column {
  padding-left: 8px;
  padding-right: 8px;
}
span.directory_see_alias {
  font-style: italic;
  text-decoration: underline;
}
tr.directory_footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: black;
  color: white;
}
span.attention_notice {
  color: red;
}
