/*
* Base structure and common elements
*/

.cp .mainContent {
	margin:0 0 0 30px;
	position:relative;
}
.cp #hellobox {
	font-weight:bold;
	text-align:right;
	font-size:12px;
	padding:2px 10px 0 0;
}

.cp #mailbox {
	background:url(../images/cp/mailbox.png) no-repeat;
	display:block;
	width:60px;
	height:126px;
	padding:17px 9px 0 43px;
	z-index:100;
	position:absolute;
	right:15px;
	bottom:-60px;
	overflow:hidden;
	color:#000;
	text-decoration:none;
	font-weight:bold;
	font-size:11px;
	text-align:center;
}

.cp #navigation .first a {
	padding:0 0 0 17px;
}

.cp #navigation .first.current a {
	background-image:url(../images/cp/nav_first_left_bg.gif);
}

.cp #breadcrum {
	margin-bottom:20px;
}

.cp #breadcrum li {
	display:inline;
	list-style:none;
}

.cp #breadcrum li + li {
	padding-left:13px;
	background:url(../images/cp/breadcrum-separator.gif) no-repeat 1px center;
}

.cp #breadcrum a {
	color:#000;
	text-decoration:none;
}

.cp #breadcrum a:hover {
	color: #F66013;
	text-decoration: underline;
}

.cp #footer {
	height:54px;
	color:#fff;
}

.cp #footer p {
	line-height:40px;
}

.cp .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #333; opacity: .50;filter:Alpha(Opacity=50); }

.infobox {
	border:#DFE8C8 1px solid;
	padding:7px;
}


.cpbtn { 
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	height:30px;
	border: 0; 
	cursor: pointer;
	font-size:12px;
	color:#fff;
	text-align: center; 
	background: transparent url(../images/cp/btn-bkgn.png) no-repeat right top; 
	padding-right:15px;
	text-decoration:none;
	position:relative;
}

.cpbtn span { 
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	height:30px;
	line-height:30px;
	white-space: nowrap;
	background: transparent url(../images/cp/btn-bkgn.png) no-repeat left -30px; 
	padding-left:15px;
}

.toolbar .cpbtn {
	top:-2px;
}

.cp h4 {
	font-size:13px;
	color:#A5C566;
	margin-bottom:1em;
}

.cp p + p {
	margin-top:1em;
}

/*
* Dashboard
*/

#dashboard {
	margin:20px 0;
}

#cp-sidebar {
	width:140px;
	border-right:#DFE8C8 1px solid;
	margin:0 15px 0 -23px;
	float:left;
}

#cp-sidebar li a {
	padding-left:10px;
	display:block;
}

#dashboard .category {
	list-style:none;
	width:136px;
	margin-right:38px;
	float:left;
	font-weight:bold;
	font-size:16px;
	padding:93px 0 0;
	background:url(../images/cp/dashboard-icons.png) no-repeat;
	line-height:40px;
}

#cp-sidebar .category {
	list-style:none;
	font-weight:bold;
	font-size:16px;
	border-bottom:#DFE8C8 1px solid;
	background:none;
	line-height:50px;
}

#cp-sidebar .category a {
	color:#000;
	text-decoration:none;
}

#dashboard #conference-rooms {
	padding-top:95px;
	line-height:18px;
}

#cp-sidebar #conference-rooms {
	line-height:20px;
	padding:5px 0;
}

#dashboard #account { background-position:-687px 0; }
#dashboard #billing { background-position:-345px 0; }
#dashboard #conference-rooms { background-position:-172px 0; }
#dashboard #phones { background-position:0 0; }
#dashboard #scan-fax { background-position:-516px 0; }

#cp-sidebar #account { background-position:-672px 10px; }
#cp-sidebar #billing { background-position:-330px 10px; }
#cp-sidebar #conference-rooms { background-position:-157px 10px; }
#cp-sidebar #phones { background-position:15px 10px; }
#cp-sidebar #scan-fax { background-position:-501px 10px; }

#cp-sidebar .category.active {
	background:url(../images/cp/dashboard-icons.png) no-repeat;
	padding-top:95px;
}

#cp-sidebar #conference-rooms.active {
	padding:110px 0 0;
}

#dashboard .category.last {
	margin:0;
}

#dashboard ul {
	border-top:#DFE8C8 1px solid;
	margin-top:2px;
	padding:10px 0 0 0;
	font-size:12px;
	line-height:18px;
	font-weight:normal;
}

#cp-sidebar ul {
	display:none;
	border-top:#DFE8C8 1px solid;
	line-height:18px;
	font-size:12px;
	font-weight:normal;
}

#cp-sidebar .active ul {
	display:block;
}

#cp-sidebar #conference-rooms ul {
	margin-top:5px;
}

#dashboard ul li {
	list-style:none;
	padding:0 0 0 20px;
	background:url(../images/cp/dashboard-bullet.png) no-repeat -2px top;
	margin-top:6px;
}

#cp-sidebar ul li {
	list-style:none;
	padding:0 0 0 20px;
	background:url(../images/cp/dashboard-bullet.png) no-repeat 8px 3px;
	line-height:22px;
}

#cp-sidebar .category li a {
	color:#F66013;
}

#cp-sidebar ul li.current {
	background-color:#E9FEDA;
}

#dashboard ul a {
	text-decoration:none;
}

#dashboard ul a:hover {
	text-decoration:underline;
}

#dashboard .notice {
	background:none;
	padding:0;
	font-weight:bold;
}

#network-info {
	margin:100px 0 20px;
}

#network-info .infobox {
	float:left;
	width:280px;
	height:40px;
	padding:15px 7px;
	margin-right:10px;
}

#network-info .infobox + .infobox {
	line-height:40px;
}


/*
* Control Panels
*/

#control-panel {
	margin:30px 0 0 136px;
}

#control-panel.has-info-sidebar {
	margin-right:200px;
}

#control-panel table {
	font-size:11px;
	border:none;
	border-bottom:#DFE8C8 2px solid;
}

#control-panel h1 {
	font-size:20px;
}

#control-panel th {
	background:none;
	border:none;
	border-bottom:#DFE8C8 2px solid;
	color:#000;
	font-size:12px;
	text-align:left;
}

#control-panel td {
	text-align:left;
	padding:.3em .3em;
	border:none;
}

#control-panel td.odd {
	background:#E9FEDA;
}

#control-panel .last-update {
	float:right;
	font-weight:normal;
	font-size:12px;
	line-height:30px;
}

#info-sidebar {
	width:179px;
	position:absolute;
	top:62px;
	right:0;
}

#info-sidebar {
	font-size:11px;
}

.cp .paginator {
	float:right;
}

.cp .paginator li {
	list-style:none;
	display:inline;
	padding-left:10px;
}

.cp .paginator a {
	text-decoration:none;
}

.cp .paginator a:hover {
	text-decoration:underline;
}

/* POP UP EMPLOYEE */
.cp #wrapper #dialog-edit-employee, .cp #wrapper #dialog-add-employee, .cp #wrapper #dialog-edit-call, .cp #wrapper #dialog-resend-fax, .cp #wrapper #dialog-map-room    {display:none;}

.cp .dialog {font-size:11px; position:relative;}

.cp .dialog .title {background:#A6C766; height:40px; padding-left:15px;}

.cp .dialog h1 {color:#FFF; font-size:16px; font-weight:normal; line-height:40px; display:inline;}

.ui-dialog-titlebar-close {position:absolute; display:block; top:30px; right:10px; z-index:10; text-indent:-9999px; background:url(../images/cp/close-button.jpg); height:18px; width:18px;}

.cp .dialog .content {padding:15px; background:#FFF; height:245px;}

.cp .dialog .content table, .cp .dialog .content .info {float:left;}

.cp .dialog .content table, .cp .dialog .content table tr, .cp .dialog .content table td, .input_date {border:0;}

.cp .dialog .content table {width:350px; margin:0px; }

.cp .dialog .content table tr, .cp #control-panel #send-fax tr{height:35px;}

.cp .dialog .content table td {width:175px;}

.cp .dialog .content .input {padding:10px;height:7px; width:165px; border-top:1px solid #dfe8c8; border-left:1px solid #dfe8c8; border-bottom:1px solid #dfe8c8; border-right:1px solid #f7f9f1;}

.cp .dialog .content span, .cp .dialog .content .button-cancel {color:#ff832f;}

.cp .dialog .content .button-save, .cp .button-save {background:url(../images/cp/button-save.png); height:25px; width:60px; border:0; color:#FFF; font-size:10px; cursor:pointer;}

.cp .dialog .content .send-button {margin-top:35px; height:65px;}

.cp .dialog .content .button-cancel, .cp #dialog-add-employee .content span {text-decoration:underline;}

.cp .dialog .content strong {font-weight:bold;}

.cp .dialog .content .info .disable_card {background:url(../images/cp/green_info.png) no-repeat; height:112px; width:360px; padding:20px 30px 30px 30px;}

.cp .dialog .content .info .disable_card .input_date {width:65px; height:15px; padding:5px;}

.cp .dialog .content .info .aditional_info {color:#FF0000; float:right; margin-top:10px;}

.cp #dialog-add-employee .content .info .aditional_info {color:#FF0000; float:none; margin-top:10px;}

/* POP UP EDIT CALL FORWARDING */
.cp  #dialog-edit-call .content {height:200px;}

.cp #control-panel #public-faxing {padding-bottom:20px; position-relative;}

.cp #additional-faxing-info {background:url(../images/cp/green_info2.png) no-repeat; width:384px; height:111px; position:absolute; top:127px; right:158px; padding:20px 35px 20px 10px; font-size:11px;}

.cp #control-panel .line {border-top:#DFE8C8 2px solid;}

.cp #control-panel #send-fax .input {padding:10px;height:5px; width:145px; border:1px solid #dfe8c8;}

/* POP UP RESEDN FAX */
.cp  #dialog-resend-fax .content table {width:500px;}

/* CONFERENCE ROOM*/
.cp #control-panel #conference-room-table {position:relative;}

.cp #control-panel #conference-room-table th{text-align:center; color:#FFF; background:#BADE72; font-size:15px;}

.cp #control-panel #conference-room-table td {border:1px solid #dfe8c8;}

.cp #control-panel #conference-room-table td span {font-size:15px;}

.cp #control-panel #conference-room-table td .orange {color:#F66013; font-weight:bold; cursor:pointer;}

.cp #control-panel #conference-room-table td.reserved {background:#E9FEDA;}

.cp #control-panel #conference-room-table td.my-reservation {background:#F66013;}

.cp #control-panel #conference-room-table td.my-reservation a {color:#FFF;}

.cp #control-panel #reserved-by {background:url(../images/cp/green_reserved_by.png) no-repeat; width:70px; height:15px; position:absolute; margin-top:-510px; left:350px; font-size:10px; padding:30px;}

/* POP UP MAP ROOM */
.cp #dialog-map-room h1 {color:#000; font-weight:bold;}
.cp #dialog-map-room .content {height:200px;}
.cp #dialog-map-room .content table {width:600px;}