@charset "utf-8";
/* CSS Document */

@import url("control-panel-styles.css");

* {
margin: 0;
padding: 0;
outline: none;
}

body {
margin: 0;
padding: 0;
font: 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
background: #e9f3e3 url(../images/bg.jpg) repeat-x;
}


/* ----------------------
	-: General Classes :-
-----------------------*/

img {
border: none;
}

.clear {
clear: both;
}

a.link2black {
	color: #000;
	text-decoration: underline;
}

a.link2black:hover {
	text-decoration: none;
}

.imgLeft {
	float: left;
	padding: 0 10px 0 0;
}

.imgRight {
	float: right;
	padding: 0 0 0 10px;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

a.button {
    background: transparent url(../images/btn_right.gif) no-repeat right;
    color: #fff;
    display: block;
    float: inherit;
    font: normal 18px arial, sans-serif;
    height: 37px;
    padding-right: 7px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url(../images/btn_left.gif) no-repeat;
    display: block;
    line-height: 17px;
    padding: 10px 10px 10px 20px;
	text-transform: uppercase;
}


/* ----------------------
	-: Header :-
-----------------------*/

#header_wrap {
height: 142px;
background: url(../images/header_bg.jpg) no-repeat top center;
}

#header {
width: 896px;
height: 142px;
margin: 0 auto;
position: relative;
}

#header h1 {
position: absolute;
top: 8px;
}

#topMenu {
width: 300px;
height: 37px;
position: absolute;
top: 0;
right: 0;
}

#topMenu a {
font: 12px "trebuchet MS", Arial, verdana;
color: #fff;
text-decoration: none;
font-weight: bold;
}

#topMenu ul{
float:right;
list-style-type: none;
margin:0;
margin-left: 0px; /*Left offset of entire tab menu relative to page*/
padding:0;
}

#topMenu li{
display:inline;
margin:0;
padding:0;
float: left;
}

#topMenu a{
float:left;
background: url(../images/topMenu_left.png) no-repeat left top;
margin:0;
margin-right: 0px; /*spacing between each tab*/
padding:0 0 0 11px;
text-decoration:none;
}

#topMenu a span{
float:left;
display: block;
background: url(../images/topMenu_right.png) no-repeat right top;
padding: 5px 20px 12px 3px;
font-weight:bold;
color:#3B3B3B;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#topMenu a span {float:none;}
/* End IE5-Mac hack */

#topMenu a:hover span {
color: black;
}

/* IE6 Hack*/
/*\*/
* html #topMenu a span {
float:left;
background:url(../images/topMenu_right.png) no-repeat right top;
padding: 5px 20px 12px 3px;
font-weight:bold;
color:#3B3B3B;
cursor: pointer;
}
/**/

#callBox {
width: 180px;
padding: 15px;
position: absolute;
bottom: 0;
right: 0;
font: 16px Arial, Helvetica, sans-serif;
}
#callBox a {
color: #000;
text-decoration:underline;
}

/* ----------------------
	-: Basic Structure :-
-----------------------*/

#wrapper {
width: 896px;
margin: 0px auto;
}

#content_box {
width: 896px;
background: url(../images/content_bg.jpg) repeat-y;
margin: 7px 0 0 0;
}

/* ----------------------
	-: Navigation :-
-----------------------*/

#navigation  {
width: 882px;
height: 56px;
line-height: normal;
overflow: hidden;
padding: 12px 0 0 0;
margin: 0 auto;
position: relative;
}

#navigation li{
display:inline;
margin:0;
padding:0;
float: left;
}

#navigation a{
float:left;
padding:0 0 0 29px;
text-decoration:none;
font-size: 18px;
font-family: "trebuchet MS", Arial, verdana;
font-weight: normal;
line-height: 56px;
height: 56px;
color: #fff;
cursor: pointer;
}

#navigation a span{
float:left;
display: block;
padding: 0 30px 0 0px;
}

#navigation li a:hover {
color: #BADE72;
}

#navigation li a:hover span {
color: #BADE72;
}

#navigation li.current a {
	color: #f66013;
	background: url(../images/nav_left_bg.gif) no-repeat;
	background-position: left;
}

#navigation li.current a span{
	color: #f66013;
	background: url(../images/nav_right_bg.gif) no-repeat right top;
}

/* ----------------------
	-: Slider Css :-
-----------------------*/

.blankBox {
height: 7px;
overflow: hidden;
}

.ss_slider {
width: 872px;
height: 301px;
background: #b0d16c url(../images/loading.gif) no-repeat 300px 130px;
margin: 0 0 0 17px;
}

.sliderwrapper{
position: relative; 
overflow: hidden;
width: 626px;
height: 301px;
}

.sliderwrapper .contentdiv{
visibility: hidden; 
position: absolute; 
left: 0; 
top: 0; 
padding: 0px;
background: white;
width: 626px;
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

#slider4{
height: 301px;
float: left;
}

#paginate-slider4{
width: 235px;
float: right;
}

#paginate-slider4 a img{
width: 64px;
height: 59px;
border: 2px solid #b0d16c;
margin-top: 5px;
padding: 2px;
}

#paginate-slider2 a.selected{
background-color: #fff;
}

#paginate-slider4 a img:hover, #paginate-slider4 a.selected img{
border: 2px solid #fff;
}

.slide-content {
background: #000;
padding: 7px;
color: #fff;
position: absolute;
width: 100%;
left: 0;
bottom: 0;
}

.mainContent {
	width: 838px;
	margin: 0 0 0 23px;
	padding: 23px 0 0 0;
}

/* ----------------------
	-: Sidebar :-
-----------------------*/

.sidebar {
	width: 263px;
	float: left;
}

.sidebar-box {
	width: 263px;
	margin: 0 0 23px 0;
}

.sidebar-box-top {
	width: 263px;
	height: 17px;
	background: url(../images/box-top-bg.gif) no-repeat;
}

.sidebar-box-bottom {
	width: 263px;
	height: 17px;
	background: url(../images/box-bottom-bg.gif) no-repeat;
}

.sidebar-box-main {
	width: 223px;
	background: url(../images/box-main-bg.gif) repeat-y;
	padding: 7px 20px 6px 20px;
	line-height: 18px;
}

.sidebar-box-main h1 {
	margin: 0 0 12px 0;
	padding: 0 0 10px 0;
	font-size: 22px;
	font-weight: normal;
	border-bottom: 1px solid #DFE8C8;
}

.sidebar-box-main ul {
	margin: 10px 0 10px 0;
	padding: 0;
	list-style: none;
}

.sidebar-box-main li {
	margin: 0;
	padding: 0 0 2px 20px;
	font-size: 12px;
	background: url(../images/bullet_round.gif) no-repeat;
	line-height: normal;
}

.sidebar-box-main li a {
	color: #000;
	text-decoration: underline;
}

.sidebar-box-main li a:hover {
	text-decoration: none;
}

/* ----------------------
	-: Rightcontent :-
-----------------------*/
 a {
color: #F66013;
text-decoration:underline;
}

 a:hover {
text-decoration:none;
}

.rightContent {
	width: 552px;
	float: left;
	margin: 0 0 0px 20px;
}

.rightContent h1 {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 30px;
	color: #F66013;
	font-weight: normal;
	line-height: 30px;
}

.rightContent h2 {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 18px;
	color: #96B15D;
	font-weight: normal;
	line-height: 30px;
	text-transform:uppercase
}

.rightContent p {
	margin: 0;
	padding: 0 0 15px 0px;
}

.rightContent ul.disc {
	margin: 5px 0 0 20px;
	padding: 0;
	list-style: none;
}

.rightContent li.disc {list-style:disc;
	margin: 0;
	padding: 0 0 5px 10px;
	font-size: 12px;
	color: #000;}

.rightContent ul.arrow {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
}

.rightContent li.arrow {
	margin: 0;
	padding: 0 0 15px 30px;
	font-size: 14px;
	color: #000;
	background: url(../images/bullet_arrow.gif) no-repeat 0 1px;
}

.border_bottom {
	border-bottom: 1px solid #DFE8C8;
	margin: 10px 0 15px 0;
}

.img_align {
	width: 156px;
	height: 133px;
}

.text_align {
	width: 385px;
	line-height: 18px;
}

p.maintext {
	line-height: 18px;
}


/* ----------------------
	-: table :-
-----------------------*/

table a,
table a:link,
table a:visited {
	border:none;
	}							
	
table {
	width:100%;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
	border-collapse:collapse;
	font-size: 12px;
font-family: "Trebuchet MS", Arial, verdana;
	}
	
tr.odd td	{
	background:#E9F3E3
	}
tr.odd .column1	{
	background:#E9F3E3;
	}	
.column1	{
	background:#E9F3E3;
	}
td {
	color:#000;
	border-bottom:1px solid #E9F3E3;
	border-left:1px solid #E9F3E3;
	padding:.3em 1em;
	text-align:left;
	}		
	td.center {
	text-align:center;
	}			
th {
	font-weight:normal;
	color: #96B15D;
	text-align:left;
	border-bottom: 1px solid #fff;
	border-left:1px solid #fff;
	padding:.3em .3em;
	}							
thead th {
	background:#E9F3E3;
	text-align:center;
	color:#F66013;
	font-size:16px;}	

tfoot th {
	text-align:center;
	background:#f4f9fe;
	}	
tfoot th strong {
	color:#66a3d3;
		}		
tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}	
	
.required_field {font-weight: bold; color:#CC0000;}

/* ----------------------
	-: Footer :-
-----------------------*/

#footer {
	width: 882px;
	height: 78px;
	margin: 0 auto 0 auto;
	font-size: 11px;
}

.footer_links {
	width: 882px;
	height: 46px;
	text-align: center;
	background: #F66013;
	line-height: 16px;
	padding: 8px 0 0 0;
}

.footer_links a {
	color: #fff;
	text-decoration: none;
}

.copyright {
	width: 882px;
	height: 19px;
	text-align: center;
	background: #BADE72;
	padding-top: 5px;
}

/* ----------------------
	-: Code Below Added By Matthew Giebeig, Advantage Internet Marketing 8-5-09 :-
-----------------------*/


.news-source {
	font-size: 10px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

a.invis {
  cursor: text;
  color: black;
  text-decoration: none;
}

a.invis-bold {
  cursor: text;
  color: black;
  text-decoration: none;
}


#header_wrap_blue {
height: 142px;
background: url(../images/header_bg_blue.jpg) no-repeat top center;
}

#facebook-container{
	margin-bottom:9px;
}

.orange_square {
	width:260px;
	height:76px;
	background:url(../images/orange_square.png) top left no-repeat;
	margin-bottom:11px;
	color:#FFFFFF;
}
.orange_square .pad{
	padding:13px 0 0 14px;
}
.orange_square .fs32{
	font-size:32px;
	line-height:32px;
}
.orange_square span{
	font-weight:bold !important;
	font-size:14px;
	line-height:1;
}
.orange_square .left{
	font-size:21px;
	line-height:21px;
	width:57px;
	float:left;
}
.orange_square .right{
 padding-top:5px;
	float:left;
}
.orange_square .right span{
	display:block;
	padding-bottom:4px;
}
.orange_square .input{
	width:135px; height:15px;
	padding:3px 7px;
	background:url(../images/orange_square_input_background.gif) top left no-repeat;
	float:left;
	margin-right:2px;
}
.orange_square .input .email{
	width:134px;
	border:none;
	background:none;
	font-size:13px; color:#999999; font-style:italic;
	font-weight:bold;
	float:left;
}
.orange_square .input .go{
	width:28px; height:29px;
	background:url(../images/orange_go_button.gif) top left no-repeat;
	float:left;
}

#control-panel.noauth {
	margin: 0 0 20px 0;
}

.center {
    text-align: center;
}
