body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
td.standard_table_body_spacer_column {
  padding: 4px;
  background-color: lightblue;
}
table.standard_table {
  border: 1px solid black;
}
td.standard_table_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 4px;
}
tr.standard_table_column_heading_row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: orange;
}
td.standard_table_column_header_spacer_column {
  padding: 4px;
  background-color: orange;
}
td.standard_table_column_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  background-color: orange;
}
tr.standard_table_row_even {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightgrey;
}
tr.standard_table_row_odd {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightblue;
}
td.standard_table_side_padding {
  padding-left: 4px;
  padding-right: 4px;
}
td.standard_table_spacer_column {
  padding-left: 8px;
  padding-right: 8px;
}
td.standard_table_body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: lightblue;
}
td.standard_table_footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: tan;
  text-align: center;
}
tr.standard_table_footer_row {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: tan;
}
td.map_table_key {
  background-color: black;
  color: white;
}
td.map_table_value {
  background-color: orange;
}
fieldset.standard_fieldset {
  border: 1px solid black;
  padding: 8px;
}
a.bare_link {
  text-decoration: none;
  color: black;
}
a.bare_link:hover {
  text-decoration: underline;
}
a.bare_link:link, a.bare_link:visited, a.bare_link:active {
}
span.inverse {
  background-color: black;
  color: white;
}
