{% extends "base.html" %}
{% block greeting %}
  Your MAC Address
{% endblock greeting %}
{% block content %}
<!--TODO: if not found-->
<h3 style='text-align: center;'> Your MAC address is {{ mac }}. Click <a href="{{url}}?mac={{mac}}">here</a> to add this device.</h3>
{% endblock content %}