/*
 *
 * CSS for Microoffice Payment Portal
 * 2016
 *
 * Jacob Rienstra
 *
 */

/* general styling for all pages */
body {
	font-family: "Trebuchet MS";
	color: #0e0e0e;
	overflow-x: hidden;
  margin-bottom: 20px;
}

/* for the rudimentary pages not yet retouched */
#content p {
	margin-left: 30px;
}

#content>form, #content>h1, #content>h2, #content>h3, #content>h4, #content>h5 {
	margin-left: 30px;
}

/* banner placement and color */
#banner {
	text-align: center;
	margin: 15px 0 15px;
	background: #fec85f;
}

/* navbar button icons, to keep not too close to text */
span.glyphicon {
	padding-right: 5px;
}

/* form validation error icons */
.glyphicon {
	top: 2px;
	padding-right: 0px;
}

/* keep navs at fixed height */
nav {
	height: 54px;
}

.navbar-nav {
	display: inline-block;
	float: none;
}

/* extreme padding and margins is to make borders extend entire width of page */
.navbar-nav {
	border: 0 solid #a1c0dd;
	border-width: 1px 0 1px;
	border-radius: 0px;
	padding-left: 3000px;
	padding-right: 3000px;
	margin-left: -3000px;
	margin-right: -3000px;
}

/* outer navbar */
.navbar, .navbar-default {
	text-align: center;
	border: none;
}

/* take away that weird beige */
.navmenu-default, .navbar-default {
	background-color: #fff;
}

/* take away that weird beige */
#navbar-main li>a:hover, #navbar-main li>a:focus {
	background-color: #dae6f1;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
      padding: 10px 10px 10px 30px;
  }
}

.dropdown-menu>li>a {
  padding: 10px 20px;
  background-color: rgb(237, 242, 248);
  border-bottom: 1px solid #dae6f1;
}
/* remove unecessary padding */
@media (min-width: 767px) {
	.nav-container {
		padding: 0px;
	}
}

/* format for small screens */
@media (max-width: 767px) {
	/* needs reformatting, with border */
	.navbar-header {
		padding: 0px;
		border: 0 solid #a1c0dd;
		border-width: 1px 0 1px;
		border-radius: 0px;
	}
	/* placement and shadow for collapsable */
	#navbar-main {
    top: 161px;
		width: 220px !important;
		-webkit-box-shadow: 10px 5px 10px 0px #a1c0dd;
		-moz-box-shadow: 10px 5px 10px 0px #a1c0dd;
  	box-shadow: 10px 5px 10px 0px #a1c0dd;
	}
	/* no extra lines */
	.navbar-nav {
		border: none;
	}
}

/* corner case, positioning of expand menu button */
@media (min-width: 767px) {
	@media (max-width: 767px) {
		.navbar-header {
			width: 100%;
			position: relative;
			left: 15px;
		}
	}
}

/* expand button position */
#toggle-nav {
	margin-left: 15px;
}

/* margins for collapsible payment form panels */
#content>.panel-group {
	margin-left: 2em;
	margin-right: 2em;
	clear: both;
}

/* panel shadows */
.panel {
	-webkit-box-shadow: 2px 2px 2px #a1c0dd;
	-moz-box-shadow: 2px 2px 2px #a1c0dd;
  box-shadow: 2px 2px 2px #a1c0dd;
}

/* text color (dark gray) */
.panel-title, .panel-title a, .panel-title a.collapsed, .panel-title a.collapsed:hover {
	color: #777;
}

.panel-title a[type=button] {
  color: #333;
}

/* dropdown arrows */
.panel-heading span {
  color: #337ab7;
}

/* light border for collapsable panels */
.panel-default, .panel-group .panel, .panel-default>.panel-heading {
	border-radius: 2px;
	border-color: #dae6f1;
	background-color: #fff;
}

/* separating boundary for title and contents of form panels */
.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 2px solid #6a9bc8;
}

/* hides saved accounts drop downs for deployment 
.panel-body>.panel-group {
	display: none;
} */

/* fixed width for saved cards and ach */
#saved-achs, #saved-cards {
	max-width: 600px;
}

/* no extra margins */
.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

/* light borders, fixed width, background color for safari */
.form-group {
	border: 1px solid #dae6f1;
	border-radius: 1px;
	height: 42px;
	max-width: 400px;
	background: #edf2f8;
	width: 100%;
	display: table;
	margin-bottom: 0px;
}

/* table-cell for flexible display, padding for text format */
.form-group label {
	display: table-cell;
	border-radius: 1px;
  color: #0e0e0e;
  padding: 10px 5px 10px 5px;
  background-color: #edf2f8;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 0;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: noraml;
	white-space: normal;
}

/* table-cell for flexible row display, 
 * padding for text format, fixed height, full width */
.form-group input, .form-group button {
  border-radius: 1px;
  margin: 0;
  background-color: #fff;
  display: table-cell;
	border: 0;
	padding: 6px 10px;
	text-indent: 4px;
	height: 42px;
	width: 100%;
}

/* special two inputs per row class */
.left {
	float: left;
}

/* only put this max width when it's needed, otherwise let it fill the row */
@media (min-width: 487px) {
	.half {
		max-width: 200px;
	}
}

/* special adjustments for looks */
@media (min-width: 401px) {
	label[for|="expire_year"] {
		width: 50px;
	}
}

 label[for|="billing_country"] {
	width: 100px;
}

label[for|="billing_state"], label[for|="billing_state_nonus"] {
	width: 90px;
}

label[for|="account_type"] {
	width: 150px;
}

label[for|="owned_by"] {
	width: 200px;
}

label[for|="registered_name"] {
	display: block;
}

/* mainly for dropdowns, but keeps all form parts consistent */
.form-control {
	height: 42px;
	border: 0;
	box-shadow: none;

}

/* positioning of validation error sign */
.form-control-feedback {
	top: 4px !important;
	right: 0px !important;
}

/* red form error */
.has-error .form-control {
	background-color: #f1dbda;
	border: 0;
	border-radius: 1px;
}

.has-feedback .form-control {
	padding-right: 10px;
}

/* at small size, let each input have its own row */
@media (max-width: 400px) {
	.has-feedback .form-control {
		padding-right: 30px;
	}
	.form-group > label:not([for*="pmt_method"]) {
		display: block;
    min-width: 100%;
	}
	/* narrow width of $ sign */
	.input-group-addon {
		padding: 6px;
	}
	label[for="card-amount"], label[for="ach-amount"] {
		width: 75px;
	}
  .form-group > button.radio:not([id*="pmt_method"]) {
    display: block;
  }
}

label.form-control {
	width: 100%;
}

.has-error .input-group-addon {
	border: 0;
}

/* format $ sign */
.input-group-addon {
	height: 42px;
	color: #0e0e0e;
    background-color: #edf2f8;
    border: 0;
    border-left: 1px solid #dae6f1 !important;
    border-radius: 1px;
}

.form-group-special {

}

/* italic placeholders */
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

/* nice looking buttons with gradient */
.btn-default {
  display: block;
	border-radius: 2px;
	font-weight: 700;
	border: 1px solid #b5cde3;
  background: -webkit-linear-gradient(#edf2f8, #dae6f1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#edf2f8, #dae6f1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#edf2f8, #dae6f1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#edf2f8, #dae6f1); /* Standard syntax */
 	margin-top: 15px;
}

.btn-default.wide {
	width: 200px;
}

/* nice looking buttons with gradient click */
.btn-default:hover, .btn-default:active, .btn-default:active:focus {
	border: 1px solid #a1c0dd;
	background: #dae6f1;
}

/* for rudimentary pages */
form p {
	margin: 15px 15px 0 15px;
}
/*
/* for the switch to classic link 
@media (min-width: 1200px) {
	.classic {
		float: right;
		margin-right: 50px;
		margin-bottom: 10px
	}
	/* for top of page stuff 
	.cleared {
		clear: none;
		padding-top: 0px;
		margin-bottom: 10px;
	}
}

@media (max-width: 1200px) {
	.classic {
		float: left;
		margin-left: 30px;
		margin-bottom: 10px;
	}
	/* for top of page stuff 
	.cleared {
		clear: both;
		padding-top: 10px;
	}
	#prioritize {
	  clear: both;
	}
}*/

.classic {
	margin-left: 30px;
	margin-bottom: 10px;
}


/* for rudimentary table feedback */
td {
	padding-right: 10px;
}

p+table, h4+table {
	margin-left: 30px;
}

/* for save accounts panel groups*/
.panel-group.outer{
	margin-left: 2em;
	margin-right: 2em;
	max-width: 700px;
	clear: both;
}

.outer .panel-heading {
	border-bottom: 2px solid #6a9bc8;
}

table.fields {
	width: 100%;
}

@media (min-width: 569px) {
  th.exp, td.exp {
    width: 100px;
    text-align: center;
  }
}

/* small adjustments for ach and card table display */
@media (min-width: 430px) {
	th.cc, td.cc, th.routing, td.routing, th.day, td.day {
		width: 150px;
		text-align: left;
	}

	th.account, td.account, th.amt, td.amt {
		width: 150px;
		text-align: center;
	}

	th.name, td.name, th.type, td.type {
		width: 150px;
	}

  th.num, td.num {
    width: 240px;
  }

  th.id, td.id {
    width: 80px;
  }
}

th.name, td.name, th.type, td.type, th.num, td.num, th.id, td.id {
		text-align: right;
}

th.exp, td.exp th.account, td.account, th.amt, td.amt {
		text-align: center;
}

th.error, td.error {
  color: #cc0000;
}

@media (max-width: 430px) {
	th.cc {
		width: 127px;
	}
	td.name {
		max-width: 100px;
	}
	th.routing {
		min-width: 117px;
	}
  td.num, th.num, {
    max-width: 110px;
  }

  th.id, td.id {
    max-width: 50px;
  }

  td.amt, th.amt {
    text-align: left;
  }

  th.day, td.day {
    width: 70px;
  }
}

th.card, td.card, th.ach, td.ach, th.recur, td.recur, th.past, td.past {
	padding: 0px 10px 0px 10px;
}

@media (max-width: 568px) {
  td.dates {
    float: left;
    padding-bottom: 10px;
  }

  th.card, td.card, th.ach, td.ach, th.recur, td.recur, th.past, td.past {
    padding: 0px 10px 10px 10px;
    display: table-row;
    line-height: 2em;
    border-bottom: 1px solid #c7d9ea;
  }

th.name, td.name, th.type, td.type, th.num, td.num, th.id, td.id, th.exp, td.exp th.account, td.account, th.amt, td.amt {
    text-align: left;
  }

}

td.dates {
  vertical-align: top;
}

/* tight placement of accounts within form */
.list-group {
	margin-bottom: 0px;
}

/* remove shadows from panels within panels */
.list-group>.panel {
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* remove unecessary bottom border on accounts */
.list-group-item {
	border-bottom: 0px;
}

/* nice rounded appearance for accounts */
.list-group-item.manage {
  border-radius: 2px !important ;
  border: 1px solid #c7d9ea !important;
}

/* darkened color for accounrds */
.list-group-item.manage.header {
  background: #edf2f8;
}

/* darkened color for accounrds */
.list-group-item.manage.cancelled {
  background: #b3b3b3;
}

.list-group-item.manage.deleted {
	outline: #cc0000 auto 4px;
  outline-offset: -4px;
  z-index: 2;
}

/* remove blue underlining for link */
.list-group-item>a, a.collapsed, a.collapsed:hover, a.collapsed:active {
	color: #0e0e0e;
	text-decoration: none;
}

/* rounded appearance for accounts containing panel */
.panel.manage {
	border-radius: 2px;
}

/* keep them tight and rounded */
.btn-default.manage {
	margin-top: 0px;
	border-radius: 2px;
  margin-bottom: 10px;
  width: 70px;
}

/* button placement */
.card.manage, .ach.manage, .recur.manage {
	text-align: right;
	padding-bottom: 0px;
	vertical-align: top;
	float: right;
}

/* small add button */
.btn-default.add {
	width: 30px;
	line-height: 1em;
	margin-top: 0px;
	border-radius: 2px;
	padding: 5px;
	top: -5px;
	position: initial;
  display: inline-block;
}

.btn-default.add.bar {
  float: right;
  position: relative;
  display: block;
}

/* top edit button */
.btn-default.edit-bar {
  width: 50px;
  line-height: 1em;
  margin-top: 0px;
  margin-right: 5px;
  border-radius: 2px;
  padding: 5px;
  float: right;
  top: -5px;
  position: relative;
}

/* positioning modals */
.modal {
	top: 150px;
}

/* rounded save buttons */
.btn-default.save {
	border-radius: 2px;
}

/* animation for just added account */
@-webkit-keyframes flash {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}

@keyframes flash {
  from {
  	-moz-transform: scale(1.0);
  	-ms-transform: scale(1.0);
  	transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
  	-moz-transform: scale(1.1);
  	-ms-transform: scale(1.1);
  	transform: scale(1.1);
    opacity: 1.0;
  }
  to { 
  	-moz-transform: scale(1.0);
  	-ms-transform: scale(1.0);
  	transform: scale(1.0);
    opacity: 0.75;
  }
}

.just-added {
	-webkit-animation-name: flash; 
  -webkit-animation-duration: 1.5s; 
	animation-name: flash;
  animation-duration: 1.5s;
}

/* keep glyph in text close */
span.glyphicon.tight {
	padding: 0;
}

/* positioning for prioritize button */
#prioritize {
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  border-radius: 2px;
  float: left;
}

/* hidden non us state form */
.formhide, input[type=checkbox].formhide, input[type=radio].formhide {
	display: none;
}

/* for arrows on dropdows */
span.showit {
	float: left;
}

/* format dropdown arrow indicator */
td.arrow {
	width: 20px;
  padding: 0;
}

/* format list for draggable */
ul#reorder {
	list-style-type: none;
	padding-left: 0px;
}

/* so you know you can drag */
.ui-sortable-handle:hover {
	cursor: move;
}

/* position the save button on the prioritzie modal*/
button.save {
	  position: fixed;
    right: 40px;
    top: -5px;
    width: 100px;
}

/* format checkbox button */
.btn-check, .btn-check:hover, .btn-check:active, .btn-check:focus {
	max-width: 42px !important;
  width: 42px !important;
	border: 2px solid #53923a;
	outline: none !important;
}

button.btn-check {
	background-color: #8cd98c;
	border: 2px solid #53923a;
}

.glyphicon.checkmark {
	position: relative;
	left: -18px;
	top: -5px;
	font-size: 36px;
	margin: 0;
	padding: 0;
}

/* confirm dialogue for deleting */
.confirm .modal-body {
	text-align: center;
}

.btn-confirm {
	width: 100px;
	margin: 0px auto 10px auto;
}

.btn-danger {
	color: black;
	font-weight: 700;
	border-radius: 2px;
}

.btn-danger:hover {
	color: black;
}

/* advanced options for recurring payment form styling*/
button[id|="btn-advanced"] {
  margin-top: 0px;
  width: 100% !important;
  max-width: 400px;
}

 /* formatting for history */
span.warning {
  color: #cc0000;
  font-size: 24px;
}

span.detail {
  font-size: 12px;
  color: black;
}

.invalid-amount {
  color: lightgrey;
}

/* for navbar sticky */
.stuck {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    width: 100%;
}


/* for unconfirmed */
.unconfirmed {
  color: #cc0000;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes "spin" {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

.loading {
  padding: 0px !important;
  -webkit-animation:spin .7s linear infinite;
  -moz-animation:spin .7s linear infinite;
  animation:spin .7s linear infinite;
}

/* To prevent shifting on change of day suffix */
.suffix {
  width: 45px;
}

.flash-error {
  color: #cc0000;
  text-align: center;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  outline-offset: -2px;
  padding: 20px;
  width: 50%;
  border: 1px solid #a94442;
  margin: 0px auto 10px auto;
}

.next-payments {
  color: #cc0000;
  font-weight: bold;
}

#content p.midform {
  margin: 10px 0px;
  max-width: 400px;
}

