{% extends "base.html" %}
{% block content %}
<h3>Interactions By Employee</h3>

{% for id in employees %}
{% set employee = employees[id] %}
<p>
  <dl>
    <h4>{{ employee['first_name'] }} {{ employee['last_name'] }}</h4>
    Total interactions: {{ employee['notes'] | length  }}
  {% for note in employee['notes'] %}
  <dd><a href="{{ operations_fqdn }}/{{ operations_flask }}/space/edit_desk_info/{{ note['desk_id'] }}">{{ note['label'] }} #{{ note['assigned_number'] }}:</a></dd>
  <dd><b>Note:</b> {{ note['note'] }}</dd>
  <dd><b>Date:</b> {{ note['date'] }}</dd>
  {% endfor %}
  </dl>
</p>
{% endfor %}
{% endblock content %}
