{% extends "base.html" %}
{% block content %}
<h3>Interactions</h3>
{% if interaction_desks %}
{% for desk in interaction_desks %}
{% set desk_id = desk['id'] %}
<p>
  <dl>
    <dt><h4><a href="{{ operations_fqdn }}/{{ operations_flask }}/space/edit_desk_info/{{ desk_id }}">{{ desk['label'] }} #{{ desk['assigned_number'] }}:</a></h4></dt>
    {% if desk['acct_name'] %}
    <dd><b>Tenant</b>: {{ desk['acct_name'] }}</dd>
    <dd><b>End Date</b>: {{ desk['end'] }}</dd>
    {% else %}
    <dd>(No active tenant)</dd>
    {% endif %}
    {% for interaction in interactions[desk_id] %}
    <dd><br/></dd>
    {% for key in ['note', 'employee', 'date'] %}
    <dd><b>{{ key }}</b>: {{ interaction[key] }}</dd>
    {% endfor %}
    {% endfor %}
  </dl>
</p>
{% endfor %}
{% else %}
<p>No interactions to report.</p>
{% endif %}

<h3>New or Updated Contracts</h3>

{% if modified_desks %}
{% for desk in modified_desks %}
{% set desk_id = desk['id'] %}
<p><h4><a href="{{ operations_fqdn }}/{{ operations_flask }}/space/edit_desk_info/{{ desk_id }}">{{ desk['label'] }} #{{ desk['assigned_number'] }}</a>:</h4>
<table style="border-collapse:collapse">
  <thead>
    <tr>
      <th></th>
      {% for contract in contracts[desk_id] %}
      <th>
	{{ contract['created_ts'].strftime('%m/%d/%y %I:%M %p') }}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for key in ['name', 'start', 'end', 'price', 'internet', 'internet_lines', 'phone', 'phone_lines', 'num_portal_fees', 'note'] %}
    <tr style="background-color: {{ loop.cycle('#FFF', '#CCC') }}">
      <td>{{ key }}</td>
      {% for contract in contracts[desk_id] %}
      <td>{{ contract[key] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</p>
{% endfor %}
{% else %}
<p>No license changes.</p>
{% endif %}
{% endblock content %}
