.nav-bullet {
  padding-left: 2em;
  padding-top: 1ex;
  padding-bottom: 1ex;
  list-style-type: none;
  background-color: #262626;
}

.nav-bullet:hover {
  background-color: #000000;
}

.nav-selected {
  background-color: #262626;
}

/*= SIDEBAR
---------------------------------------------------------------------------------------------- */
/*.sidebar2 {
  background: #333;
  width: 280px;
  height: 20000px;
  position: absolute;
  text-shadow: 0 1px 0 #000;
}
.sidebar2 a {
  color: #ccc;
  font-weight: 400;
  text-decoration: none !important;
  line-height: 60px !important;
}
.sidebar2 a:hover {
  color: #eee;
}
.sidebar2 .wrapper {
  padding: 0 20px;
}
.sidebar2 .profile {
  background: #333;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(255, 255, 255, 0.05) inset;
  display: block;
  margin: 0 -20px 25px;
  padding: 15px 20px;
  height: 60px;
  line-height: 0px;
}
.sidebar2 .nav {
  padding: 0 0 100px;
}
.sidebar2 .nav > li {
  margin-bottom: 2px;
}
.sidebar2 .nav > li > a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 20px;
  padding: 8px 5px 8px 0;
  margin: 0;
  text-shadow: inherit;
  font-size: 13px;
  font-weight: 500;
}
.sidebar2 .nav > li > a > i {
  color: #777;
  display: inline-block;
  font-size: 14px;
  margin: 0 15px 0 10px;
  text-shadow: 0 0 1px #000;
  text-align: center;
  width: 20px;
}
.sidebar2 .nav > li > a:hover {
  background: #2a2a2a;
}
.sidebar2 .nav > li > a:hover > i {
  color: #eee;
}
.sidebar2 .nav > li > a .label {
  background: #0072C6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  float: right;
  line-height: 20px;
  padding: 0 10px;
}
.sidebar2 .nav > li.active a {
  background: #2a2a2a;
  color: #fff;
}
.sidebar2 .nav > li.active a > i {
  color: #eee;
}
.sidebar2 .nav > li + .nav-header {
  margin-top: 30px;
}
.sidebar2 .nav .nav-header {
  color: #777;
  font-size: 11px;
  font-weight: 400;
  text-shadow: none;
}
.sidebar2 .nav .progress {
  background: #2f2f2f;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0 0 5px;
}
.sidebar2 .nav .progress .bar {
  border: 0;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.sidebar2 .nav .progress + div {
  color: #aaa;
  font-size: 12px;
}
*/