h1,h2,h3,h4,h5,h6 {
	font-weight:300;
	text-transform: uppercase;
	color: #555;
}


/* Tags */
span.tag { padding: 0px 0.6ex; color: #444; }
span.tag.white { color: #fff; }

.green { background: #ACCD8A; }
.cyan { background: #47c3d3; }
.magenta { background: #ef3e42; }
.yellow { background: #fdb412; }

.big { font-size: 1.2em; }
.small { font-size: 0.8em; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{
	display:block;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

/* Form */
div.input.error {
  margin-bottom:1em;
}
div.error-message {
  font-weight:normal;
  color: #ef3e42;
}
fieldset {
  margin-bottom:1.5em; 
}


/* Centered form */
.centered-form {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.centered-form .centered-form-heading,
.centered-form .checkbox {
  margin-bottom: 10px;
}
.centered-form input[type="email"],
.centered-form input[type="text"],
.centered-form input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

form .required label:after {
  color: #e32;
  content: '*';
  display:inline;
}

/* Datetime fields */
div.input.time select,
div.input.date select,
div.input.datetime select,
.input-auto {
  display: inline;
  width: auto;
}



/* Custom styles */
html,
body {
	height: 99.99999%;
	font-family:
    "Ubuntu",
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    "Lucida Grande",
    sans-serif;
}
.navbar {
  background:#444;
}

a.brand img {
  max-height:20px;
}

#flashMessage {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.thumbnail-xxsmall {
  max-height:40px;
  max-width:40px;
}
.thumbnail-xsmall {
  max-height:60px;
  max-width:60px;
}
.thumbnail-small {
  max-height:80px;
  max-width:80px;
}
.thumbnail-medium {
  max-height:100px;
  max-width:100px;
}
.thumbnail-large {
  max-height:120px;
  max-width:120px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push,
#footer {
	height: 60px;
}
#footer {
	border-top:1px solid rgba(0,0,0,0.1);
	background-color: #f5f5f5;
}

#wrap > .container {
	padding-top: 60px;
}
.container .credit {
	margin: 20px 0;
}

code {
	font-size: 80%;
}

@media (max-width: 767px) {
	#wrap > .container {
		padding-top:60px!important;
	}
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
.docs-heading {
	padding:0.3em 0;
	overflow:hidden;
}
.docs-heading h2 {
	float:left;
	color:#fff;
	text-transform:uppercase;
	font-weight:300;
	font-size:1.4em;
	line-height:1.4em;
	text-shadow:1px 1px 4px #e21400;
}
.centered {
  text-align: center;
  vertical-align: middle;
}

.gmaps_content {
  margin-left: 4em;
}

.gmaps_content p {

  padding: 0px;
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}

/* Paging */
.paging span,
.paging span.current:hover,
.paging span.disabled:hover {
  padding: 1ex 1em;
  margin: 2px;
  background: #f5f5f5;
  border-radius: 4px;
  border:1px solid rgba(0,0,0,0.1);
}
.paging span:hover {
  background: #eee;
}
.paging span a {
  height:100%;
  width:100%;
}



/*
*/
.mailbar {
  background-color:#eee; 
  padding:1ex; 
  margin:1ex;
  /*padding: 19px 29px 29px;*/
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      box-shadow: 0 1px 2px rgba(0,0,0,.05);
  vertical-align: middle;
}

/* Definition List */
dl {
  margin: 0em 0em;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
  background: #e6e6e6;
}
dt {
  font-weight: bold;
  padding-left: 4px;
  width: 15em;
  line-height:2.0em;
}
dd {
  color: #111;
  margin-top:-2.0em;
  margin-left: 15em;
  line-height:2.0em;
}

/* Clickable Element */
.clickable:hover {
  cursor:pointer;
}

/* Pagination Order Arrows */
th a.asc:after {
  content: ' ⇡';
}
th a.desc:after {
  content: ' ⇣';
}


.highlight { 
  background-color: #e3e83a;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

th.shrink, td.shrink { width:0px; }
th.stretch, td.stretch { width:auto; }
th.nowrap, td.nowrap { white-space:nowrap }

th.left, td.left { text-align:left; }
th.center, td.center { text-align:center; }
th.right, td.right { text-align:right; }
