<div class="licenseAgreements form">
<?php echo $this->Form->create('LicenseAgreement', array('type' => 'file')); ?>
	<fieldset>
		<legend><?php echo __('Add License Agreement'); ?></legend>
		<input type="file" name="data[LicenseAgreement][file][0]" style="line-height:0px;" />
	
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
